docs/n8n/backups/create-new-user-20260622-214605.json
{"updatedAt":"2026-02-08T22:30:06.015Z","createdAt":"2026-02-08T21:02:31.566Z","id":"rWjrzwRwjPA4beRd","name":"create-new-user-n8n","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Create a new user for Wingsuite","formFields":{"values":[{"fieldLabel":"email","fieldType":"email","placeholder":"Emailadres","requiredField":true},{"fieldLabel":"name","placeholder":"John Doe","requiredField":true},{"fieldLabel":"plan","fieldType":"dropdown","defaultValue":"starter","fieldOptions":{"values":[{"option":"starter"},{"option":"growth"},{"option":"pro"}]},"requiredField":true}]},"responseMode":"lastNode","options":{"appendAttribution":false,"buttonLabel":"Register new user","ignoreBots":true}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-96,-48],"id":"8a613e5f-9945-4e9a-883d-6921422c4b86","name":"On form submission","webhookId":"22e24da0-c6ea-44f2-b01b-c85d6ab890e9"},{"parameters":{"defineForm":"json","jsonOutput":"=  [\n    {{ $json.select.toJsonString() }},\n    {\n      \"fieldLabel\": \"Company Name\",\n      \"fieldType\": \"text\",\n      \"requiredField\": false,\n      \"placeholder\": \"Only if creating new company\"\n    },\n    {\n      \"fieldLabel\": \"Domain\",\n      \"fieldType\": \"dropdown\",\n      \"requiredField\": false,\n      \"fieldOptions\": {\n        \"values\": [\n          { \"option\": \"ai.emotion.nl\" },\n          { \"option\": \"console.wingsuite.io\" }\n        ]\n      }\n    }\n  ]","options":{"formTitle":"Select / Create a new company","buttonLabel":"Save"}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[512,-48],"id":"ca369669-825b-4fed-9893-4e1294828e33","name":"Form","webhookId":"7dd2afcd-bd22-482d-aaf9-c48f1ffaaffb"},{"parameters":{"operation":"executeQuery","query":"  SELECT key,name FROM portal_client","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[112,-48],"id":"d06a898a-7578-4b36-b881-5f417fde4fb7","name":"Fetch existing clients","credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"jsCode":"const options = [];\n  const mapping = {};\n\n  // Add \"Create new company\" as first option\n  options.push({ option: \"➕ Create new company\" });\n  mapping[\"➕ Create new company\"] = \"NEW\";\n\n  for (const item of $input.all()) {\n    options.push({ option: item.json.name });\n    mapping[item.json.name] = item.json.key;\n  }\n\n  const select = {\n    fieldLabel: \"client\",\n    fieldType: \"dropdown\",\n    fieldOptions: { values: options },\n    requiredField: true\n  };\n\n  return { select, mapping };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,-48],"id":"371c6bbb-ee61-49f2-b4e1-85015d431b7b","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"169e24e7-3b1e-4b5d-94e6-bcbb3922ef39","leftValue":"={{ $json.client }}","rightValue":"➕ Create new company","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[720,-48],"id":"5cd6bdea-e354-432a-a43e-1c62ee9b3cdf","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"81042e22-1205-43e1-b3b5-68a33291c951","leftValue":"={{ $('Form').item.json['Company Name'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[928,-144],"id":"dbe1f6a4-96d8-4056-b03e-f5f3e8e058c0","name":"If1"},{"parameters":{"jsCode":"const formData = $('On form submission').first().json;  // adjust node name if needed\nlet companyName = $input.first().json.client ?? $input.first().json['Company Name'];\ncompanyName = companyName.toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-|-$/g, '');\n  const chars = 'ABCDEFGHJKLMNPQRSTUVWXYZabcdefghjkmnpqrstuvwxyz23456789!@#$%';\n  let password = '';\n  for (let i = 0; i < 16; i++) {\n    password += chars.charAt(Math.floor(Math.random() * chars.length));\n  }\n\n  return [{\n    json: {\n      ...formData,\n      password,\n      companyName\n    }\n  }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,-32],"id":"764c0641-5d37-4fc8-bc59-6b93070f72f8","name":"Code in JavaScript1"},{"parameters":{"operation":"completion","completionTitle":"Failed to create new user","completionMessage":"Please fill in the company name when creating a new company","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[1136,-240],"id":"b002a04d-46c7-4816-9f3a-43bbc7f2c545","name":"Failed to create new user / client","webhookId":"e3950af2-a009-41c4-ae79-1516b8c976a0"},{"parameters":{"jsCode":"const companyName = $('Form').first().json['Company Name'];\n  const clientKey = companyName\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-|-$/g, '');\n\n  return [{\n    json: {\n      ...$json,\n      client_key: clientKey,\n      domain: $('Form').first().json.Domain\n    }\n  }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,-96],"id":"2e7e46f3-a294-4ebd-99df-a0cdff8fd220","name":"prepare new client data"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO portal_client (key, name, domain, created_at, updated_at)\n  VALUES ($1, $2, $3, NOW(), NOW())\n  ON CONFLICT (key) DO UPDATE SET updated_at = NOW()\n  RETURNING key","options":{"queryReplacement":"={{ $json.client_key }},\n{{ $json['Company Name']}},\n{{ $json.domain }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1344,-96],"id":"f67c5d03-eb8f-439d-8f73-2ba11386c2a5","name":"Create new client","credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"=https://workflow.wingsuite.io/api/v1/users","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","sendBody":true,"specifyBody":"json","jsonBody":"=[\n    {\n      \"email\": \"{{ $json.email }}\",\n      \"firstName\": \"{{ $json.name }}\",\n      \"role\": \"global:member\"\n    }\n  ]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1824,-32],"id":"8dede2ae-1936-43ff-a64a-f5ff61b53bea","name":"HTTP Request","credentials":{"n8nApi":{"id":"OA7COp4CreXMJyxJ","name":"n8n account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \"projectId\"\n  FROM project_relation\n  WHERE \"userId\" = $1\n  AND role = 'project:personalOwner'","options":{"queryReplacement":"={{ $json.user.id }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2032,-32],"id":"7ce1f0d9-61af-43ad-a3a2-fbf31045c199","name":"Fetch projectId from new user","credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO portal_user (n8n_user_id, client, role, plan, client_key, settings, linkedin_profile)\n  VALUES ($1, $2, $3, $4, $5, $6, $7)\n  ON CONFLICT (n8n_user_id) DO NOTHING\n  RETURNING n8n_user_id","options":{"queryReplacement":"={{ $('HTTP Request').item.json.user.id }}\n{{ $('Code in JavaScript1').item.json.companyName }}\n{{'editor'}}\n{{ $('Code in JavaScript1').item.json.plan }}\n{{ $('Code in JavaScript1').item.json.companyName }}\n{{ 'null' }}\n{{ 'null' }}","replaceEmptyStrings":false}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2240,-32],"id":"ca8c778f-fc0a-4615-b87d-ebd4a029be73","name":"INSERT INTO portal_user table","credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO shared_credentials (\"credentialsId\", \"projectId\", role, \"createdAt\", \"updatedAt\")\n  SELECT \"credentialsId\", $1, 'credential:user', NOW(), NOW()\n  FROM shared_credentials\n  WHERE \"projectId\" = '5wB8K4Dwm33EnlQ1'\n  ON CONFLICT (\"credentialsId\", \"projectId\") DO NOTHING","options":{"queryReplacement":"={{ $('Fetch projectId from new user').item.json.projectId }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2448,-32],"id":"7ee51c3f-7a6c-4306-8b78-d03f9fcb7a80","name":"Select all default credentials","credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"operation":"completion","completionTitle":"Successfully created new user","completionMessage":"=</br></br>\n  Email: {{ $('Code in JavaScript1').item.json.email }} </br>\n  Client: {{ $('Code in JavaScript1').item.json.companyName }} </br>\n  Plan: {{ $('Code in JavaScript1').item.json.plan }} </br></br>\n\n  Invite Link:\n  <a href=\"{{ $('HTTP Request').item.json.user.inviteAcceptUrl }}\">link</a></br></br>\n\n  Share this link with the new user to set their password.","options":{"formTitle":"Successfully created new user"}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[2656,-32],"id":"8496ddb9-ffa3-4907-b023-0b77aa4846f0","name":"Successfully created a user","webhookId":"0a097af5-bfbe-462b-b8a8-9618ca9d997c"}],"connections":{"On form submission":{"main":[[{"node":"Fetch existing clients","type":"main","index":0}]]},"Fetch existing clients":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Form","type":"main","index":0}]]},"Form":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"Code in JavaScript1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Failed to create new user / client","type":"main","index":0}],[{"node":"prepare new client data","type":"main","index":0}]]},"Failed to create new user / client":{"main":[[]]},"prepare new client data":{"main":[[{"node":"Create new client","type":"main","index":0}]]},"Create new client":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Fetch projectId from new user","type":"main","index":0}]]},"Fetch projectId from new user":{"main":[[{"node":"INSERT INTO portal_user table","type":"main","index":0}]]},"INSERT INTO portal_user table":{"main":[[{"node":"Select all default credentials","type":"main","index":0}]]},"Select all default credentials":{"main":[[{"node":"Successfully created a user","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","timezone":"Europe/Amsterdam","callerPolicy":"any","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3ac60d11-de70-4fe5-90c3-ff90588d06a2","activeVersionId":"3ac60d11-de70-4fe5-90c3-ff90588d06a2","versionCounter":45,"triggerCount":1,"shared":[{"updatedAt":"2026-02-08T21:02:31.566Z","createdAt":"2026-02-08T21:02:31.566Z","role":"workflow:owner","workflowId":"rWjrzwRwjPA4beRd","projectId":"5wB8K4Dwm33EnlQ1","project":{"updatedAt":"2025-07-21T19:35:37.093Z","createdAt":"2025-06-12T18:54:37.299Z","id":"5wB8K4Dwm33EnlQ1","name":"Wingsuite Root Folder","type":"team","icon":{"type":"icon","value":"layer-group"},"description":"Wingsuite Roots","creatorId":null}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-08T22:30:06.019Z","createdAt":"2026-02-08T22:30:06.019Z","versionId":"3ac60d11-de70-4fe5-90c3-ff90588d06a2","workflowId":"rWjrzwRwjPA4beRd","nodes":[{"parameters":{"formTitle":"Create a new user for Wingsuite","formFields":{"values":[{"fieldLabel":"email","fieldType":"email","placeholder":"Emailadres","requiredField":true},{"fieldLabel":"name","placeholder":"John Doe","requiredField":true},{"fieldLabel":"plan","fieldType":"dropdown","defaultValue":"starter","fieldOptions":{"values":[{"option":"starter"},{"option":"growth"},{"option":"pro"}]},"requiredField":true}]},"responseMode":"lastNode","options":{"appendAttribution":false,"buttonLabel":"Register new user","ignoreBots":true}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-96,-48],"id":"8a613e5f-9945-4e9a-883d-6921422c4b86","name":"On form submission","webhookId":"22e24da0-c6ea-44f2-b01b-c85d6ab890e9"},{"parameters":{"defineForm":"json","jsonOutput":"=  [\n    {{ $json.select.toJsonString() }},\n    {\n      \"fieldLabel\": \"Company Name\",\n      \"fieldType\": \"text\",\n      \"requiredField\": false,\n      \"placeholder\": \"Only if creating new company\"\n    },\n    {\n      \"fieldLabel\": \"Domain\",\n      \"fieldType\": \"dropdown\",\n      \"requiredField\": false,\n      \"fieldOptions\": {\n        \"values\": [\n          { \"option\": \"ai.emotion.nl\" },\n          { \"option\": \"console.wingsuite.io\" }\n        ]\n      }\n    }\n  ]","options":{"formTitle":"Select / Create a new company","buttonLabel":"Save"}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[512,-48],"id":"ca369669-825b-4fed-9893-4e1294828e33","name":"Form","webhookId":"7dd2afcd-bd22-482d-aaf9-c48f1ffaaffb"},{"parameters":{"operation":"executeQuery","query":"  SELECT key,name FROM portal_client","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[112,-48],"id":"d06a898a-7578-4b36-b881-5f417fde4fb7","name":"Fetch existing clients","credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"jsCode":"const options = [];\n  const mapping = {};\n\n  // Add \"Create new company\" as first option\n  options.push({ option: \"➕ Create new company\" });\n  mapping[\"➕ Create new company\"] = \"NEW\";\n\n  for (const item of $input.all()) {\n    options.push({ option: item.json.name });\n    mapping[item.json.name] = item.json.key;\n  }\n\n  const select = {\n    fieldLabel: \"client\",\n    fieldType: \"dropdown\",\n    fieldOptions: { values: options },\n    requiredField: true\n  };\n\n  return { select, mapping };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,-48],"id":"371c6bbb-ee61-49f2-b4e1-85015d431b7b","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"169e24e7-3b1e-4b5d-94e6-bcbb3922ef39","leftValue":"={{ $json.client }}","rightValue":"➕ Create new company","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[720,-48],"id":"5cd6bdea-e354-432a-a43e-1c62ee9b3cdf","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"81042e22-1205-43e1-b3b5-68a33291c951","leftValue":"={{ $('Form').item.json['Company Name'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[928,-144],"id":"dbe1f6a4-96d8-4056-b03e-f5f3e8e058c0","name":"If1"},{"parameters":{"jsCode":"const formData = $('On form submission').first().json;  // adjust node name if needed\nlet companyName = $input.first().json.client ?? $input.first().json['Company Name'];\ncompanyName = companyName.toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-|-$/g, '');\n  const chars = 'ABCDEFGHJKLMNPQRSTUVWXYZabcdefghjkmnpqrstuvwxyz23456789!@#$%';\n  let password = '';\n  for (let i = 0; i < 16; i++) {\n    password += chars.charAt(Math.floor(Math.random() * chars.length));\n  }\n\n  return [{\n    json: {\n      ...formData,\n      password,\n      companyName\n    }\n  }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,-32],"id":"764c0641-5d37-4fc8-bc59-6b93070f72f8","name":"Code in JavaScript1"},{"parameters":{"operation":"completion","completionTitle":"Failed to create new user","completionMessage":"Please fill in the company name when creating a new company","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[1136,-240],"id":"b002a04d-46c7-4816-9f3a-43bbc7f2c545","name":"Failed to create new user / client","webhookId":"e3950af2-a009-41c4-ae79-1516b8c976a0"},{"parameters":{"jsCode":"const companyName = $('Form').first().json['Company Name'];\n  const clientKey = companyName\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-|-$/g, '');\n\n  return [{\n    json: {\n      ...$json,\n      client_key: clientKey,\n      domain: $('Form').first().json.Domain\n    }\n  }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,-96],"id":"2e7e46f3-a294-4ebd-99df-a0cdff8fd220","name":"prepare new client data"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO portal_client (key, name, domain, created_at, updated_at)\n  VALUES ($1, $2, $3, NOW(), NOW())\n  ON CONFLICT (key) DO UPDATE SET updated_at = NOW()\n  RETURNING key","options":{"queryReplacement":"={{ $json.client_key }},\n{{ $json['Company Name']}},\n{{ $json.domain }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1344,-96],"id":"f67c5d03-eb8f-439d-8f73-2ba11386c2a5","name":"Create new client","credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"=https://workflow.wingsuite.io/api/v1/users","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","sendBody":true,"specifyBody":"json","jsonBody":"=[\n    {\n      \"email\": \"{{ $json.email }}\",\n      \"firstName\": \"{{ $json.name }}\",\n      \"role\": \"global:member\"\n    }\n  ]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1824,-32],"id":"8dede2ae-1936-43ff-a64a-f5ff61b53bea","name":"HTTP Request","credentials":{"n8nApi":{"id":"OA7COp4CreXMJyxJ","name":"n8n account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \"projectId\"\n  FROM project_relation\n  WHERE \"userId\" = $1\n  AND role = 'project:personalOwner'","options":{"queryReplacement":"={{ $json.user.id }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2032,-32],"id":"7ce1f0d9-61af-43ad-a3a2-fbf31045c199","name":"Fetch projectId from new user","credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO portal_user (n8n_user_id, client, role, plan, client_key, settings, linkedin_profile)\n  VALUES ($1, $2, $3, $4, $5, $6, $7)\n  ON CONFLICT (n8n_user_id) DO NOTHING\n  RETURNING n8n_user_id","options":{"queryReplacement":"={{ $('HTTP Request').item.json.user.id }}\n{{ $('Code in JavaScript1').item.json.companyName }}\n{{'editor'}}\n{{ $('Code in JavaScript1').item.json.plan }}\n{{ $('Code in JavaScript1').item.json.companyName }}\n{{ 'null' }}\n{{ 'null' }}","replaceEmptyStrings":false}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2240,-32],"id":"ca8c778f-fc0a-4615-b87d-ebd4a029be73","name":"INSERT INTO portal_user table","credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO shared_credentials (\"credentialsId\", \"projectId\", role, \"createdAt\", \"updatedAt\")\n  SELECT \"credentialsId\", $1, 'credential:user', NOW(), NOW()\n  FROM shared_credentials\n  WHERE \"projectId\" = '5wB8K4Dwm33EnlQ1'\n  ON CONFLICT (\"credentialsId\", \"projectId\") DO NOTHING","options":{"queryReplacement":"={{ $('Fetch projectId from new user').item.json.projectId }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2448,-32],"id":"7ee51c3f-7a6c-4306-8b78-d03f9fcb7a80","name":"Select all default credentials","credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"operation":"completion","completionTitle":"Successfully created new user","completionMessage":"=</br></br>\n  Email: {{ $('Code in JavaScript1').item.json.email }} </br>\n  Client: {{ $('Code in JavaScript1').item.json.companyName }} </br>\n  Plan: {{ $('Code in JavaScript1').item.json.plan }} </br></br>\n\n  Invite Link:\n  <a href=\"{{ $('HTTP Request').item.json.user.inviteAcceptUrl }}\">link</a></br></br>\n\n  Share this link with the new user to set their password.","options":{"formTitle":"Successfully created new user"}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[2656,-32],"id":"8496ddb9-ffa3-4907-b023-0b77aa4846f0","name":"Successfully created a user","webhookId":"0a097af5-bfbe-462b-b8a8-9618ca9d997c"}],"connections":{"On form submission":{"main":[[{"node":"Fetch existing clients","type":"main","index":0}]]},"Fetch existing clients":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Form","type":"main","index":0}]]},"Form":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"Code in JavaScript1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Failed to create new user / client","type":"main","index":0}],[{"node":"prepare new client data","type":"main","index":0}]]},"Failed to create new user / client":{"main":[[]]},"prepare new client data":{"main":[[{"node":"Create new client","type":"main","index":0}]]},"Create new client":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Fetch projectId from new user","type":"main","index":0}]]},"Fetch projectId from new user":{"main":[[{"node":"INSERT INTO portal_user table","type":"main","index":0}]]},"INSERT INTO portal_user table":{"main":[[{"node":"Select all default credentials","type":"main","index":0}]]},"Select all default credentials":{"main":[[{"node":"Successfully created a user","type":"main","index":0}]]}},"authors":"Ben van Steenbergen","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-08T22:30:06.185Z","id":653,"workflowId":"rWjrzwRwjPA4beRd","versionId":"3ac60d11-de70-4fe5-90c3-ff90588d06a2","event":"activated","userId":"64e933f4-3ff2-4261-8186-b09ac50d85ed"}]}}