docs/n8n/backups/radar-scout-20260629-174922.json
{"updatedAt":"2026-06-08T21:05:30.107Z","createdAt":"2026-04-20T20:36:29.104Z","id":"C4ClYsTCFsShycCm","name":"radar-scout","description":"","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"radar-scout","responseMode":"responseNode","options":{}},"id":"42b7087b-78cf-4825-827c-97cb52c6ac85","name":"Webhook","type":"n8n-nodes-base.webhook","position":[-1760,224],"webhookId":"b1000001-0001-4000-8000-100000000001","typeVersion":2},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":"dbf8RGXgL1Up2KzF","cachedResultName":"jwt-validation"},"workflowInputs":{"value":{"cookie":"={{ $json.headers.cookie }}"},"schema":[{"id":"cookie","type":"string","display":true,"removed":false,"required":false,"displayName":"cookie","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["cookie"],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"3c791d6b-6a24-4767-8f6d-92e646e6a6b3","name":"Fetch User","type":"n8n-nodes-base.executeWorkflow","position":[-1536,224],"typeVersion":1.2,"onError":"continueErrorOutput"},{"parameters":{"respondWith":"json","responseBody":"{ \"valid\": \"false\" }","options":{}},"id":"37932cfd-d523-4d09-b63d-e86400d1ad19","name":"Respond Error","type":"n8n-nodes-base.respondToWebhook","position":[-1328,352],"typeVersion":1.4},{"parameters":{"operation":"executeQuery","query":"SELECT COALESCE(settings->'radar'->>'priorities_markdown', '') as markdown FROM portal_user WHERE n8n_user_id = '{{ $json.user_id }}'::uuid","options":{}},"id":"2871e772-5b34-42bc-8375-0fde2565b4e4","name":"Read Priorities","type":"n8n-nodes-base.postgres","position":[-1328,144],"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, url, name, category, tone_tag, because_quote, status FROM radar_sources WHERE user_id = '{{ $('Fetch User').item.json.user_id }}'::uuid AND status IN ('followed', 'naylisted', 'proposed') ORDER BY status, created_at DESC","options":{}},"id":"83955426-774a-4af7-b9e7-542acb696f79","name":"Read Sources","type":"n8n-nodes-base.postgres","position":[-1104,144],"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"jsCode":"const body = $('Webhook').item.json.body || {};\nconst mode = body.mode || 'A';\nconst message = body.message || '';\nconst history = body.history || '';\nlet sessionId = body.session_id;\nif (sessionId === undefined || sessionId === null || sessionId === '') {\n  sessionId = 'scout-' + Date.now() + '-' + Math.random().toString(36).slice(2, 10);\n}\nconst userId = $('Fetch User').item.json.user_id;\nconst clientId = $('Fetch User').item.json.client_id;\n\n// --- Company profile the user already gave during the brand interview ---\nconst pc = body.profile_context || {};\nconst summary = pc.profile_summary || pc;\nfunction arr(v) { return Array.isArray(v) ? v.filter(Boolean) : (v ? [v] : []); }\nconst pName = summary.name || '';\nconst pIndustry = summary.industry || '';\nconst pTagline = summary.tagline || '';\nconst pAudience = summary.audience || '';\nconst pTone = arr(summary.tone_keywords);\nconst pTypes = arr(summary.content_types);\nconst recsSrc = pc.recommendations || (pc.website_scan && pc.website_scan.recommendations) || [];\nconst recs = arr(recsSrc);\nconst hasProfile = (pName || pIndustry || pAudience) ? true : false;\n\nlet profileBlock = 'No company profile on file yet — ask a little more before curating.';\nif (hasProfile) {\n  const lines = [];\n  if (pName) lines.push('Company: ' + pName);\n  if (pIndustry) lines.push('Industry: ' + pIndustry);\n  if (pTagline) lines.push('Tagline: ' + pTagline);\n  if (pAudience) lines.push('Audience: ' + pAudience);\n  if (pTone.length) lines.push('Tone: ' + pTone.join(', '));\n  if (pTypes.length) lines.push('Content they make: ' + pTypes.join(', '));\n  if (recs.length) {\n    const r = recs.slice(0, 5).map(function (x) {\n      return '- ' + (x.topic || x.format || '') + (x.reason ? ' (' + x.reason + ')' : '');\n    }).join('\\n');\n    lines.push('Ideas already surfaced from their website scan:\\n' + r);\n  }\n  profileBlock = lines.join('\\n');\n}\n\n// --- Existing radar state ---\nlet priorities = $('Read Priorities').first().json.markdown || '';\nif (priorities === '' && hasProfile) {\n  priorities = [\n    '## What they do',\n    (pName ? pName + ' — ' : '') + (pTagline || pIndustry || ''),\n    '',\n    '## Who it is for',\n    pAudience || '',\n    '',\n    '## Voice',\n    pTone.length ? pTone.join(', ') : '',\n    '',\n    '## Content they make',\n    pTypes.length ? pTypes.join(', ') : ''\n  ].join('\\n');\n}\n\nconst allSources = $('Read Sources').all().map(function (i) { return i.json; });\nconst followed = allSources.filter(function (s) { return s.status === 'followed'; });\nconst naylisted = allSources.filter(function (s) { return s.status === 'naylisted'; });\nconst followedStr = followed.length > 0\n  ? followed.map(function (s) { return '- ' + s.name + ' (' + s.url + ') [' + (s.category || 'uncategorized') + ']'; }).join('\\n')\n  : 'None';\nconst naylistedStr = naylisted.length > 0\n  ? naylisted.map(function (s) { return '- ' + s.name + ' (' + s.url + ')'; }).join('\\n')\n  : 'None';\n\n// --- Turn budget + \"just go\" escape hatch ---\nconst priorUserTurns = (history.match(/\\[user\\]/g) || []).length;\nconst turnCount = priorUserTurns + 1;\nconst maxTurns = 2;\nconst justGo = /(\\bjust go\\b|\\bgo ahead\\b|\\bfind them\\b|\\bfind sources\\b|ga maar|ga door|begin maar|zoek maar|vind ze|vind bronnen|doe maar|laat maar|\\bskip\\b|sla over|start maar)/i.test(message);\nconst forceClose = (justGo || turnCount >= maxTurns) ? true : false;\n\nlet closeDirective;\nif (forceClose) {\n  closeDirective = 'THIS IS THE FINAL TURN. Do not ask another question. Output the exact close line, set done=true, and produce the priorities doc plus a generous set of source suggestions now.';\n} else {\n  closeDirective = 'You may ask ONE short refining question if it would materially improve the source picks. Otherwise close now. Budget: at most ' + maxTurns + ' user turns; this is turn ' + turnCount + '.';\n}\n\nreturn [{ json: {\n  query: message ? message : '(the user opened Scout without typing yet — greet them using what you know and ask your one question)',\n  sessionId: sessionId,\n  userId: userId,\n  clientId: clientId,\n  mode: mode,\n  profileBlock: profileBlock,\n  priorities: priorities,\n  followedSources: followedStr,\n  naylistedSources: naylistedStr,\n  followedCount: followed.length,\n  naylistedCount: naylisted.length,\n  history: history,\n  turnCount: turnCount,\n  forceClose: forceClose,\n  closeDirective: closeDirective\n}}];\n"},"id":"9bfb47cc-efd1-45f4-8cf1-af7f4ef3bf85","name":"Build Prompt","type":"n8n-nodes-base.code","position":[-880,144],"typeVersion":2},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=You are the Scout, the source-finder inside Radar. Radar watches a handful of news, blog and social sources for this user and surfaces fresh, inspiring angles they can turn into content. That can be a reaction to news, an inspiring vision reposted in their own words, or a mix.\n\nYou already know this company. You do NOT re-interview them about who they are.\n\n## What you already know about them\n{{ $json.profileBlock }}\n\n## Their current Radar\nPriorities so far:\n{{ $json.priorities ? $json.priorities : '(none yet, seed it from what you know above)' }}\n\nAlready following:\n{{ $json.followedSources }}\n\nNay-listed (never re-suggest these):\n{{ $json.naylistedSources }}\n\n## Your job in this chat\nBuild on what you already know. Do NOT ask their industry, audience, or tone, you already have them above. The only things worth a quick question are Radar-specific:\n- which topics, angles or specific voices they want you to watch\n- whether they lean toward news reactions, inspiring visions to repost in their own words, or a mix\n\nOpen by reflecting what you know in ONE warm, human line, then ask ONE such question. Never a form. Never mirror back (\"so what I'm hearing is…\"). One question per turn.\n\n## Turn budget\n{{ $json.closeDirective }}\n\nIf the user says any version of \"just go\", \"ga maar\", \"find them\", or otherwise signals they are done, stop asking and close immediately.\n\n## Closing + source curation\nWhen you close, write ONE short, warm line in the user's language that names what you are about to look for (based on what they told you), then signals you are going to search now. One sentence, no more. Example: \"Helder. Ik ga op zoek naar onafhankelijke stemmen over [hun onderwerp] en een paar databronnen. Momentje.\" Always set done to true, and produce the priorities doc plus a generous set of source suggestions in the same JSON.\n\nCuration rules:\n- Aim BROAD: propose many sources (think 8 to 15 when the space allows). Each source posts infrequently, so coverage needs breadth. Never pad with junk, but do not cap low. Zero is only valid when nothing genuinely clears the bar.\n- Bias hard toward independent voices: individual practitioners, niche / local / language-specific sources, sub-field specialists, data sources, newsletters, small podcasts, community venues.\n- VENDOR PENALTY: penalise resellers and sales or marketing agencies whose main business is pushing someone else's product. This does NOT apply to the primary maker or lab behind a technology (for example OpenAI or Anthropic). Their own blog is a valid, direct, primary source. When choosing between a reseller and an independent or primary voice, pick the independent or primary one.\n- Prefer sources that publish on a fetchable feed (RSS / blog) over closed social when you have the choice.\n- DEDUPE BY FUNCTION, not identity. No redundancy with the follow list or the nay-list.\n- No headline names (TechCrunch, Forbes, HBR, McKinsey, Wired) unless a specific sub-section or author is genuinely on point.\n- Tonal variety across the set.\n- Every source needs a because_quote: a LITERAL quote, taken from what the user said in this chat, or from their profile above. No quote means you drop the card.\n\n## Output, always valid JSON, nothing else\nDuring the chat:\n{\"message\": \"your line\", \"done\": false}\n\nWhen closing:\n{\"message\": \"<your one-line plan, in the user's language, naming what you'll look for>\", \"done\": true, \"priorities\": \"## What they're building\\n...\\n## Who it's for\\n...\\n## What they're watching\\n...\\n## Idea modes\\n...\\n## Allergies\\n...\\n## Current rotation\\n...\", \"sources\": [{\"url\": \"https://...\", \"name\": \"Source Name\", \"category\": \"category\", \"tone_tag\": \"authoritative|data|contrarian|vision|tactical|insider|adjacent|longform\", \"because_quote\": \"literal quote in quotation marks\"}]}\n\nWrite in the language the user writes in (Dutch or English). Never use em-dashes or en-dashes (the long dash characters); use commas, periods, or linking words instead. Never sound like AI: avoid \"fascinating insight\", \"in today's fast-paced landscape\", \"leveraging\", \"unlock\", \"dive into\"."}},"id":"c90f9af5-b21a-40e5-93ff-2a1b2f877934","name":"Scout Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-656,144]},{"parameters":{"jsCode":"let raw = $input.first().json.output;\nconst sessionId = $('Build Prompt').first().json.sessionId;\nconst userId = $('Build Prompt').first().json.userId;\nconst clientId = $('Build Prompt').first().json.clientId;\nconst forceClose = $('Build Prompt').first().json.forceClose === true;\n\nconst CLOSE_LINE = 'go look for the voices you should be listening to';\n\nlet parsed = null;\nif (typeof raw === 'object' && raw !== null) {\n  parsed = raw;\n} else {\n  let text = String(raw || '').trim();\n  text = text.replace(/^```(?:json)?\\s*\\n?/, '').replace(/\\n?\\s*```\\s*$/, '').trim();\n  try {\n    parsed = JSON.parse(text);\n  } catch (e) {\n    const match = text.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      try { parsed = JSON.parse(match[0]); } catch (e2) { parsed = null; }\n    }\n  }\n  if (parsed === null) {\n    // Could not parse JSON (often a truncated closing payload). Recover the message and detect the close.\n    const rawText = String(raw || '');\n    const closing = (rawText.indexOf(CLOSE_LINE) >= 0) || forceClose;\n    let msg = '';\n    const mm = rawText.match(/\"message\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n    if (mm) { try { msg = JSON.parse('\"' + mm[1] + '\"'); } catch (e3) { msg = mm[1]; } }\n    if (msg === '') msg = rawText.replace(/```[\\s\\S]*$/, '').replace(/\\{[\\s\\S]*$/, '').trim();\n    if (msg === '' || msg.charAt(0) === '{') msg = 'Een moment, ik zet je Radar klaar.';\n    parsed = { message: msg, done: closing, priorities: null, sources: [] };\n  }\n}\n\nlet message = parsed.message || String(raw);\nlet done = parsed.done === true;\nconst priorities = parsed.priorities || null;\nconst sources = Array.isArray(parsed.sources) ? parsed.sources : [];\n\n// Safety net: if the close line was emitted, treat as done even if the flag was dropped.\nif (done === false && typeof message === 'string' && message.indexOf(CLOSE_LINE) >= 0) {\n  done = true;\n}\n\nreturn [{ json: {\n  message: message,\n  done: done,\n  priorities: priorities,\n  sources: sources,\n  sessionId: sessionId,\n  userId: userId,\n  clientId: clientId\n}}];\n"},"id":"82234d1c-223f-43ec-ae70-c5b3981e5e77","name":"Parse Output","type":"n8n-nodes-base.code","position":[-448,144],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"scout-done-check","leftValue":"={{ $json.done }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"65ada722-7fa0-4b17-b1aa-b09b71679e92","name":"Is Done","type":"n8n-nodes-base.if","position":[-224,144],"typeVersion":2.3},{"parameters":{"jsCode":"return [{ json: {\n  session_id: $json.sessionId,\n  message: $json.message,\n  done: false,\n  events: []\n}}];"},"id":"66ce4870-862b-4509-835c-13c088e72d7a","name":"Format Not Done","type":"n8n-nodes-base.code","position":[0,288],"typeVersion":2},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"b5f1bfd3-0def-4c39-b692-2c6d8fc73e22","name":"Respond Not Done","type":"n8n-nodes-base.respondToWebhook","position":[224,288],"typeVersion":1.4},{"parameters":{"jsCode":"const priorities = $json.priorities || '';\nconst rawSources = $json.sources || [];\nconst userId = $json.userId;\nconst clientId = $json.clientId;\nconst sessionId = $json.sessionId;\nconst message = $json.message;\n\n// Dedupe only true duplicates (same URL). A site may legitimately appear several times with\n// different URLs: a business vs consumer section, or two products each with their own blog.\nconst seen = {};\nconst sources = [];\nfor (const s of rawSources) {\n  const key = ((s.url || s.name || '') + '').trim().toLowerCase()\n    .replace(/^https?:\\/\\//, '').replace(/^www\\./, '').replace(/\\/+$/, '');\n  if (key === '' || seen[key] === true) continue;\n  seen[key] = true;\n  sources.push(s);\n}\n\nconst escapedPriorities = priorities.replace(/'/g, \"''\");\n\nconst prioritiesQuery = priorities\n  ? `UPDATE portal_user SET settings = jsonb_set(jsonb_set(COALESCE(settings, '{}'), '{radar}', COALESCE(settings->'radar', '{}')), '{radar,priorities_markdown}', to_jsonb('${escapedPriorities}'::text)) WHERE n8n_user_id = '${userId}'::uuid`\n  : 'SELECT 1';\n\nlet sourcesQuery = 'SELECT 1 WHERE false';\nif (sources.length > 0) {\n  const values = sources.map(s => {\n    const esc = v => (v || '').replace(/'/g, \"''\");\n    return `('${userId}'::uuid, '${esc(clientId)}', '${esc(s.url)}', '${esc(s.name)}', '${esc(s.category)}', '${esc(s.tone_tag)}', '${esc(s.because_quote)}', 'proposed', 'unknown')`;\n  }).join(', ');\n  sourcesQuery = `INSERT INTO radar_sources (user_id, client_id, url, name, category, tone_tag, because_quote, status, viability) VALUES ${values}`;\n}\n\nconst events = [];\nif (priorities) events.push({ type: 'tool_call', name: 'updatePriorities', args: {} });\nsources.forEach(s => events.push({ type: 'tool_call', name: 'proposeSource', args: { name: s.name, url: s.url } }));\n\nreturn [{ json: { prioritiesQuery, sourcesQuery, message, sessionId, events } }];\n"},"id":"62642a7b-ea2e-490b-92bb-2e4ce5898226","name":"Prepare Curation","type":"n8n-nodes-base.code","position":[0,0],"typeVersion":2},{"parameters":{"operation":"executeQuery","query":"{{ $json.prioritiesQuery }}","options":{}},"id":"333ee4ee-d5c4-4fcd-9361-7ee3f9aa266b","name":"Write Priorities","type":"n8n-nodes-base.postgres","position":[224,0],"typeVersion":2.6,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"{{ $('Prepare Curation').first().json.sourcesQuery }}","options":{}},"id":"f2c7388d-d3b7-4c2d-bbd7-8cd78185886d","name":"Insert Sources","type":"n8n-nodes-base.postgres","position":[448,0],"typeVersion":2.6,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const prev = $('Prepare Curation').first().json;\nreturn [{ json: {\n  session_id: prev.sessionId,\n  message: prev.message,\n  done: true,\n  events: prev.events\n}}];"},"id":"c3933920-0bdb-400b-a7b6-d9b6376fed5d","name":"Format Done","type":"n8n-nodes-base.code","position":[672,0],"typeVersion":2},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"6cfb7def-c3b8-43cc-b2d8-9ae0023e1a35","name":"Respond Done","type":"n8n-nodes-base.respondToWebhook","position":[880,0],"typeVersion":1.4},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"Claude Sonnet 4.6"},"options":{"maxTokensToSample":8192}},"id":"d61013fb-2512-41ba-b951-b488724a7303","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-656,400],"credentials":{"anthropicApi":{"id":"zvfIJSmp6pElXMtZ","name":"Anthropic account"}}}],"connections":{"Webhook":{"main":[[{"node":"Fetch User","type":"main","index":0}]]},"Fetch User":{"main":[[{"node":"Read Priorities","type":"main","index":0}],[{"node":"Respond Error","type":"main","index":0}]]},"Read Priorities":{"main":[[{"node":"Read Sources","type":"main","index":0}]]},"Read Sources":{"main":[[{"node":"Build Prompt","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"Scout Agent","type":"main","index":0}]]},"Scout Agent":{"main":[[{"node":"Parse Output","type":"main","index":0}]]},"Parse Output":{"main":[[{"node":"Is Done","type":"main","index":0}]]},"Is Done":{"main":[[{"node":"Prepare Curation","type":"main","index":0}],[{"node":"Format Not Done","type":"main","index":0}]]},"Format Not Done":{"main":[[{"node":"Respond Not Done","type":"main","index":0}]]},"Prepare Curation":{"main":[[{"node":"Write Priorities","type":"main","index":0}]]},"Write Priorities":{"main":[[{"node":"Insert Sources","type":"main","index":0}]]},"Insert Sources":{"main":[[{"node":"Format Done","type":"main","index":0}]]},"Format Done":{"main":[[{"node":"Respond Done","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Scout Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"43fa867d-b205-43de-b843-44e4f9ad072d","activeVersionId":"43fa867d-b205-43de-b843-44e4f9ad072d","versionCounter":50,"triggerCount":1,"shared":[{"updatedAt":"2026-04-20T20:36:29.104Z","createdAt":"2026-04-20T20:36:29.104Z","role":"workflow:owner","workflowId":"C4ClYsTCFsShycCm","projectId":"5wB8K4Dwm33EnlQ1","project":{"updatedAt":"2025-07-21T19:35:37.093Z","createdAt":"2025-06-12T18:54:37.299Z","id":"5wB8K4Dwm33EnlQ1","name":"Wingsuite Root Folder","type":"team","icon":{"type":"icon","value":"layer-group"},"description":"Wingsuite Roots","creatorId":null}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-08T21:05:30.110Z","createdAt":"2026-06-08T21:05:30.110Z","versionId":"43fa867d-b205-43de-b843-44e4f9ad072d","workflowId":"C4ClYsTCFsShycCm","nodes":[{"parameters":{"httpMethod":"POST","path":"radar-scout","responseMode":"responseNode","options":{}},"id":"42b7087b-78cf-4825-827c-97cb52c6ac85","name":"Webhook","type":"n8n-nodes-base.webhook","position":[-1760,224],"webhookId":"b1000001-0001-4000-8000-100000000001","typeVersion":2},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":"dbf8RGXgL1Up2KzF","cachedResultName":"jwt-validation"},"workflowInputs":{"value":{"cookie":"={{ $json.headers.cookie }}"},"schema":[{"id":"cookie","type":"string","display":true,"removed":false,"required":false,"displayName":"cookie","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["cookie"],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"3c791d6b-6a24-4767-8f6d-92e646e6a6b3","name":"Fetch User","type":"n8n-nodes-base.executeWorkflow","position":[-1536,224],"typeVersion":1.2,"onError":"continueErrorOutput"},{"parameters":{"respondWith":"json","responseBody":"{ \"valid\": \"false\" }","options":{}},"id":"37932cfd-d523-4d09-b63d-e86400d1ad19","name":"Respond Error","type":"n8n-nodes-base.respondToWebhook","position":[-1328,352],"typeVersion":1.4},{"parameters":{"operation":"executeQuery","query":"SELECT COALESCE(settings->'radar'->>'priorities_markdown', '') as markdown FROM portal_user WHERE n8n_user_id = '{{ $json.user_id }}'::uuid","options":{}},"id":"2871e772-5b34-42bc-8375-0fde2565b4e4","name":"Read Priorities","type":"n8n-nodes-base.postgres","position":[-1328,144],"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, url, name, category, tone_tag, because_quote, status FROM radar_sources WHERE user_id = '{{ $('Fetch User').item.json.user_id }}'::uuid AND status IN ('followed', 'naylisted', 'proposed') ORDER BY status, created_at DESC","options":{}},"id":"83955426-774a-4af7-b9e7-542acb696f79","name":"Read Sources","type":"n8n-nodes-base.postgres","position":[-1104,144],"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"jsCode":"const body = $('Webhook').item.json.body || {};\nconst mode = body.mode || 'A';\nconst message = body.message || '';\nconst history = body.history || '';\nlet sessionId = body.session_id;\nif (sessionId === undefined || sessionId === null || sessionId === '') {\n  sessionId = 'scout-' + Date.now() + '-' + Math.random().toString(36).slice(2, 10);\n}\nconst userId = $('Fetch User').item.json.user_id;\nconst clientId = $('Fetch User').item.json.client_id;\n\n// --- Company profile the user already gave during the brand interview ---\nconst pc = body.profile_context || {};\nconst summary = pc.profile_summary || pc;\nfunction arr(v) { return Array.isArray(v) ? v.filter(Boolean) : (v ? [v] : []); }\nconst pName = summary.name || '';\nconst pIndustry = summary.industry || '';\nconst pTagline = summary.tagline || '';\nconst pAudience = summary.audience || '';\nconst pTone = arr(summary.tone_keywords);\nconst pTypes = arr(summary.content_types);\nconst recsSrc = pc.recommendations || (pc.website_scan && pc.website_scan.recommendations) || [];\nconst recs = arr(recsSrc);\nconst hasProfile = (pName || pIndustry || pAudience) ? true : false;\n\nlet profileBlock = 'No company profile on file yet — ask a little more before curating.';\nif (hasProfile) {\n  const lines = [];\n  if (pName) lines.push('Company: ' + pName);\n  if (pIndustry) lines.push('Industry: ' + pIndustry);\n  if (pTagline) lines.push('Tagline: ' + pTagline);\n  if (pAudience) lines.push('Audience: ' + pAudience);\n  if (pTone.length) lines.push('Tone: ' + pTone.join(', '));\n  if (pTypes.length) lines.push('Content they make: ' + pTypes.join(', '));\n  if (recs.length) {\n    const r = recs.slice(0, 5).map(function (x) {\n      return '- ' + (x.topic || x.format || '') + (x.reason ? ' (' + x.reason + ')' : '');\n    }).join('\\n');\n    lines.push('Ideas already surfaced from their website scan:\\n' + r);\n  }\n  profileBlock = lines.join('\\n');\n}\n\n// --- Existing radar state ---\nlet priorities = $('Read Priorities').first().json.markdown || '';\nif (priorities === '' && hasProfile) {\n  priorities = [\n    '## What they do',\n    (pName ? pName + ' — ' : '') + (pTagline || pIndustry || ''),\n    '',\n    '## Who it is for',\n    pAudience || '',\n    '',\n    '## Voice',\n    pTone.length ? pTone.join(', ') : '',\n    '',\n    '## Content they make',\n    pTypes.length ? pTypes.join(', ') : ''\n  ].join('\\n');\n}\n\nconst allSources = $('Read Sources').all().map(function (i) { return i.json; });\nconst followed = allSources.filter(function (s) { return s.status === 'followed'; });\nconst naylisted = allSources.filter(function (s) { return s.status === 'naylisted'; });\nconst followedStr = followed.length > 0\n  ? followed.map(function (s) { return '- ' + s.name + ' (' + s.url + ') [' + (s.category || 'uncategorized') + ']'; }).join('\\n')\n  : 'None';\nconst naylistedStr = naylisted.length > 0\n  ? naylisted.map(function (s) { return '- ' + s.name + ' (' + s.url + ')'; }).join('\\n')\n  : 'None';\n\n// --- Turn budget + \"just go\" escape hatch ---\nconst priorUserTurns = (history.match(/\\[user\\]/g) || []).length;\nconst turnCount = priorUserTurns + 1;\nconst maxTurns = 2;\nconst justGo = /(\\bjust go\\b|\\bgo ahead\\b|\\bfind them\\b|\\bfind sources\\b|ga maar|ga door|begin maar|zoek maar|vind ze|vind bronnen|doe maar|laat maar|\\bskip\\b|sla over|start maar)/i.test(message);\nconst forceClose = (justGo || turnCount >= maxTurns) ? true : false;\n\nlet closeDirective;\nif (forceClose) {\n  closeDirective = 'THIS IS THE FINAL TURN. Do not ask another question. Output the exact close line, set done=true, and produce the priorities doc plus a generous set of source suggestions now.';\n} else {\n  closeDirective = 'You may ask ONE short refining question if it would materially improve the source picks. Otherwise close now. Budget: at most ' + maxTurns + ' user turns; this is turn ' + turnCount + '.';\n}\n\nreturn [{ json: {\n  query: message ? message : '(the user opened Scout without typing yet — greet them using what you know and ask your one question)',\n  sessionId: sessionId,\n  userId: userId,\n  clientId: clientId,\n  mode: mode,\n  profileBlock: profileBlock,\n  priorities: priorities,\n  followedSources: followedStr,\n  naylistedSources: naylistedStr,\n  followedCount: followed.length,\n  naylistedCount: naylisted.length,\n  history: history,\n  turnCount: turnCount,\n  forceClose: forceClose,\n  closeDirective: closeDirective\n}}];\n"},"id":"9bfb47cc-efd1-45f4-8cf1-af7f4ef3bf85","name":"Build Prompt","type":"n8n-nodes-base.code","position":[-880,144],"typeVersion":2},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=You are the Scout, the source-finder inside Radar. Radar watches a handful of news, blog and social sources for this user and surfaces fresh, inspiring angles they can turn into content. That can be a reaction to news, an inspiring vision reposted in their own words, or a mix.\n\nYou already know this company. You do NOT re-interview them about who they are.\n\n## What you already know about them\n{{ $json.profileBlock }}\n\n## Their current Radar\nPriorities so far:\n{{ $json.priorities ? $json.priorities : '(none yet, seed it from what you know above)' }}\n\nAlready following:\n{{ $json.followedSources }}\n\nNay-listed (never re-suggest these):\n{{ $json.naylistedSources }}\n\n## Your job in this chat\nBuild on what you already know. Do NOT ask their industry, audience, or tone, you already have them above. The only things worth a quick question are Radar-specific:\n- which topics, angles or specific voices they want you to watch\n- whether they lean toward news reactions, inspiring visions to repost in their own words, or a mix\n\nOpen by reflecting what you know in ONE warm, human line, then ask ONE such question. Never a form. Never mirror back (\"so what I'm hearing is…\"). One question per turn.\n\n## Turn budget\n{{ $json.closeDirective }}\n\nIf the user says any version of \"just go\", \"ga maar\", \"find them\", or otherwise signals they are done, stop asking and close immediately.\n\n## Closing + source curation\nWhen you close, write ONE short, warm line in the user's language that names what you are about to look for (based on what they told you), then signals you are going to search now. One sentence, no more. Example: \"Helder. Ik ga op zoek naar onafhankelijke stemmen over [hun onderwerp] en een paar databronnen. Momentje.\" Always set done to true, and produce the priorities doc plus a generous set of source suggestions in the same JSON.\n\nCuration rules:\n- Aim BROAD: propose many sources (think 8 to 15 when the space allows). Each source posts infrequently, so coverage needs breadth. Never pad with junk, but do not cap low. Zero is only valid when nothing genuinely clears the bar.\n- Bias hard toward independent voices: individual practitioners, niche / local / language-specific sources, sub-field specialists, data sources, newsletters, small podcasts, community venues.\n- VENDOR PENALTY: penalise resellers and sales or marketing agencies whose main business is pushing someone else's product. This does NOT apply to the primary maker or lab behind a technology (for example OpenAI or Anthropic). Their own blog is a valid, direct, primary source. When choosing between a reseller and an independent or primary voice, pick the independent or primary one.\n- Prefer sources that publish on a fetchable feed (RSS / blog) over closed social when you have the choice.\n- DEDUPE BY FUNCTION, not identity. No redundancy with the follow list or the nay-list.\n- No headline names (TechCrunch, Forbes, HBR, McKinsey, Wired) unless a specific sub-section or author is genuinely on point.\n- Tonal variety across the set.\n- Every source needs a because_quote: a LITERAL quote, taken from what the user said in this chat, or from their profile above. No quote means you drop the card.\n\n## Output, always valid JSON, nothing else\nDuring the chat:\n{\"message\": \"your line\", \"done\": false}\n\nWhen closing:\n{\"message\": \"<your one-line plan, in the user's language, naming what you'll look for>\", \"done\": true, \"priorities\": \"## What they're building\\n...\\n## Who it's for\\n...\\n## What they're watching\\n...\\n## Idea modes\\n...\\n## Allergies\\n...\\n## Current rotation\\n...\", \"sources\": [{\"url\": \"https://...\", \"name\": \"Source Name\", \"category\": \"category\", \"tone_tag\": \"authoritative|data|contrarian|vision|tactical|insider|adjacent|longform\", \"because_quote\": \"literal quote in quotation marks\"}]}\n\nWrite in the language the user writes in (Dutch or English). Never use em-dashes or en-dashes (the long dash characters); use commas, periods, or linking words instead. Never sound like AI: avoid \"fascinating insight\", \"in today's fast-paced landscape\", \"leveraging\", \"unlock\", \"dive into\"."}},"id":"c90f9af5-b21a-40e5-93ff-2a1b2f877934","name":"Scout Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-656,144]},{"parameters":{"jsCode":"let raw = $input.first().json.output;\nconst sessionId = $('Build Prompt').first().json.sessionId;\nconst userId = $('Build Prompt').first().json.userId;\nconst clientId = $('Build Prompt').first().json.clientId;\nconst forceClose = $('Build Prompt').first().json.forceClose === true;\n\nconst CLOSE_LINE = 'go look for the voices you should be listening to';\n\nlet parsed = null;\nif (typeof raw === 'object' && raw !== null) {\n  parsed = raw;\n} else {\n  let text = String(raw || '').trim();\n  text = text.replace(/^```(?:json)?\\s*\\n?/, '').replace(/\\n?\\s*```\\s*$/, '').trim();\n  try {\n    parsed = JSON.parse(text);\n  } catch (e) {\n    const match = text.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      try { parsed = JSON.parse(match[0]); } catch (e2) { parsed = null; }\n    }\n  }\n  if (parsed === null) {\n    // Could not parse JSON (often a truncated closing payload). Recover the message and detect the close.\n    const rawText = String(raw || '');\n    const closing = (rawText.indexOf(CLOSE_LINE) >= 0) || forceClose;\n    let msg = '';\n    const mm = rawText.match(/\"message\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n    if (mm) { try { msg = JSON.parse('\"' + mm[1] + '\"'); } catch (e3) { msg = mm[1]; } }\n    if (msg === '') msg = rawText.replace(/```[\\s\\S]*$/, '').replace(/\\{[\\s\\S]*$/, '').trim();\n    if (msg === '' || msg.charAt(0) === '{') msg = 'Een moment, ik zet je Radar klaar.';\n    parsed = { message: msg, done: closing, priorities: null, sources: [] };\n  }\n}\n\nlet message = parsed.message || String(raw);\nlet done = parsed.done === true;\nconst priorities = parsed.priorities || null;\nconst sources = Array.isArray(parsed.sources) ? parsed.sources : [];\n\n// Safety net: if the close line was emitted, treat as done even if the flag was dropped.\nif (done === false && typeof message === 'string' && message.indexOf(CLOSE_LINE) >= 0) {\n  done = true;\n}\n\nreturn [{ json: {\n  message: message,\n  done: done,\n  priorities: priorities,\n  sources: sources,\n  sessionId: sessionId,\n  userId: userId,\n  clientId: clientId\n}}];\n"},"id":"82234d1c-223f-43ec-ae70-c5b3981e5e77","name":"Parse Output","type":"n8n-nodes-base.code","position":[-448,144],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"scout-done-check","leftValue":"={{ $json.done }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"65ada722-7fa0-4b17-b1aa-b09b71679e92","name":"Is Done","type":"n8n-nodes-base.if","position":[-224,144],"typeVersion":2.3},{"parameters":{"jsCode":"return [{ json: {\n  session_id: $json.sessionId,\n  message: $json.message,\n  done: false,\n  events: []\n}}];"},"id":"66ce4870-862b-4509-835c-13c088e72d7a","name":"Format Not Done","type":"n8n-nodes-base.code","position":[0,288],"typeVersion":2},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"b5f1bfd3-0def-4c39-b692-2c6d8fc73e22","name":"Respond Not Done","type":"n8n-nodes-base.respondToWebhook","position":[224,288],"typeVersion":1.4},{"parameters":{"jsCode":"const priorities = $json.priorities || '';\nconst rawSources = $json.sources || [];\nconst userId = $json.userId;\nconst clientId = $json.clientId;\nconst sessionId = $json.sessionId;\nconst message = $json.message;\n\n// Dedupe only true duplicates (same URL). A site may legitimately appear several times with\n// different URLs: a business vs consumer section, or two products each with their own blog.\nconst seen = {};\nconst sources = [];\nfor (const s of rawSources) {\n  const key = ((s.url || s.name || '') + '').trim().toLowerCase()\n    .replace(/^https?:\\/\\//, '').replace(/^www\\./, '').replace(/\\/+$/, '');\n  if (key === '' || seen[key] === true) continue;\n  seen[key] = true;\n  sources.push(s);\n}\n\nconst escapedPriorities = priorities.replace(/'/g, \"''\");\n\nconst prioritiesQuery = priorities\n  ? `UPDATE portal_user SET settings = jsonb_set(jsonb_set(COALESCE(settings, '{}'), '{radar}', COALESCE(settings->'radar', '{}')), '{radar,priorities_markdown}', to_jsonb('${escapedPriorities}'::text)) WHERE n8n_user_id = '${userId}'::uuid`\n  : 'SELECT 1';\n\nlet sourcesQuery = 'SELECT 1 WHERE false';\nif (sources.length > 0) {\n  const values = sources.map(s => {\n    const esc = v => (v || '').replace(/'/g, \"''\");\n    return `('${userId}'::uuid, '${esc(clientId)}', '${esc(s.url)}', '${esc(s.name)}', '${esc(s.category)}', '${esc(s.tone_tag)}', '${esc(s.because_quote)}', 'proposed', 'unknown')`;\n  }).join(', ');\n  sourcesQuery = `INSERT INTO radar_sources (user_id, client_id, url, name, category, tone_tag, because_quote, status, viability) VALUES ${values}`;\n}\n\nconst events = [];\nif (priorities) events.push({ type: 'tool_call', name: 'updatePriorities', args: {} });\nsources.forEach(s => events.push({ type: 'tool_call', name: 'proposeSource', args: { name: s.name, url: s.url } }));\n\nreturn [{ json: { prioritiesQuery, sourcesQuery, message, sessionId, events } }];\n"},"id":"62642a7b-ea2e-490b-92bb-2e4ce5898226","name":"Prepare Curation","type":"n8n-nodes-base.code","position":[0,0],"typeVersion":2},{"parameters":{"operation":"executeQuery","query":"{{ $json.prioritiesQuery }}","options":{}},"id":"333ee4ee-d5c4-4fcd-9361-7ee3f9aa266b","name":"Write Priorities","type":"n8n-nodes-base.postgres","position":[224,0],"typeVersion":2.6,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"{{ $('Prepare Curation').first().json.sourcesQuery }}","options":{}},"id":"f2c7388d-d3b7-4c2d-bbd7-8cd78185886d","name":"Insert Sources","type":"n8n-nodes-base.postgres","position":[448,0],"typeVersion":2.6,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const prev = $('Prepare Curation').first().json;\nreturn [{ json: {\n  session_id: prev.sessionId,\n  message: prev.message,\n  done: true,\n  events: prev.events\n}}];"},"id":"c3933920-0bdb-400b-a7b6-d9b6376fed5d","name":"Format Done","type":"n8n-nodes-base.code","position":[672,0],"typeVersion":2},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"6cfb7def-c3b8-43cc-b2d8-9ae0023e1a35","name":"Respond Done","type":"n8n-nodes-base.respondToWebhook","position":[880,0],"typeVersion":1.4},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"Claude Sonnet 4.6"},"options":{"maxTokensToSample":8192}},"id":"d61013fb-2512-41ba-b951-b488724a7303","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-656,400],"credentials":{"anthropicApi":{"id":"zvfIJSmp6pElXMtZ","name":"Anthropic account"}}}],"connections":{"Webhook":{"main":[[{"node":"Fetch User","type":"main","index":0}]]},"Fetch User":{"main":[[{"node":"Read Priorities","type":"main","index":0}],[{"node":"Respond Error","type":"main","index":0}]]},"Read Priorities":{"main":[[{"node":"Read Sources","type":"main","index":0}]]},"Read Sources":{"main":[[{"node":"Build Prompt","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"Scout Agent","type":"main","index":0}]]},"Scout Agent":{"main":[[{"node":"Parse Output","type":"main","index":0}]]},"Parse Output":{"main":[[{"node":"Is Done","type":"main","index":0}]]},"Is Done":{"main":[[{"node":"Prepare Curation","type":"main","index":0}],[{"node":"Format Not Done","type":"main","index":0}]]},"Format Not Done":{"main":[[{"node":"Respond Not Done","type":"main","index":0}]]},"Prepare Curation":{"main":[[{"node":"Write Priorities","type":"main","index":0}]]},"Write Priorities":{"main":[[{"node":"Insert Sources","type":"main","index":0}]]},"Insert Sources":{"main":[[{"node":"Format Done","type":"main","index":0}]]},"Format Done":{"main":[[{"node":"Respond Done","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Scout Agent","type":"ai_languageModel","index":0}]]}},"authors":"Ben van Steenbergen","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-08T21:05:30.286Z","id":966,"workflowId":"C4ClYsTCFsShycCm","versionId":"43fa867d-b205-43de-b843-44e4f9ad072d","event":"deactivated","userId":"64e933f4-3ff2-4261-8186-b09ac50d85ed"},{"createdAt":"2026-06-08T21:05:30.363Z","id":967,"workflowId":"C4ClYsTCFsShycCm","versionId":"43fa867d-b205-43de-b843-44e4f9ad072d","event":"activated","userId":"64e933f4-3ff2-4261-8186-b09ac50d85ed"}]}}