docs/n8n/backups/radar-sweep-20260629-220221.json
{"updatedAt":"2026-06-29T19:32:15.717Z","createdAt":"2026-04-21T14:05:58.923Z","id":"0dGrOJHxBJZnmEK5","name":"radar-sweep","description":"","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 * * * *"}]}},"id":"345c51f3-c81b-4efa-8687-d9620e2f484d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-16016,320],"typeVersion":1.2},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT u.n8n_user_id as user_id, s.id as source_id, s.url as source_url, s.name as source_name, COALESCE(u.settings->'radar'->>'priorities_markdown', '') as priorities, COALESCE(u.settings->>'timezone', 'Europe/Amsterdam') as timezone FROM radar_sources s JOIN portal_user u ON u.n8n_user_id = s.user_id WHERE s.status = 'followed' AND COALESCE(u.settings->'radar'->>'priorities_markdown', '') != ''","options":{}},"id":"53968250-30d4-4b54-9b9b-e50d17ca43cb","name":"Get Active Sources","type":"n8n-nodes-base.postgres","position":[-15792,320],"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"jsCode":"const items = $input.all().map(i => i.json);\n  if (!items.length || !items[0].user_id) return [];\n  return items.map(item => ({ json: item }));"},"id":"7ef123e1-8474-4b09-8494-c816df8b2b1c","name":"Filter Timezone","type":"n8n-nodes-base.code","position":[-15568,320],"typeVersion":2},{"parameters":{"options":{}},"id":"58c384a6-387e-4144-94f6-9f8c0898561a","name":"Loop Sources","type":"n8n-nodes-base.splitInBatches","position":[-15344,320],"typeVersion":3},{"parameters":{"url":"={{ $json.source_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (compatible; RadarBot/1.0)"}]},"options":{"allowUnauthorizedCerts":true,"timeout":15000}},"id":"491477d5-c556-4cab-89cc-0eccf85ceba1","name":"Fetch Page","type":"n8n-nodes-base.httpRequest","position":[-15136,240],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst context = $('Loop Sources').first().json;\nconst sourceUrl = (context.source_url || '').trim();\nconst rootDomain = (sourceUrl.match(/^https?:\\/\\/[^\\/]+/) || [])[0] || sourceUrl;\n\nif (sourceUrl === '') {\n  return [{ json: { ...context, feedUrl: '__skip__', fetchMode: 'none' } }];\n}\n\nlet body = '';\nif (typeof response === 'string') body = response;\nelse if (response.data) body = String(response.data);\nelse if (response.body) body = String(response.body);\n\nfunction feedLike(s) { return /<rss[\\s>]|<feed[\\s>]|<rdf|<item[\\s>]|<entry[\\s>]/i.test(s || ''); }\n\n// 1. The page we already fetched IS a feed\nif (feedLike(body)) {\n  return [{ json: { ...context, feedUrl: sourceUrl, fetchMode: 'rss' } }];\n}\n\n// 2. RSS / Atom autodiscovery in the HTML <head>\nconst rssLink = body.match(/<link[^>]*type=[\"']application\\/(?:rss|atom)\\+xml[\"'][^>]*href=[\"']([^\"']+)[\"']/i)\n  || body.match(/<link[^>]*href=[\"']([^\"']+)[\"'][^>]*type=[\"']application\\/(?:rss|atom)\\+xml[\"']/i);\nif (rssLink && rssLink[1]) {\n  let feedUrl = rssLink[1].trim();\n  if (feedUrl.startsWith('//')) feedUrl = 'https:' + feedUrl;\n  else if (feedUrl.startsWith('/')) feedUrl = rootDomain + feedUrl;\n  else if (/^https?:/i.test(feedUrl) === false) feedUrl = sourceUrl.replace(/\\/+$/, '') + '/' + feedUrl.replace(/^\\/+/, '');\n  return [{ json: { ...context, feedUrl, fetchMode: 'rss' } }];\n}\n\n// 3. No feed found — render the page through Jina Reader.\n// Handles JS-rendered sites, sources without RSS, and pages that blocked our direct fetch.\nreturn [{ json: { ...context, feedUrl: 'https://r.jina.ai/' + sourceUrl, fetchMode: 'jina' } }];\n"},"id":"2d7a0f8a-ed53-4f78-939d-33853590cba8","name":"Get Feed URL","type":"n8n-nodes-base.code","position":[-14912,240],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"should-fetch-check","leftValue":"={{ $json.feedUrl }}","rightValue":"__skip__","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"fa436f7a-5568-4365-91de-e1b302d881db","name":"Should Fetch","type":"n8n-nodes-base.if","position":[-14800,240],"typeVersion":2.3},{"parameters":{"url":"={{ $json.feedUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (compatible; RadarBot/1.0)"}]},"options":{"allowUnauthorizedCerts":true,"timeout":30000}},"id":"191a3551-fd76-45b0-8024-e969f54d4ce4","name":"Fetch RSS","type":"n8n-nodes-base.httpRequest","position":[-14576,160],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst context = $('Get Feed URL').first().json;\nconst fetchMode = context.fetchMode || 'rss';\nconst skipItem = { json: { __skip: 'yes', user_id: context.user_id, source_id: context.source_id, source_name: context.source_name, source_url: context.source_url, priorities: context.priorities } };\n\nlet body = '';\nif (typeof response === 'string') body = response;\nelse if (response.data) body = String(response.data);\nelse if (response.body) body = String(response.body);\n\nif (body === '' || body.length < 30) return [skipItem];\n\nfunction clean(s) {\n  return (s || '')\n    .replace(/<[^>]*>/g, ' ')\n    .replace(/&amp;/g, '&').replace(/&#0?39;/g, \"'\").replace(/&apos;/g, \"'\")\n    .replace(/&quot;/g, '\"').replace(/&nbsp;/g, ' ').replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n    .replace(/\\s+/g, ' ').trim();\n}\n\nconst MAX = 20;\nconst articles = [];\nlet m;\nconst looksXml = /<rss[\\s>]|<feed[\\s>]|<rdf|<item[\\s>]|<entry[\\s>]|<url>/i.test(body);\n\nif (fetchMode === 'jina' || looksXml === false) {\n  // Jina Reader markdown (or any non-feed text): pull plausible article links from the rendered page.\n  const host = rootDomainHost(context.source_url);\n  const srcPath = (context.source_url || '').replace(/^https?:\\/\\/[^\\/]+/, '').replace(/\\/+$/, '');\n  const navWords = /^(pricing|contact|about|career|careers|jobs|login|signin|sign-in|signup|sign-up|register|terms|privacy|legal|cookie|cookies|support|help|docs|documentation|demo|sales|enterprise|customer|customers|partner|partners|security|status|download|downloads|developer|developers|api|newsletter|subscribe|rss|sitemap|search|home|index)$/i;\n  const seen = {};\n  const linkRe = /\\[([^\\]]{6,180})\\]\\((https?:\\/\\/[^)\\s]+)\\)/g;\n  while ((m = linkRe.exec(body)) !== null) {\n    const title = clean(m[1]);\n    let url = m[2].split('#')[0].replace(/[).,]+$/, '');\n    if (title.length < 8) continue;\n    if (host !== '' && url.indexOf(host) === -1) continue;             // same site only\n    if (/\\.(png|jpg|jpeg|gif|svg|webp|css|js|pdf|zip|mp4|mp3)(\\?|$)/i.test(url)) continue;\n    const path = url.replace(/^https?:\\/\\/[^\\/]+/, '').split('?')[0];\n    if (path.length < 10) continue;                                   // skip homepage / short nav links\n    const segs = path.split('/').filter(function (x) { return x !== ''; });\n    const lastSeg = segs.length ? segs[segs.length - 1] : '';\n    if (navWords.test(lastSeg)) continue;                             // drop obvious nav/utility pages\n    // Accept only article-shaped links: under the source's own path, a known content section, or a real slug.\n    const underSource = srcPath !== '' && path.indexOf(srcPath + '/') === 0;\n    const sectionLike = /\\/(blog|news|article|articles|post|posts|story|stories|insight|insights|research|p)\\//i.test(path) || /\\/20\\d\\d\\//.test(path);\n    const slugLike = (lastSeg.split('-').length - 1) >= 2 && lastSeg.length >= 14;\n    if (underSource === false && sectionLike === false && slugLike === false) continue;\n    if (seen[url] === true) continue;\n    seen[url] = true;\n    articles.push({ article_title: title, article_url: url, article_text: title, article_hash: url });\n    if (articles.length >= MAX) break;\n  }\n} else {\n  // RSS 2.0 (and RSS 1.0/RDF items, which also carry a <link> child)\n  const rssRe = /<item[\\s>]([\\s\\S]*?)<\\/item>/gi;\n  while ((m = rssRe.exec(body)) !== null) {\n    const xml = m[1];\n    const title = clean((xml.match(/<title[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/title>/) || [])[1]);\n    let link = ((xml.match(/<link[^>]*>([\\s\\S]*?)<\\/link>/) || [])[1] || '').trim();\n    if (link === '') link = ((xml.match(/<link[^>]*href=[\"']([^\"']+)[\"']/) || [])[1] || '').trim();\n    if (link === '') link = ((xml.match(/rdf:about=[\"']([^\"']+)[\"']/) || [])[1] || '').trim();\n    if (link === '') link = ((xml.match(/<guid[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/guid>/) || [])[1] || '').trim();\n    const desc = (xml.match(/<description>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/description>/) || [])[1] || '';\n    const content = (xml.match(/<content:encoded>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/content:encoded>/) || [])[1] || '';\n    if (/^https?:/i.test(link)) {\n      articles.push({ article_title: title, article_url: link, article_text: clean(content || desc).substring(0, 3000), article_hash: link });\n    }\n  }\n  // Atom\n  if (articles.length === 0) {\n    const atomRe = /<entry[\\s>]([\\s\\S]*?)<\\/entry>/gi;\n    while ((m = atomRe.exec(body)) !== null) {\n      const xml = m[1];\n      const title = clean((xml.match(/<title[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/title>/) || [])[1]);\n      let link = ((xml.match(/<link[^>]*rel=[\"']alternate[\"'][^>]*href=[\"']([^\"']+)[\"']/i) || [])[1] || '').trim();\n      if (link === '') link = ((xml.match(/<link[^>]*href=[\"']([^\"']+)[\"']/i) || [])[1] || '').trim();\n      const content = (xml.match(/<(?:content|summary)[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/(?:content|summary)>/) || [])[1] || '';\n      if (/^https?:/i.test(link)) {\n        articles.push({ article_title: title, article_url: link, article_text: clean(content).substring(0, 3000), article_hash: link });\n      }\n    }\n  }\n  // Google News / sitemap\n  if (articles.length === 0) {\n    const urlRe = /<url>([\\s\\S]*?)<\\/url>/gi;\n    while ((m = urlRe.exec(body)) !== null) {\n      const xml = m[1];\n      const loc = ((xml.match(/<loc>([^<]*)<\\/loc>/) || [])[1] || '').trim();\n      const title = clean((xml.match(/<news:title>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/news:title>/) || [])[1]\n        || (xml.match(/<title>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/title>/) || [])[1]);\n      if (loc !== '' && title !== '') {\n        articles.push({ article_title: title, article_url: loc, article_text: title, article_hash: loc });\n      }\n    }\n  }\n}\n\nfunction rootDomainHost(u) {\n  const mm = (u || '').match(/^https?:\\/\\/([^\\/]+)/);\n  return mm ? mm[1] : '';\n}\n\nif (articles.length === 0) return [skipItem];\nconst recent = articles.slice(0, MAX);\n\nreturn recent.map(function (a) {\n  return { json: {\n    __skip: 'no',\n    article_title: a.article_title,\n    article_url: a.article_url,\n    article_text: a.article_text,\n    article_hash: a.article_hash,\n    user_id: context.user_id,\n    source_id: context.source_id,\n    source_name: context.source_name,\n    source_url: context.source_url,\n    priorities: context.priorities\n  } };\n});\n"},"id":"ed7e6edf-a85a-4360-b40b-670cd87c79ff","name":"Parse Articles","type":"n8n-nodes-base.code","position":[-14464,240],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"has-article-check","leftValue":"={{ $json.__skip }}","rightValue":"yes","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"c1000001-0001-4000-8000-000000000022","name":"Has Article","type":"n8n-nodes-base.if","position":[-14256,416],"typeVersion":2.3},{"parameters":{"workflowId":{"__rl":true,"value":"BzDPtmgKdIvstt64","mode":"list","cachedResultUrl":"/workflow/BzDPtmgKdIvstt64","cachedResultName":"Wingsuite Root Folder — radar-sweep-articles"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"c1000001-0001-4000-8000-000000000023","name":"Process Source Articles","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-14032,208]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Active Sources","type":"main","index":0}]]},"Get Active Sources":{"main":[[{"node":"Filter Timezone","type":"main","index":0}]]},"Filter Timezone":{"main":[[{"node":"Loop Sources","type":"main","index":0}]]},"Loop Sources":{"main":[[],[{"node":"Fetch Page","type":"main","index":0}]]},"Fetch Page":{"main":[[{"node":"Get Feed URL","type":"main","index":0}]]},"Get Feed URL":{"main":[[{"node":"Should Fetch","type":"main","index":0}]]},"Should Fetch":{"main":[[{"node":"Fetch RSS","type":"main","index":0}],[{"node":"Loop Sources","type":"main","index":0}]]},"Fetch RSS":{"main":[[{"node":"Parse Articles","type":"main","index":0}]]},"Parse Articles":{"main":[[{"node":"Has Article","type":"main","index":0}]]},"Has Article":{"main":[[{"node":"Loop Sources","type":"main","index":0}],[{"node":"Process Source Articles","type":"main","index":0}]]},"Process Source Articles":{"main":[[{"node":"Loop Sources","type":"main","index":0}],[{"node":"Loop Sources","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"nodeGroups":[],"pinData":{},"versionId":"f57ce845-6f7e-4ca0-9f2b-15f8cd8086ad","activeVersionId":"f3522fc2-7d1d-469f-8c84-b9c1374729b0","versionCounter":101,"triggerCount":1,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-04-21T14:05:58.923Z","createdAt":"2026-04-21T14:05:58.923Z","role":"workflow:owner","workflowId":"0dGrOJHxBJZnmEK5","projectId":"5wB8K4Dwm33EnlQ1","project":{"updatedAt":"2025-07-21T19:35:37.093Z","createdAt":"2025-06-12T18:54:37.299Z","id":"5wB8K4Dwm33EnlQ1","name":"Wingsuite Root Folder","type":"team","icon":{"type":"icon","value":"layer-group"},"description":"Wingsuite Roots","customTelemetryTags":[],"creatorId":null}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-16T15:41:44.515Z","createdAt":"2026-06-16T15:41:41.757Z","versionId":"f3522fc2-7d1d-469f-8c84-b9c1374729b0","workflowId":"0dGrOJHxBJZnmEK5","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 * * * *"}]}},"id":"345c51f3-c81b-4efa-8687-d9620e2f484d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-16016,320],"typeVersion":1.2},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT u.n8n_user_id as user_id, s.id as source_id, s.url as source_url, s.name as source_name, COALESCE(u.settings->'radar'->>'priorities_markdown', '') as priorities, COALESCE(u.settings->>'timezone', 'Europe/Amsterdam') as timezone FROM radar_sources s JOIN portal_user u ON u.n8n_user_id = s.user_id WHERE s.status = 'followed' AND COALESCE(u.settings->'radar'->>'priorities_markdown', '') != ''","options":{}},"id":"53968250-30d4-4b54-9b9b-e50d17ca43cb","name":"Get Active Sources","type":"n8n-nodes-base.postgres","position":[-15792,320],"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"jsCode":"const items = $input.all().map(i => i.json);\n  if (!items.length || !items[0].user_id) return [];\n  return items.map(item => ({ json: item }));"},"id":"7ef123e1-8474-4b09-8494-c816df8b2b1c","name":"Filter Timezone","type":"n8n-nodes-base.code","position":[-15568,320],"typeVersion":2},{"parameters":{"options":{}},"id":"58c384a6-387e-4144-94f6-9f8c0898561a","name":"Loop Sources","type":"n8n-nodes-base.splitInBatches","position":[-15344,320],"typeVersion":3},{"parameters":{"url":"={{ $json.source_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (compatible; RadarBot/1.0)"}]},"options":{"allowUnauthorizedCerts":true,"timeout":15000}},"id":"491477d5-c556-4cab-89cc-0eccf85ceba1","name":"Fetch Page","type":"n8n-nodes-base.httpRequest","position":[-15136,240],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst context = $('Loop Sources').first().json;\nconst sourceUrl = (context.source_url || '').trim();\nconst rootDomain = (sourceUrl.match(/^https?:\\/\\/[^\\/]+/) || [])[0] || sourceUrl;\n\nif (sourceUrl === '') {\n  return [{ json: { ...context, feedUrl: '__skip__', fetchMode: 'none' } }];\n}\n\nlet body = '';\nif (typeof response === 'string') body = response;\nelse if (response.data) body = String(response.data);\nelse if (response.body) body = String(response.body);\n\nfunction feedLike(s) { return /<rss[\\s>]|<feed[\\s>]|<rdf|<item[\\s>]|<entry[\\s>]/i.test(s || ''); }\n\n// 1. The page we already fetched IS a feed\nif (feedLike(body)) {\n  return [{ json: { ...context, feedUrl: sourceUrl, fetchMode: 'rss' } }];\n}\n\n// 2. RSS / Atom autodiscovery in the HTML <head>\nconst rssLink = body.match(/<link[^>]*type=[\"']application\\/(?:rss|atom)\\+xml[\"'][^>]*href=[\"']([^\"']+)[\"']/i)\n  || body.match(/<link[^>]*href=[\"']([^\"']+)[\"'][^>]*type=[\"']application\\/(?:rss|atom)\\+xml[\"']/i);\nif (rssLink && rssLink[1]) {\n  let feedUrl = rssLink[1].trim();\n  if (feedUrl.startsWith('//')) feedUrl = 'https:' + feedUrl;\n  else if (feedUrl.startsWith('/')) feedUrl = rootDomain + feedUrl;\n  else if (/^https?:/i.test(feedUrl) === false) feedUrl = sourceUrl.replace(/\\/+$/, '') + '/' + feedUrl.replace(/^\\/+/, '');\n  return [{ json: { ...context, feedUrl, fetchMode: 'rss' } }];\n}\n\n// 3. No feed found — render the page through Jina Reader.\n// Handles JS-rendered sites, sources without RSS, and pages that blocked our direct fetch.\nreturn [{ json: { ...context, feedUrl: 'https://r.jina.ai/' + sourceUrl, fetchMode: 'jina' } }];\n"},"id":"2d7a0f8a-ed53-4f78-939d-33853590cba8","name":"Get Feed URL","type":"n8n-nodes-base.code","position":[-14912,240],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"should-fetch-check","leftValue":"={{ $json.feedUrl }}","rightValue":"__skip__","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"fa436f7a-5568-4365-91de-e1b302d881db","name":"Should Fetch","type":"n8n-nodes-base.if","position":[-14800,240],"typeVersion":2.3},{"parameters":{"url":"={{ $json.feedUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (compatible; RadarBot/1.0)"}]},"options":{"allowUnauthorizedCerts":true,"timeout":30000}},"id":"191a3551-fd76-45b0-8024-e969f54d4ce4","name":"Fetch RSS","type":"n8n-nodes-base.httpRequest","position":[-14576,160],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst context = $('Get Feed URL').first().json;\nconst fetchMode = context.fetchMode || 'rss';\nconst skipItem = { json: { __skip: 'yes', user_id: context.user_id, source_id: context.source_id, source_name: context.source_name, source_url: context.source_url, priorities: context.priorities } };\n\nlet body = '';\nif (typeof response === 'string') body = response;\nelse if (response.data) body = String(response.data);\nelse if (response.body) body = String(response.body);\n\nif (body === '' || body.length < 30) return [skipItem];\n\nfunction clean(s) {\n  return (s || '')\n    .replace(/<[^>]*>/g, ' ')\n    .replace(/&amp;/g, '&').replace(/&#0?39;/g, \"'\").replace(/&apos;/g, \"'\")\n    .replace(/&quot;/g, '\"').replace(/&nbsp;/g, ' ').replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n    .replace(/\\s+/g, ' ').trim();\n}\n\nconst MAX = 20;\nconst articles = [];\nlet m;\nconst looksXml = /<rss[\\s>]|<feed[\\s>]|<rdf|<item[\\s>]|<entry[\\s>]|<url>/i.test(body);\n\nif (fetchMode === 'jina' || looksXml === false) {\n  // Jina Reader markdown (or any non-feed text): pull plausible article links from the rendered page.\n  const host = rootDomainHost(context.source_url);\n  const srcPath = (context.source_url || '').replace(/^https?:\\/\\/[^\\/]+/, '').replace(/\\/+$/, '');\n  const navWords = /^(pricing|contact|about|career|careers|jobs|login|signin|sign-in|signup|sign-up|register|terms|privacy|legal|cookie|cookies|support|help|docs|documentation|demo|sales|enterprise|customer|customers|partner|partners|security|status|download|downloads|developer|developers|api|newsletter|subscribe|rss|sitemap|search|home|index)$/i;\n  const seen = {};\n  const linkRe = /\\[([^\\]]{6,180})\\]\\((https?:\\/\\/[^)\\s]+)\\)/g;\n  while ((m = linkRe.exec(body)) !== null) {\n    const title = clean(m[1]);\n    let url = m[2].split('#')[0].replace(/[).,]+$/, '');\n    if (title.length < 8) continue;\n    if (host !== '' && url.indexOf(host) === -1) continue;             // same site only\n    if (/\\.(png|jpg|jpeg|gif|svg|webp|css|js|pdf|zip|mp4|mp3)(\\?|$)/i.test(url)) continue;\n    const path = url.replace(/^https?:\\/\\/[^\\/]+/, '').split('?')[0];\n    if (path.length < 10) continue;                                   // skip homepage / short nav links\n    const segs = path.split('/').filter(function (x) { return x !== ''; });\n    const lastSeg = segs.length ? segs[segs.length - 1] : '';\n    if (navWords.test(lastSeg)) continue;                             // drop obvious nav/utility pages\n    // Accept only article-shaped links: under the source's own path, a known content section, or a real slug.\n    const underSource = srcPath !== '' && path.indexOf(srcPath + '/') === 0;\n    const sectionLike = /\\/(blog|news|article|articles|post|posts|story|stories|insight|insights|research|p)\\//i.test(path) || /\\/20\\d\\d\\//.test(path);\n    const slugLike = (lastSeg.split('-').length - 1) >= 2 && lastSeg.length >= 14;\n    if (underSource === false && sectionLike === false && slugLike === false) continue;\n    if (seen[url] === true) continue;\n    seen[url] = true;\n    articles.push({ article_title: title, article_url: url, article_text: title, article_hash: url });\n    if (articles.length >= MAX) break;\n  }\n} else {\n  // RSS 2.0 (and RSS 1.0/RDF items, which also carry a <link> child)\n  const rssRe = /<item[\\s>]([\\s\\S]*?)<\\/item>/gi;\n  while ((m = rssRe.exec(body)) !== null) {\n    const xml = m[1];\n    const title = clean((xml.match(/<title[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/title>/) || [])[1]);\n    let link = ((xml.match(/<link[^>]*>([\\s\\S]*?)<\\/link>/) || [])[1] || '').trim();\n    if (link === '') link = ((xml.match(/<link[^>]*href=[\"']([^\"']+)[\"']/) || [])[1] || '').trim();\n    if (link === '') link = ((xml.match(/rdf:about=[\"']([^\"']+)[\"']/) || [])[1] || '').trim();\n    if (link === '') link = ((xml.match(/<guid[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/guid>/) || [])[1] || '').trim();\n    const desc = (xml.match(/<description>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/description>/) || [])[1] || '';\n    const content = (xml.match(/<content:encoded>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/content:encoded>/) || [])[1] || '';\n    if (/^https?:/i.test(link)) {\n      articles.push({ article_title: title, article_url: link, article_text: clean(content || desc).substring(0, 3000), article_hash: link });\n    }\n  }\n  // Atom\n  if (articles.length === 0) {\n    const atomRe = /<entry[\\s>]([\\s\\S]*?)<\\/entry>/gi;\n    while ((m = atomRe.exec(body)) !== null) {\n      const xml = m[1];\n      const title = clean((xml.match(/<title[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/title>/) || [])[1]);\n      let link = ((xml.match(/<link[^>]*rel=[\"']alternate[\"'][^>]*href=[\"']([^\"']+)[\"']/i) || [])[1] || '').trim();\n      if (link === '') link = ((xml.match(/<link[^>]*href=[\"']([^\"']+)[\"']/i) || [])[1] || '').trim();\n      const content = (xml.match(/<(?:content|summary)[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/(?:content|summary)>/) || [])[1] || '';\n      if (/^https?:/i.test(link)) {\n        articles.push({ article_title: title, article_url: link, article_text: clean(content).substring(0, 3000), article_hash: link });\n      }\n    }\n  }\n  // Google News / sitemap\n  if (articles.length === 0) {\n    const urlRe = /<url>([\\s\\S]*?)<\\/url>/gi;\n    while ((m = urlRe.exec(body)) !== null) {\n      const xml = m[1];\n      const loc = ((xml.match(/<loc>([^<]*)<\\/loc>/) || [])[1] || '').trim();\n      const title = clean((xml.match(/<news:title>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/news:title>/) || [])[1]\n        || (xml.match(/<title>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/title>/) || [])[1]);\n      if (loc !== '' && title !== '') {\n        articles.push({ article_title: title, article_url: loc, article_text: title, article_hash: loc });\n      }\n    }\n  }\n}\n\nfunction rootDomainHost(u) {\n  const mm = (u || '').match(/^https?:\\/\\/([^\\/]+)/);\n  return mm ? mm[1] : '';\n}\n\nif (articles.length === 0) return [skipItem];\nconst recent = articles.slice(0, MAX);\n\nreturn recent.map(function (a) {\n  return { json: {\n    __skip: 'no',\n    article_title: a.article_title,\n    article_url: a.article_url,\n    article_text: a.article_text,\n    article_hash: a.article_hash,\n    user_id: context.user_id,\n    source_id: context.source_id,\n    source_name: context.source_name,\n    source_url: context.source_url,\n    priorities: context.priorities\n  } };\n});\n"},"id":"ed7e6edf-a85a-4360-b40b-670cd87c79ff","name":"Parse Articles","type":"n8n-nodes-base.code","position":[-14464,240],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"has-article-check","leftValue":"={{ $json.__skip }}","rightValue":"yes","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"c1000001-0001-4000-8000-000000000022","name":"Has Article","type":"n8n-nodes-base.if","position":[-14256,416],"typeVersion":2.3},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":"BzDPtmgKdIvstt64","cachedResultName":"radar-sweep-articles"},"options":{"waitForSubWorkflow":true}},"id":"c1000001-0001-4000-8000-000000000023","name":"Process Source Articles","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-14032,208]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Active Sources","type":"main","index":0}]]},"Get Active Sources":{"main":[[{"node":"Filter Timezone","type":"main","index":0}]]},"Filter Timezone":{"main":[[{"node":"Loop Sources","type":"main","index":0}]]},"Loop Sources":{"main":[[],[{"node":"Fetch Page","type":"main","index":0}]]},"Fetch Page":{"main":[[{"node":"Get Feed URL","type":"main","index":0}]]},"Get Feed URL":{"main":[[{"node":"Should Fetch","type":"main","index":0}]]},"Should Fetch":{"main":[[{"node":"Fetch RSS","type":"main","index":0}],[{"node":"Loop Sources","type":"main","index":0}]]},"Fetch RSS":{"main":[[{"node":"Parse Articles","type":"main","index":0}]]},"Parse Articles":{"main":[[{"node":"Has Article","type":"main","index":0}]]},"Has Article":{"main":[[{"node":"Loop Sources","type":"main","index":0}],[{"node":"Process Source Articles","type":"main","index":0}]]},"Process Source Articles":{"main":[[{"node":"Loop Sources","type":"main","index":0}],[{"node":"Loop Sources","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Ben van Steenbergen","name":"Version f3522fc2","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-06-16T15:41:44.496Z","id":990,"workflowId":"0dGrOJHxBJZnmEK5","versionId":"f3522fc2-7d1d-469f-8c84-b9c1374729b0","event":"activated","userId":"64e933f4-3ff2-4261-8186-b09ac50d85ed"}]}}