docs/n8n/backups/radar-sweep-20260608-213841.json
{"updatedAt":"2026-05-09T19:30:56.699Z","createdAt":"2026-04-21T14:05:58.923Z","id":"0dGrOJHxBJZnmEK5","name":"radar-sweep","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 * * * *"}]}},"id":"345c51f3-c81b-4efa-8687-d9620e2f484d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-16016,320],"typeVersion":1.2},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT u.n8n_user_id as user_id, s.id as source_id, s.url as source_url, s.name as source_name, COALESCE(u.settings->'radar'->>'priorities_markdown', '') as priorities, COALESCE(u.settings->>'timezone', 'Europe/Amsterdam') as timezone FROM radar_sources s JOIN portal_user u ON u.n8n_user_id = s.user_id WHERE s.status = 'followed' AND COALESCE(u.settings->'radar'->>'priorities_markdown', '') != ''","options":{}},"id":"53968250-30d4-4b54-9b9b-e50d17ca43cb","name":"Get Active Sources","type":"n8n-nodes-base.postgres","position":[-15792,320],"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"jsCode":"const items = $input.all().map(i => i.json);\n  if (!items.length || !items[0].user_id) return [];\n  return items.map(item => ({ json: item }));"},"id":"7ef123e1-8474-4b09-8494-c816df8b2b1c","name":"Filter Timezone","type":"n8n-nodes-base.code","position":[-15568,320],"typeVersion":2},{"parameters":{"options":{}},"id":"58c384a6-387e-4144-94f6-9f8c0898561a","name":"Loop Sources","type":"n8n-nodes-base.splitInBatches","position":[-15344,320],"typeVersion":3},{"parameters":{"url":"={{ $json.source_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (compatible; RadarBot/1.0)"}]},"options":{"allowUnauthorizedCerts":true,"timeout":15000}},"id":"491477d5-c556-4cab-89cc-0eccf85ceba1","name":"Fetch Page","type":"n8n-nodes-base.httpRequest","position":[-15136,240],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst context = $('Loop Sources').first().json;\nconst sourceUrl = context.source_url;\nconst rootDomain = sourceUrl.match(/^https?:\\/\\/[^\\/]+/)?.[0] || sourceUrl;\nconst basePath = sourceUrl.replace(/\\/+$/, '');\n\n// Extract body — avoid JSON.stringify fallback (can cause false Cloudflare matches from response metadata)\nlet body = '';\nif (typeof response === 'string') {\n  body = response;\n} else if (response.data) {\n  body = String(response.data);\n} else if (response.body) {\n  body = String(response.body);\n}\n\n// If page fetch failed, try feed at source path (handles WordPress in subdirs like gsqi.com/marketing-blog/)\nif (!body || body.length < 100 || /cf-error|cloudflare/i.test(body) || response.error) {\n  return [{ json: { ...context, feedUrl: basePath + '/feed/' } }];\n}\n\n// Already RSS/Atom? Re-use source URL\nif (/<rss|<feed[\\s>]|<item>|<entry>/i.test(body)) {\n  return [{ json: { ...context, feedUrl: sourceUrl } }];\n}\n\n// RSS autodiscovery in HTML <link> tags\nconst rssLink = body.match(/<link[^>]*type=[\"']application\\/rss\\+xml[\"'][^>]*href=[\"']([^\"']+)[\"']/i)\n  || body.match(/<link[^>]*href=[\"']([^\"']+)[\"'][^>]*type=[\"']application\\/rss\\+xml[\"']/i)\n  || body.match(/<link[^>]*type=[\"']application\\/atom\\+xml[\"'][^>]*href=[\"']([^\"']+)[\"']/i);\n\nif (rssLink && rssLink[1]) {\n  let feedUrl = rssLink[1];\n  if (feedUrl.startsWith('/')) {\n    feedUrl = rootDomain + feedUrl;\n  }\n  return [{ json: { ...context, feedUrl } }];\n}\n\n// Fallback: /feed at the source URL path (not root domain — handles subdirectory blogs)\nreturn [{ json: { ...context, feedUrl: basePath + '/feed/' } }];"},"id":"2d7a0f8a-ed53-4f78-939d-33853590cba8","name":"Get Feed URL","type":"n8n-nodes-base.code","position":[-14912,240],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"should-fetch-check","leftValue":"={{ $json.feedUrl }}","rightValue":"__skip__","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"fa436f7a-5568-4365-91de-e1b302d881db","name":"Should Fetch","type":"n8n-nodes-base.if","position":[-14800,240],"typeVersion":2.3},{"parameters":{"url":"={{ $json.feedUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (compatible; RadarBot/1.0)"}]},"options":{"allowUnauthorizedCerts":true,"timeout":15000}},"id":"191a3551-fd76-45b0-8024-e969f54d4ce4","name":"Fetch RSS","type":"n8n-nodes-base.httpRequest","position":[-14576,160],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst context = $('Get Feed URL').first().json;\n\n// Extract body\nlet body = '';\nif (typeof response === 'string') { body = response; }\nelse if (response.data) { body = String(response.data); }\nelse if (response.body) { body = String(response.body); }\n\nif (!body || body.length < 50) return [];\n\nconst articles = [];\nlet match;\n\n// RSS 2.0\nconst rssRegex = /<item>([\\s\\S]*?)<\\/item>/gi;\nwhile ((match = rssRegex.exec(body)) !== null) {\n  const xml = match[1];\n  const title = (xml.match(/<title>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/title>/) || [])[1] || '';\n  const link = (xml.match(/<link>([\\s\\S]*?)<\\/link>/) || [])[1] || '';\n  const desc = (xml.match(/<description>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/description>/) || [])[1] || '';\n  const content = (xml.match(/<content:encoded>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/content:encoded>/) || [])[1] || '';\n  if (link.trim()) {\n    articles.push({\n      article_title: title.trim().replace(/<[^>]*>/g, ''),\n      article_url: link.trim(),\n      article_text: (content || desc).replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim().substring(0, 3000),\n      article_hash: link.trim()\n    });\n  }\n}\n\n// Atom\nif (articles.length === 0) {\n  const atomRegex = /<entry>([\\s\\S]*?)<\\/entry>/gi;\n  while ((match = atomRegex.exec(body)) !== null) {\n    const xml = match[1];\n    const title = (xml.match(/<title[^>]*>([\\s\\S]*?)<\\/title>/) || [])[1] || '';\n    const link = (xml.match(/<link[^>]*href=[\"']([^\"']*)[\"']/) || [])[1] || '';\n    const content = (xml.match(/<(?:content|summary)[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/(?:content|summary)>/) || [])[1] || '';\n    if (link.trim()) {\n      articles.push({\n        article_title: title.trim().replace(/<[^>]*>/g, ''),\n        article_url: link.trim(),\n        article_text: content.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim().substring(0, 3000),\n        article_hash: link.trim()\n      });\n    }\n  }\n}\n\n// Google News Sitemap\nif (articles.length === 0) {\n  const urlRegex = /<url>([\\s\\S]*?)<\\/url>/gi;\n  while ((match = urlRegex.exec(body)) !== null) {\n    const xml = match[1];\n    const loc = (xml.match(/<loc>([^<]*)<\\/loc>/) || [])[1] || '';\n    const title = (xml.match(/<news:title>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/news:title>/) || [])[1]\n      || (xml.match(/<title>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/title>/) || [])[1] || '';\n    if (loc.trim() && title.trim()) {\n      articles.push({\n        article_title: title.trim().replace(/<[^>]*>/g, ''),\n        article_url: loc.trim(),\n        article_text: title.trim(),\n        article_hash: loc.trim()\n      });\n    }\n  }\n}\n\nif (articles.length === 0) return [];\nconst recent = articles.slice(0, 10);\n\nreturn recent.map(a => ({ json: {\n  ...a,\n  user_id: context.user_id,\n  source_id: context.source_id,\n  source_name: context.source_name,\n  source_url: context.source_url,\n  priorities: context.priorities\n}}));"},"id":"ed7e6edf-a85a-4360-b40b-670cd87c79ff","name":"Parse Articles","type":"n8n-nodes-base.code","position":[-14464,240],"typeVersion":2},{"parameters":{"options":{}},"id":"a1e7dbbc-f286-4ccd-902a-30bf27694cc6","name":"Loop Articles","type":"n8n-nodes-base.splitInBatches","position":[-14256,240],"typeVersion":3},{"parameters":{"operation":"executeQuery","query":"SELECT id FROM radar_concepts WHERE article_hash = '{{ $json.article_url }}' AND user_id = '{{ $json.user_id }}'::uuid LIMIT 1","options":{}},"id":"b42789e9-152b-43a1-96b4-dc335e2262f6","name":"Dedupe Check","type":"n8n-nodes-base.postgres","position":[-14464,160],"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"jsCode":"const dedupeResult = $input.first().json;\nconst article = $('Loop Articles').first().json;\n\n// If dedupe returned an id, the article already exists\nconst isNew = !dedupeResult.id;\n\nreturn [{ json: { ...article, isNew } }];"},"id":"9d48a98b-2a78-4976-bfcd-4d2cb9c8a838","name":"Check New","type":"n8n-nodes-base.code","position":[-14256,160],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"is-new-check","leftValue":"={{ $json.isNew }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"fa9292e3-883d-4d69-8515-7eddbe99f76b","name":"Is New","type":"n8n-nodes-base.if","position":[-14032,160],"typeVersion":2.3},{"parameters":{"jsCode":"const a = $input.first().json;\nreturn [{ json: {\n  ...a,\n  query: 'Source: ' + a.source_name + '\\nTitle: ' + a.article_title + '\\nURL: ' + a.article_url + '\\n\\n' + a.article_text\n}}];"},"id":"1711758b-f695-47b6-a96f-7df583655ba6","name":"Build Radar Context","type":"n8n-nodes-base.code","position":[-13808,80],"typeVersion":2},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{}},"id":"35f5fef0-bc67-45e5-b3eb-b8644f3d1634","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-13584,288],"credentials":{"anthropicApi":{"id":"zvfIJSmp6pElXMtZ","name":"Anthropic account"}}},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=You are the Radar, a silent relevance filter. You receive one article and the user's priorities doc. Decide: does this clear the relevance bar?\n\nRULES:\n1. Silence is the default. When in doubt, drop.\n2. Match on substance, not keywords. A keyword hit is not enough.\n3. Respect allergies — an allergy match is a veto.\n4. Never surface off-target adjacent. Adjacent but interesting = drop.\n5. Never guess past truncated or paywalled material — err on dropping.\n6. One-line rationale on pass, citing which priority line it matches.\n\nPRIORITIES DOC:\n{{ $json.priorities }}\n\nOUTPUT — valid JSON only, no code fences:\nPass: {\"decision\": \"pass\", \"matched_priority\": \"specific line from priorities doc\", \"rationale\": \"one-line reason\"}\nDrop: {\"decision\": \"drop\", \"reason\": \"one-line explanation\"}"}},"id":"b29e9462-23c6-4bad-a786-5154458ab1ac","name":"Radar Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-13584,80]},{"parameters":{"jsCode":"let raw = $input.first().json.output;\nconst article = $('Build Radar Context').first().json;\n\nlet parsed;\nif (typeof raw === 'object' && raw !== null) {\n  parsed = raw;\n} else {\n  let text = String(raw || '').trim();\n  text = text.replace(/^```(?:json)?\\s*\\n?/, '').replace(/\\n?\\s*```\\s*$/, '').trim();\n  try {\n    parsed = JSON.parse(text);\n  } catch (e) {\n    const match = text.match(/\\{[\\s\\S]*\"decision\"[\\s\\S]*\\}$/);\n    if (match) {\n      try { parsed = JSON.parse(match[0]); } catch (e2) { parsed = null; }\n    }\n    if (!parsed) {\n      parsed = { decision: 'drop', reason: 'Could not parse agent output' };\n    }\n  }\n}\n\nreturn [{ json: { ...article, decision: parsed.decision, matched_priority: parsed.matched_priority || '', rationale: parsed.rationale || parsed.reason || '' } }];"},"id":"49beceaf-d553-4e6c-8282-3a450293fef3","name":"Parse Decision","type":"n8n-nodes-base.code","position":[-13376,80],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"is-pass-check","leftValue":"={{ $json.decision }}","rightValue":"pass","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"8ea51cf2-1550-4ab4-81e5-5797fbd8ea00","name":"Is Pass","type":"n8n-nodes-base.if","position":[-13152,80],"typeVersion":2.3},{"parameters":{"workflowId":{"__rl":true,"value":"xXNTbqWtzRTWSRs9","mode":"list","cachedResultUrl":"/workflow/xXNTbqWtzRTWSRs9","cachedResultName":"radar-concepter"},"workflowInputs":{"value":{"article_url":"={{ $json.article_url }}","article_title":"={{ $json.article_title }}","article_text":"={{ $json.article_text }}","article_hash":"={{ $json.article_hash }}","source_name":"={{ $json.source_name }}","source_id":"={{ $json.source_id }}","user_id":"={{ $json.user_id }}","priorities":"={{ $json.priorities }}","matched_priority":"={{ $json.matched_priority }}","rationale":"={{ $json.rationale }}"},"schema":[{"id":"article_url","type":"string","display":true,"removed":false,"required":false,"displayName":"article_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"article_title","type":"string","display":true,"removed":false,"required":false,"displayName":"article_title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"article_text","type":"string","display":true,"removed":false,"required":false,"displayName":"article_text","defaultMatch":false,"canBeUsedToMatch":true},{"id":"article_hash","type":"string","display":true,"removed":false,"required":false,"displayName":"article_hash","defaultMatch":false,"canBeUsedToMatch":true},{"id":"source_name","type":"string","display":true,"removed":false,"required":false,"displayName":"source_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"source_id","type":"string","display":true,"removed":false,"required":false,"displayName":"source_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"user_id","type":"string","display":true,"removed":false,"required":false,"displayName":"user_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"priorities","type":"string","display":true,"removed":false,"required":false,"displayName":"priorities","defaultMatch":false,"canBeUsedToMatch":true},{"id":"matched_priority","type":"string","display":true,"removed":false,"required":false,"displayName":"matched_priority","defaultMatch":false,"canBeUsedToMatch":true},{"id":"rationale","type":"string","display":true,"removed":false,"required":false,"displayName":"rationale","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["article_url"],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"6b7954e3-629a-46b5-b9c1-8a625202cc8c","name":"Call Concepter","type":"n8n-nodes-base.executeWorkflow","position":[-12928,0],"typeVersion":1.2},{"parameters":{"operation":"executeQuery","query":"INSERT INTO radar_concepts (user_id, source_id, article_url, article_hash, headline, concept_body, alignment_quote, alignment_priority, alignment_why, status) VALUES ('{{ $json.user_id }}'::uuid, '{{ $json.source_id }}'::uuid, '{{ $json.article_url }}', '{{ $json.article_hash }}', '{{ $json.article_title.replace(/'/g, \"''\") }}', '', '', '', '', 'dropped') ON CONFLICT DO NOTHING","options":{}},"id":"7e8eed69-1dc9-4d66-a395-3fec272acff7","name":"Insert Dropped","type":"n8n-nodes-base.postgres","position":[-12928,160],"typeVersion":2.6,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}},"onError":"continueRegularOutput"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Active Sources","type":"main","index":0}]]},"Get Active Sources":{"main":[[{"node":"Filter Timezone","type":"main","index":0}]]},"Filter Timezone":{"main":[[{"node":"Loop Sources","type":"main","index":0}]]},"Loop Sources":{"main":[[],[{"node":"Fetch Page","type":"main","index":0}]]},"Fetch Page":{"main":[[{"node":"Get Feed URL","type":"main","index":0}]]},"Get Feed URL":{"main":[[{"node":"Should Fetch","type":"main","index":0}]]},"Should Fetch":{"main":[[{"node":"Fetch RSS","type":"main","index":0}],[{"node":"Loop Sources","type":"main","index":0}]]},"Fetch RSS":{"main":[[{"node":"Parse Articles","type":"main","index":0}]]},"Parse Articles":{"main":[[{"node":"Loop Articles","type":"main","index":0}]]},"Loop Articles":{"main":[[{"node":"Loop Sources","type":"main","index":0}],[{"node":"Dedupe Check","type":"main","index":0}]]},"Dedupe Check":{"main":[[{"node":"Check New","type":"main","index":0}]]},"Check New":{"main":[[{"node":"Is New","type":"main","index":0}]]},"Is New":{"main":[[{"node":"Build Radar Context","type":"main","index":0}],[{"node":"Loop Articles","type":"main","index":0}]]},"Build Radar Context":{"main":[[{"node":"Radar Agent","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Radar Agent","type":"ai_languageModel","index":0}]]},"Radar Agent":{"main":[[{"node":"Parse Decision","type":"main","index":0}]]},"Parse Decision":{"main":[[{"node":"Is Pass","type":"main","index":0}]]},"Is Pass":{"main":[[{"node":"Call Concepter","type":"main","index":0}],[{"node":"Insert Dropped","type":"main","index":0}]]},"Insert Dropped":{"main":[[{"node":"Loop Articles","type":"main","index":0}]]},"Call Concepter":{"main":[[{"node":"Loop Articles","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"b1f7ed0f-1d20-4f7f-afb1-db699b267430","activeVersionId":"d4d2a225-ccbe-47d9-8e0c-4b9e887011cb","versionCounter":74,"triggerCount":1,"shared":[{"updatedAt":"2026-04-21T14:05:58.923Z","createdAt":"2026-04-21T14:05:58.923Z","role":"workflow:owner","workflowId":"0dGrOJHxBJZnmEK5","projectId":"5wB8K4Dwm33EnlQ1","project":{"updatedAt":"2025-07-21T19:35:37.093Z","createdAt":"2025-06-12T18:54:37.299Z","id":"5wB8K4Dwm33EnlQ1","name":"Wingsuite Root Folder","type":"team","icon":{"type":"icon","value":"layer-group"},"description":"Wingsuite Roots","creatorId":null}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-09T19:30:36.883Z","createdAt":"2026-05-09T19:30:33.829Z","versionId":"d4d2a225-ccbe-47d9-8e0c-4b9e887011cb","workflowId":"0dGrOJHxBJZnmEK5","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 * * * *"}]}},"id":"345c51f3-c81b-4efa-8687-d9620e2f484d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-16016,320],"typeVersion":1.2},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT u.n8n_user_id as user_id, s.id as source_id, s.url as source_url, s.name as source_name, COALESCE(u.settings->'radar'->>'priorities_markdown', '') as priorities, COALESCE(u.settings->>'timezone', 'Europe/Amsterdam') as timezone FROM radar_sources s JOIN portal_user u ON u.n8n_user_id = s.user_id WHERE s.status = 'followed' AND COALESCE(u.settings->'radar'->>'priorities_markdown', '') != ''","options":{}},"id":"53968250-30d4-4b54-9b9b-e50d17ca43cb","name":"Get Active Sources","type":"n8n-nodes-base.postgres","position":[-15792,320],"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"jsCode":"const items = $input.all().map(i => i.json);\n  if (!items.length || !items[0].user_id) return [];\n  return items.map(item => ({ json: item }));"},"id":"7ef123e1-8474-4b09-8494-c816df8b2b1c","name":"Filter Timezone","type":"n8n-nodes-base.code","position":[-15568,320],"typeVersion":2},{"parameters":{"options":{}},"id":"58c384a6-387e-4144-94f6-9f8c0898561a","name":"Loop Sources","type":"n8n-nodes-base.splitInBatches","position":[-15344,320],"typeVersion":3},{"parameters":{"url":"={{ $json.source_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (compatible; RadarBot/1.0)"}]},"options":{"allowUnauthorizedCerts":true,"timeout":15000}},"id":"491477d5-c556-4cab-89cc-0eccf85ceba1","name":"Fetch Page","type":"n8n-nodes-base.httpRequest","position":[-15136,240],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst context = $('Loop Sources').first().json;\nconst sourceUrl = context.source_url;\nconst rootDomain = sourceUrl.match(/^https?:\\/\\/[^\\/]+/)?.[0] || sourceUrl;\nconst basePath = sourceUrl.replace(/\\/+$/, '');\n\n// Extract body — avoid JSON.stringify fallback (can cause false Cloudflare matches from response metadata)\nlet body = '';\nif (typeof response === 'string') {\n  body = response;\n} else if (response.data) {\n  body = String(response.data);\n} else if (response.body) {\n  body = String(response.body);\n}\n\n// If page fetch failed, try feed at source path (handles WordPress in subdirs like gsqi.com/marketing-blog/)\nif (!body || body.length < 100 || /cf-error|cloudflare/i.test(body) || response.error) {\n  return [{ json: { ...context, feedUrl: basePath + '/feed/' } }];\n}\n\n// Already RSS/Atom? Re-use source URL\nif (/<rss|<feed[\\s>]|<item>|<entry>/i.test(body)) {\n  return [{ json: { ...context, feedUrl: sourceUrl } }];\n}\n\n// RSS autodiscovery in HTML <link> tags\nconst rssLink = body.match(/<link[^>]*type=[\"']application\\/rss\\+xml[\"'][^>]*href=[\"']([^\"']+)[\"']/i)\n  || body.match(/<link[^>]*href=[\"']([^\"']+)[\"'][^>]*type=[\"']application\\/rss\\+xml[\"']/i)\n  || body.match(/<link[^>]*type=[\"']application\\/atom\\+xml[\"'][^>]*href=[\"']([^\"']+)[\"']/i);\n\nif (rssLink && rssLink[1]) {\n  let feedUrl = rssLink[1];\n  if (feedUrl.startsWith('/')) {\n    feedUrl = rootDomain + feedUrl;\n  }\n  return [{ json: { ...context, feedUrl } }];\n}\n\n// Fallback: /feed at the source URL path (not root domain — handles subdirectory blogs)\nreturn [{ json: { ...context, feedUrl: basePath + '/feed/' } }];"},"id":"2d7a0f8a-ed53-4f78-939d-33853590cba8","name":"Get Feed URL","type":"n8n-nodes-base.code","position":[-14912,240],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"should-fetch-check","leftValue":"={{ $json.feedUrl }}","rightValue":"__skip__","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"fa436f7a-5568-4365-91de-e1b302d881db","name":"Should Fetch","type":"n8n-nodes-base.if","position":[-14800,240],"typeVersion":2.3},{"parameters":{"url":"={{ $json.feedUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (compatible; RadarBot/1.0)"}]},"options":{"allowUnauthorizedCerts":true,"timeout":15000}},"id":"191a3551-fd76-45b0-8024-e969f54d4ce4","name":"Fetch RSS","type":"n8n-nodes-base.httpRequest","position":[-14576,160],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst context = $('Get Feed URL').first().json;\n\n// Extract body\nlet body = '';\nif (typeof response === 'string') { body = response; }\nelse if (response.data) { body = String(response.data); }\nelse if (response.body) { body = String(response.body); }\n\nif (!body || body.length < 50) return [];\n\nconst articles = [];\nlet match;\n\n// RSS 2.0\nconst rssRegex = /<item>([\\s\\S]*?)<\\/item>/gi;\nwhile ((match = rssRegex.exec(body)) !== null) {\n  const xml = match[1];\n  const title = (xml.match(/<title>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/title>/) || [])[1] || '';\n  const link = (xml.match(/<link>([\\s\\S]*?)<\\/link>/) || [])[1] || '';\n  const desc = (xml.match(/<description>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/description>/) || [])[1] || '';\n  const content = (xml.match(/<content:encoded>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/content:encoded>/) || [])[1] || '';\n  if (link.trim()) {\n    articles.push({\n      article_title: title.trim().replace(/<[^>]*>/g, ''),\n      article_url: link.trim(),\n      article_text: (content || desc).replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim().substring(0, 3000),\n      article_hash: link.trim()\n    });\n  }\n}\n\n// Atom\nif (articles.length === 0) {\n  const atomRegex = /<entry>([\\s\\S]*?)<\\/entry>/gi;\n  while ((match = atomRegex.exec(body)) !== null) {\n    const xml = match[1];\n    const title = (xml.match(/<title[^>]*>([\\s\\S]*?)<\\/title>/) || [])[1] || '';\n    const link = (xml.match(/<link[^>]*href=[\"']([^\"']*)[\"']/) || [])[1] || '';\n    const content = (xml.match(/<(?:content|summary)[^>]*>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/(?:content|summary)>/) || [])[1] || '';\n    if (link.trim()) {\n      articles.push({\n        article_title: title.trim().replace(/<[^>]*>/g, ''),\n        article_url: link.trim(),\n        article_text: content.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim().substring(0, 3000),\n        article_hash: link.trim()\n      });\n    }\n  }\n}\n\n// Google News Sitemap\nif (articles.length === 0) {\n  const urlRegex = /<url>([\\s\\S]*?)<\\/url>/gi;\n  while ((match = urlRegex.exec(body)) !== null) {\n    const xml = match[1];\n    const loc = (xml.match(/<loc>([^<]*)<\\/loc>/) || [])[1] || '';\n    const title = (xml.match(/<news:title>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/news:title>/) || [])[1]\n      || (xml.match(/<title>(?:<!\\[CDATA\\[)?([\\s\\S]*?)(?:\\]\\]>)?<\\/title>/) || [])[1] || '';\n    if (loc.trim() && title.trim()) {\n      articles.push({\n        article_title: title.trim().replace(/<[^>]*>/g, ''),\n        article_url: loc.trim(),\n        article_text: title.trim(),\n        article_hash: loc.trim()\n      });\n    }\n  }\n}\n\nif (articles.length === 0) return [];\nconst recent = articles.slice(0, 10);\n\nreturn recent.map(a => ({ json: {\n  ...a,\n  user_id: context.user_id,\n  source_id: context.source_id,\n  source_name: context.source_name,\n  source_url: context.source_url,\n  priorities: context.priorities\n}}));"},"id":"ed7e6edf-a85a-4360-b40b-670cd87c79ff","name":"Parse Articles","type":"n8n-nodes-base.code","position":[-14464,240],"typeVersion":2},{"parameters":{"options":{}},"id":"a1e7dbbc-f286-4ccd-902a-30bf27694cc6","name":"Loop Articles","type":"n8n-nodes-base.splitInBatches","position":[-14256,240],"typeVersion":3},{"parameters":{"operation":"executeQuery","query":"SELECT id FROM radar_concepts WHERE article_hash = '{{ $json.article_url }}' AND user_id = '{{ $json.user_id }}'::uuid LIMIT 1","options":{}},"id":"b42789e9-152b-43a1-96b4-dc335e2262f6","name":"Dedupe Check","type":"n8n-nodes-base.postgres","position":[-14464,160],"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"jsCode":"const dedupeResult = $input.first().json;\nconst article = $('Loop Articles').first().json;\n\n// If dedupe returned an id, the article already exists\nconst isNew = !dedupeResult.id;\n\nreturn [{ json: { ...article, isNew } }];"},"id":"9d48a98b-2a78-4976-bfcd-4d2cb9c8a838","name":"Check New","type":"n8n-nodes-base.code","position":[-14256,160],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"is-new-check","leftValue":"={{ $json.isNew }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"fa9292e3-883d-4d69-8515-7eddbe99f76b","name":"Is New","type":"n8n-nodes-base.if","position":[-14032,160],"typeVersion":2.3},{"parameters":{"jsCode":"const a = $input.first().json;\nreturn [{ json: {\n  ...a,\n  query: 'Source: ' + a.source_name + '\\nTitle: ' + a.article_title + '\\nURL: ' + a.article_url + '\\n\\n' + a.article_text\n}}];"},"id":"1711758b-f695-47b6-a96f-7df583655ba6","name":"Build Radar Context","type":"n8n-nodes-base.code","position":[-13808,80],"typeVersion":2},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{}},"id":"35f5fef0-bc67-45e5-b3eb-b8644f3d1634","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-13584,288],"credentials":{"anthropicApi":{"id":"zvfIJSmp6pElXMtZ","name":"Anthropic account"}}},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=You are the Radar, a silent relevance filter. You receive one article and the user's priorities doc. Decide: does this clear the relevance bar?\n\nRULES:\n1. Silence is the default. When in doubt, drop.\n2. Match on substance, not keywords. A keyword hit is not enough.\n3. Respect allergies — an allergy match is a veto.\n4. Never surface off-target adjacent. Adjacent but interesting = drop.\n5. Never guess past truncated or paywalled material — err on dropping.\n6. One-line rationale on pass, citing which priority line it matches.\n\nPRIORITIES DOC:\n{{ $json.priorities }}\n\nOUTPUT — valid JSON only, no code fences:\nPass: {\"decision\": \"pass\", \"matched_priority\": \"specific line from priorities doc\", \"rationale\": \"one-line reason\"}\nDrop: {\"decision\": \"drop\", \"reason\": \"one-line explanation\"}"}},"id":"b29e9462-23c6-4bad-a786-5154458ab1ac","name":"Radar Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-13584,80]},{"parameters":{"jsCode":"let raw = $input.first().json.output;\nconst article = $('Build Radar Context').first().json;\n\nlet parsed;\nif (typeof raw === 'object' && raw !== null) {\n  parsed = raw;\n} else {\n  let text = String(raw || '').trim();\n  text = text.replace(/^```(?:json)?\\s*\\n?/, '').replace(/\\n?\\s*```\\s*$/, '').trim();\n  try {\n    parsed = JSON.parse(text);\n  } catch (e) {\n    const match = text.match(/\\{[\\s\\S]*\"decision\"[\\s\\S]*\\}$/);\n    if (match) {\n      try { parsed = JSON.parse(match[0]); } catch (e2) { parsed = null; }\n    }\n    if (!parsed) {\n      parsed = { decision: 'drop', reason: 'Could not parse agent output' };\n    }\n  }\n}\n\nreturn [{ json: { ...article, decision: parsed.decision, matched_priority: parsed.matched_priority || '', rationale: parsed.rationale || parsed.reason || '' } }];"},"id":"49beceaf-d553-4e6c-8282-3a450293fef3","name":"Parse Decision","type":"n8n-nodes-base.code","position":[-13376,80],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"is-pass-check","leftValue":"={{ $json.decision }}","rightValue":"pass","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"8ea51cf2-1550-4ab4-81e5-5797fbd8ea00","name":"Is Pass","type":"n8n-nodes-base.if","position":[-13152,80],"typeVersion":2.3},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":"xXNTbqWtzRTWSRs9","cachedResultName":"radar-concepter"},"workflowInputs":{"value":{"article_url":"={{ $json.article_url }}","article_title":"={{ $json.article_title }}","article_text":"={{ $json.article_text }}","article_hash":"={{ $json.article_hash }}","source_name":"={{ $json.source_name }}","source_id":"={{ $json.source_id }}","user_id":"={{ $json.user_id }}","priorities":"={{ $json.priorities }}","matched_priority":"={{ $json.matched_priority }}","rationale":"={{ $json.rationale }}"},"schema":[{"id":"article_url","type":"string","display":true,"removed":false,"required":false,"displayName":"article_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"article_title","type":"string","display":true,"removed":false,"required":false,"displayName":"article_title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"article_text","type":"string","display":true,"removed":false,"required":false,"displayName":"article_text","defaultMatch":false,"canBeUsedToMatch":true},{"id":"article_hash","type":"string","display":true,"removed":false,"required":false,"displayName":"article_hash","defaultMatch":false,"canBeUsedToMatch":true},{"id":"source_name","type":"string","display":true,"removed":false,"required":false,"displayName":"source_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"source_id","type":"string","display":true,"removed":false,"required":false,"displayName":"source_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"user_id","type":"string","display":true,"removed":false,"required":false,"displayName":"user_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"priorities","type":"string","display":true,"removed":false,"required":false,"displayName":"priorities","defaultMatch":false,"canBeUsedToMatch":true},{"id":"matched_priority","type":"string","display":true,"removed":false,"required":false,"displayName":"matched_priority","defaultMatch":false,"canBeUsedToMatch":true},{"id":"rationale","type":"string","display":true,"removed":false,"required":false,"displayName":"rationale","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["article_url"],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"6b7954e3-629a-46b5-b9c1-8a625202cc8c","name":"Call Concepter","type":"n8n-nodes-base.executeWorkflow","position":[-12928,0],"typeVersion":1.2},{"parameters":{"operation":"executeQuery","query":"INSERT INTO radar_concepts (user_id, source_id, article_url, article_hash, headline, concept_body, alignment_quote, alignment_priority, alignment_why, status) VALUES ('{{ $json.user_id }}'::uuid, '{{ $json.source_id }}'::uuid, '{{ $json.article_url }}', '{{ $json.article_hash }}', '{{ $json.article_title.replace(/'/g, \"''\") }}', '', '', '', '', 'dropped') ON CONFLICT DO NOTHING","options":{}},"id":"7e8eed69-1dc9-4d66-a395-3fec272acff7","name":"Insert Dropped","type":"n8n-nodes-base.postgres","position":[-12928,160],"typeVersion":2.6,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}},"onError":"continueRegularOutput"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Active Sources","type":"main","index":0}]]},"Get Active Sources":{"main":[[{"node":"Filter Timezone","type":"main","index":0}]]},"Filter Timezone":{"main":[[{"node":"Loop Sources","type":"main","index":0}]]},"Loop Sources":{"main":[[],[{"node":"Fetch Page","type":"main","index":0}]]},"Fetch Page":{"main":[[{"node":"Get Feed URL","type":"main","index":0}]]},"Get Feed URL":{"main":[[{"node":"Should Fetch","type":"main","index":0}]]},"Should Fetch":{"main":[[{"node":"Fetch RSS","type":"main","index":0}],[{"node":"Loop Sources","type":"main","index":0}]]},"Fetch RSS":{"main":[[{"node":"Parse Articles","type":"main","index":0}]]},"Parse Articles":{"main":[[{"node":"Loop Articles","type":"main","index":0}]]},"Loop Articles":{"main":[[{"node":"Loop Sources","type":"main","index":0}],[{"node":"Dedupe Check","type":"main","index":0}]]},"Dedupe Check":{"main":[[{"node":"Check New","type":"main","index":0}]]},"Check New":{"main":[[{"node":"Is New","type":"main","index":0}]]},"Is New":{"main":[[{"node":"Build Radar Context","type":"main","index":0}],[{"node":"Loop Articles","type":"main","index":0}]]},"Build Radar Context":{"main":[[{"node":"Radar Agent","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Radar Agent","type":"ai_languageModel","index":0}]]},"Radar Agent":{"main":[[{"node":"Parse Decision","type":"main","index":0}]]},"Parse Decision":{"main":[[{"node":"Is Pass","type":"main","index":0}]]},"Is Pass":{"main":[[{"node":"Call Concepter","type":"main","index":0}],[{"node":"Insert Dropped","type":"main","index":0}]]},"Insert Dropped":{"main":[[{"node":"Loop Articles","type":"main","index":0}]]},"Call Concepter":{"main":[[{"node":"Loop Articles","type":"main","index":0}]]}},"authors":"Ben van Steenbergen","name":"Version d4d2a225","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-05-09T19:30:36.868Z","id":770,"workflowId":"0dGrOJHxBJZnmEK5","versionId":"d4d2a225-ccbe-47d9-8e0c-4b9e887011cb","event":"activated","userId":"64e933f4-3ff2-4261-8186-b09ac50d85ed"}]}}