docs/n8n/backups/radar-scout-20260608-211907.json
{"updatedAt":"2026-04-21T11:37:28.003Z","createdAt":"2026-04-20T20:36:29.104Z","id":"C4ClYsTCFsShycCm","name":"radar-scout","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"radar-scout","responseMode":"responseNode","options":{}},"id":"42b7087b-78cf-4825-827c-97cb52c6ac85","name":"Webhook","type":"n8n-nodes-base.webhook","position":[-1760,224],"webhookId":"b1000001-0001-4000-8000-100000000001","typeVersion":2},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":"dbf8RGXgL1Up2KzF","cachedResultName":"jwt-validation"},"workflowInputs":{"value":{"cookie":"={{ $json.headers.cookie }}"},"schema":[{"id":"cookie","type":"string","display":true,"removed":false,"required":false,"displayName":"cookie","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["cookie"],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"3c791d6b-6a24-4767-8f6d-92e646e6a6b3","name":"Fetch User","type":"n8n-nodes-base.executeWorkflow","position":[-1536,224],"typeVersion":1.2,"onError":"continueErrorOutput"},{"parameters":{"respondWith":"json","responseBody":"{ \"valid\": \"false\" }","options":{}},"id":"37932cfd-d523-4d09-b63d-e86400d1ad19","name":"Respond Error","type":"n8n-nodes-base.respondToWebhook","position":[-1328,352],"typeVersion":1.4},{"parameters":{"operation":"executeQuery","query":"SELECT COALESCE(settings->'radar'->>'priorities_markdown', '') as markdown FROM portal_user WHERE n8n_user_id = '{{ $json.user_id }}'::uuid","options":{}},"id":"2871e772-5b34-42bc-8375-0fde2565b4e4","name":"Read Priorities","type":"n8n-nodes-base.postgres","position":[-1328,144],"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, url, name, category, tone_tag, because_quote, status FROM radar_sources WHERE user_id = '{{ $('Fetch User').item.json.user_id }}'::uuid AND status IN ('followed', 'naylisted', 'proposed') ORDER BY status, created_at DESC","options":{}},"id":"83955426-774a-4af7-b9e7-542acb696f79","name":"Read Sources","type":"n8n-nodes-base.postgres","position":[-1104,144],"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"jsCode":"const mode = $('Webhook').item.json.body.mode || 'A';\nconst message = $('Webhook').item.json.body.message || '';\nconst history = $('Webhook').item.json.body.history || '';\nlet sessionId = $('Webhook').item.json.body.session_id;\nif (!sessionId) sessionId = 'scout-' + Date.now() + '-' + Math.random().toString(36).slice(2, 10);\nconst userId = $('Fetch User').item.json.user_id;\nconst clientId = $('Fetch User').item.json.client_id;\nconst priorities = $('Read Priorities').first().json.markdown || '';\n\nconst allSources = $('Read Sources').all().map(i => i.json);\nconst followed = allSources.filter(s => s.status === 'followed');\nconst naylisted = allSources.filter(s => s.status === 'naylisted');\n\nlet modeInstruction = '';\nif (mode === 'A') {\n  modeInstruction = 'MODE A — FIRST RUN. No priorities doc exists. Run the full discovery conversation (5-6 turns). Start neutral. Escalate only if early answers show it earned. End cleanly with the close line.';\n} else {\n  modeInstruction = 'MODE B — RETURN CHAT. Priorities and sources already exist. Open with one line of context from the priorities doc. 2-4 turns max. Goal: identify what the user wants more of, or what changed. End with the close line.';\n}\n\nconst followedStr = followed.length > 0\n  ? followed.map(s => `- ${s.name} (${s.url}) [${s.category || 'uncategorized'}]`).join('\\n')\n  : 'None';\n\nconst naylistedStr = naylisted.length > 0\n  ? naylisted.map(s => `- ${s.name} (${s.url})`).join('\\n')\n  : 'None';\n\nreturn [{ json: {\n  query: message,\n  sessionId,\n  userId,\n  clientId,\n  mode,\n  modeInstruction,\n  priorities,\n  followedSources: followedStr,\n  naylistedSources: naylistedStr,\n  followedCount: followed.length,\n  naylistedCount: naylisted.length,\n  history\n}}];"},"id":"9bfb47cc-efd1-45f4-8cf1-af7f4ef3bf85","name":"Build Prompt","type":"n8n-nodes-base.code","position":[-880,144],"typeVersion":2},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=You are the Scout, part of Radar — a content scanning product that watches curated news sources twice daily and produces editorial concepts with fact-checks. You work for the user, not for engagement metrics.\n\nCHARACTER: Blend of Terry Gross (earns every follow-up) and Rick Rubin (minimal, trusts silence). Warm but not performative. Never cheerful. Never sycophantic. Never a form in a trench coat.\n\n{{ $json.modeInstruction }}\n\nOPENING MOVES (Mode A, engaged users):\n- \"Forget introductions. Who do you read — person, newsletter, anyone — that makes you think differently?\"\n- \"What have you read this week that lit you up or pissed you off?\"\n\nOPENING MOVES (Mode A, neutral users):\n- \"Where do you currently go when you want to know what's happening in your field?\"\n- \"What's one thing you wish you were keeping up with but don't have the time for?\"\n\nCLOSE LINE (use exactly when ending):\n\"Okay. Give me a moment — I'm going to go look for the voices you should be listening to.\"\n\nCONVERSATION RULES:\n1. One question per turn. Never two. Never preamble plus question.\n2. Never mirror back (\"so what I'm hearing is...\"). Prove listening with a smarter next question.\n3. Never ask form-fodder. Get at things obliquely.\n4. Follow threads. Don't change topic to cover more ground.\n5. Bias hard toward the specific.\n6. Chase niche, local, non-English signals.\n7. Detect sharpness by turn 2. Sharp user = deeper probes, chase contrarian takes. Common user = stay concrete, lower abstraction.\n8. Always extract a concrete current-rotation list.\n\nCURRENT STATE:\n{{ $json.priorities ? 'Priorities doc:\\n' + $json.priorities : 'No priorities doc yet (first run).' }}\n\nFollowed sources ({{ $json.followedCount }}):\n{{ $json.followedSources }}\n\nNay-listed ({{ $json.naylistedCount }}):\n{{ $json.naylistedSources }}\n\nCONVERSATION HISTORY:\n{{ $json.history || 'Start of conversation.' }}\n\nOUTPUT FORMAT — Always respond with valid JSON:\n\nDuring conversation:\n{\"message\": \"your response\", \"done\": false}\n\nWhen ending (after close line) — include priorities doc and source suggestions:\n{\"message\": \"Okay. Give me a moment — I'm going to go look for the voices you should be listening to.\", \"done\": true, \"priorities\": \"## What they're building\\n...\\n## Who it's for\\n...\\n## What they're watching\\n...\\n## Where they are\\n...\\n## Allergies\\n...\\n## Quoted phrases\\n...\\n## Current rotation\\n...\", \"sources\": [{\"url\": \"https://...\", \"name\": \"Source Name\", \"category\": \"category\", \"tone_tag\": \"authoritative|data|contrarian|vision|tactical|insider|adjacent|longform\", \"because_quote\": \"literal quote from user in quotation marks\"}]}\n\nSOURCE CURATION RULES (when done=true):\n- No redundancy with followed or nay-listed sources\n- Dedupe by function, not identity\n- No headline names (TechCrunch, Forbes, HBR, McKinsey, Wired) unless uniquely qualified\n- Bias toward: individual practitioners, local/language-specific sources, sub-field specialists, data sources, adjacent-field thinkers, community venues (Substacks, newsletters, small podcasts)\n- Every source needs because_quote with LITERAL quote from user. No paraphrase. No quote = drop the card.\n- Tonal variety across the set\n- Zero sources is valid output. Never pad.\n- Respect allergies from the priorities doc"}},"id":"c90f9af5-b21a-40e5-93ff-2a1b2f877934","name":"Scout Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-656,144]},{"parameters":{"jsCode":"let raw = $input.first().json.output;\nconst sessionId = $('Build Prompt').first().json.sessionId;\nconst userId = $('Build Prompt').first().json.userId;\nconst clientId = $('Build Prompt').first().json.clientId;\n\nlet parsed;\nif (typeof raw === 'object' && raw !== null) {\n  parsed = raw;\n} else {\n  let text = String(raw || '').trim();\n  text = text.replace(/^```(?:json)?\\s*\\n?/, '').replace(/\\n?\\s*```\\s*$/, '').trim();\n  try {\n    parsed = JSON.parse(text);\n  } catch (e) {\n    const match = text.match(/\\{[\\s\\S]*\"message\"[\\s\\S]*\\}$/);\n    if (match) {\n      try { parsed = JSON.parse(match[0]); } catch (e2) { parsed = null; }\n    }\n    if (!parsed) {\n      parsed = { message: text.replace(/\\{[\\s\\S]*$/, '').trim(), done: false };\n    }\n  }\n}\n\nreturn [{ json: {\n  message: parsed.message || String(raw),\n  done: parsed.done === true,\n  priorities: parsed.priorities || null,\n  sources: parsed.sources || [],\n  sessionId,\n  userId,\n  clientId\n}}];"},"id":"82234d1c-223f-43ec-ae70-c5b3981e5e77","name":"Parse Output","type":"n8n-nodes-base.code","position":[-448,144],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"scout-done-check","leftValue":"={{ $json.done }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"65ada722-7fa0-4b17-b1aa-b09b71679e92","name":"Is Done","type":"n8n-nodes-base.if","position":[-224,144],"typeVersion":2.3},{"parameters":{"jsCode":"return [{ json: {\n  session_id: $json.sessionId,\n  message: $json.message,\n  done: false,\n  events: []\n}}];"},"id":"66ce4870-862b-4509-835c-13c088e72d7a","name":"Format Not Done","type":"n8n-nodes-base.code","position":[0,288],"typeVersion":2},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"b5f1bfd3-0def-4c39-b692-2c6d8fc73e22","name":"Respond Not Done","type":"n8n-nodes-base.respondToWebhook","position":[224,288],"typeVersion":1.4},{"parameters":{"jsCode":"const priorities = $json.priorities || '';\nconst sources = $json.sources || [];\nconst userId = $json.userId;\nconst clientId = $json.clientId;\nconst sessionId = $json.sessionId;\nconst message = $json.message;\n\nconst escapedPriorities = priorities.replace(/'/g, \"''\");\n\nconst prioritiesQuery = priorities\n  ? `UPDATE portal_user SET settings = jsonb_set(jsonb_set(COALESCE(settings, '{}'), '{radar}', COALESCE(settings->'radar', '{}')), '{radar,priorities_markdown}', to_jsonb('${escapedPriorities}'::text)) WHERE n8n_user_id = '${userId}'::uuid`\n  : 'SELECT 1';\n\nlet sourcesQuery = 'SELECT 1 WHERE false';\nif (sources.length > 0) {\n  const values = sources.map(s => {\n    const esc = v => (v || '').replace(/'/g, \"''\");\n    return `('${userId}'::uuid, '${esc(clientId)}', '${esc(s.url)}', '${esc(s.name)}', '${esc(s.category)}', '${esc(s.tone_tag)}', '${esc(s.because_quote)}', 'proposed', 'unknown')`;\n  }).join(', ');\n  sourcesQuery = `INSERT INTO radar_sources (user_id, client_id, url, name, category, tone_tag, because_quote, status, viability) VALUES ${values}`;\n}\n\nconst events = [];\nif (priorities) events.push({ type: 'tool_call', name: 'updatePriorities', args: {} });\nsources.forEach(s => events.push({ type: 'tool_call', name: 'proposeSource', args: { name: s.name, url: s.url } }));\n\nreturn [{ json: { prioritiesQuery, sourcesQuery, message, sessionId, events } }];"},"id":"62642a7b-ea2e-490b-92bb-2e4ce5898226","name":"Prepare Curation","type":"n8n-nodes-base.code","position":[0,0],"typeVersion":2},{"parameters":{"operation":"executeQuery","query":"{{ $json.prioritiesQuery }}","options":{}},"id":"333ee4ee-d5c4-4fcd-9361-7ee3f9aa266b","name":"Write Priorities","type":"n8n-nodes-base.postgres","position":[224,0],"typeVersion":2.6,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"{{ $('Prepare Curation').first().json.sourcesQuery }}","options":{}},"id":"f2c7388d-d3b7-4c2d-bbd7-8cd78185886d","name":"Insert Sources","type":"n8n-nodes-base.postgres","position":[448,0],"typeVersion":2.6,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"jsCode":"const prev = $('Prepare Curation').first().json;\nreturn [{ json: {\n  session_id: prev.sessionId,\n  message: prev.message,\n  done: true,\n  events: prev.events\n}}];"},"id":"c3933920-0bdb-400b-a7b6-d9b6376fed5d","name":"Format Done","type":"n8n-nodes-base.code","position":[672,0],"typeVersion":2},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"6cfb7def-c3b8-43cc-b2d8-9ae0023e1a35","name":"Respond Done","type":"n8n-nodes-base.respondToWebhook","position":[880,0],"typeVersion":1.4},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"Claude Sonnet 4.6"},"options":{}},"id":"d61013fb-2512-41ba-b951-b488724a7303","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-656,400],"credentials":{"anthropicApi":{"id":"zvfIJSmp6pElXMtZ","name":"Anthropic account"}}}],"connections":{"Webhook":{"main":[[{"node":"Fetch User","type":"main","index":0}]]},"Fetch User":{"main":[[{"node":"Read Priorities","type":"main","index":0}],[{"node":"Respond Error","type":"main","index":0}]]},"Read Priorities":{"main":[[{"node":"Read Sources","type":"main","index":0}]]},"Read Sources":{"main":[[{"node":"Build Prompt","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"Scout Agent","type":"main","index":0}]]},"Scout Agent":{"main":[[{"node":"Parse Output","type":"main","index":0}]]},"Parse Output":{"main":[[{"node":"Is Done","type":"main","index":0}]]},"Is Done":{"main":[[{"node":"Prepare Curation","type":"main","index":0}],[{"node":"Format Not Done","type":"main","index":0}]]},"Format Not Done":{"main":[[{"node":"Respond Not Done","type":"main","index":0}]]},"Prepare Curation":{"main":[[{"node":"Write Priorities","type":"main","index":0}]]},"Write Priorities":{"main":[[{"node":"Insert Sources","type":"main","index":0}]]},"Insert Sources":{"main":[[{"node":"Format Done","type":"main","index":0}]]},"Format Done":{"main":[[{"node":"Respond Done","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Scout Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2929a449-29b7-4044-8825-a5582933a238","activeVersionId":"2929a449-29b7-4044-8825-a5582933a238","versionCounter":35,"triggerCount":1,"shared":[{"updatedAt":"2026-04-20T20:36:29.104Z","createdAt":"2026-04-20T20:36:29.104Z","role":"workflow:owner","workflowId":"C4ClYsTCFsShycCm","projectId":"5wB8K4Dwm33EnlQ1","project":{"updatedAt":"2025-07-21T19:35:37.093Z","createdAt":"2025-06-12T18:54:37.299Z","id":"5wB8K4Dwm33EnlQ1","name":"Wingsuite Root Folder","type":"team","icon":{"type":"icon","value":"layer-group"},"description":"Wingsuite Roots","creatorId":null}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-21T11:37:29.286Z","createdAt":"2026-04-21T11:37:28.006Z","versionId":"2929a449-29b7-4044-8825-a5582933a238","workflowId":"C4ClYsTCFsShycCm","nodes":[{"parameters":{"httpMethod":"POST","path":"radar-scout","responseMode":"responseNode","options":{}},"id":"42b7087b-78cf-4825-827c-97cb52c6ac85","name":"Webhook","type":"n8n-nodes-base.webhook","position":[-1760,224],"webhookId":"b1000001-0001-4000-8000-100000000001","typeVersion":2},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":"dbf8RGXgL1Up2KzF","cachedResultName":"jwt-validation"},"workflowInputs":{"value":{"cookie":"={{ $json.headers.cookie }}"},"schema":[{"id":"cookie","type":"string","display":true,"removed":false,"required":false,"displayName":"cookie","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["cookie"],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"3c791d6b-6a24-4767-8f6d-92e646e6a6b3","name":"Fetch User","type":"n8n-nodes-base.executeWorkflow","position":[-1536,224],"typeVersion":1.2,"onError":"continueErrorOutput"},{"parameters":{"respondWith":"json","responseBody":"{ \"valid\": \"false\" }","options":{}},"id":"37932cfd-d523-4d09-b63d-e86400d1ad19","name":"Respond Error","type":"n8n-nodes-base.respondToWebhook","position":[-1328,352],"typeVersion":1.4},{"parameters":{"operation":"executeQuery","query":"SELECT COALESCE(settings->'radar'->>'priorities_markdown', '') as markdown FROM portal_user WHERE n8n_user_id = '{{ $json.user_id }}'::uuid","options":{}},"id":"2871e772-5b34-42bc-8375-0fde2565b4e4","name":"Read Priorities","type":"n8n-nodes-base.postgres","position":[-1328,144],"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, url, name, category, tone_tag, because_quote, status FROM radar_sources WHERE user_id = '{{ $('Fetch User').item.json.user_id }}'::uuid AND status IN ('followed', 'naylisted', 'proposed') ORDER BY status, created_at DESC","options":{}},"id":"83955426-774a-4af7-b9e7-542acb696f79","name":"Read Sources","type":"n8n-nodes-base.postgres","position":[-1104,144],"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"jsCode":"const mode = $('Webhook').item.json.body.mode || 'A';\nconst message = $('Webhook').item.json.body.message || '';\nconst history = $('Webhook').item.json.body.history || '';\nlet sessionId = $('Webhook').item.json.body.session_id;\nif (!sessionId) sessionId = 'scout-' + Date.now() + '-' + Math.random().toString(36).slice(2, 10);\nconst userId = $('Fetch User').item.json.user_id;\nconst clientId = $('Fetch User').item.json.client_id;\nconst priorities = $('Read Priorities').first().json.markdown || '';\n\nconst allSources = $('Read Sources').all().map(i => i.json);\nconst followed = allSources.filter(s => s.status === 'followed');\nconst naylisted = allSources.filter(s => s.status === 'naylisted');\n\nlet modeInstruction = '';\nif (mode === 'A') {\n  modeInstruction = 'MODE A — FIRST RUN. No priorities doc exists. Run the full discovery conversation (5-6 turns). Start neutral. Escalate only if early answers show it earned. End cleanly with the close line.';\n} else {\n  modeInstruction = 'MODE B — RETURN CHAT. Priorities and sources already exist. Open with one line of context from the priorities doc. 2-4 turns max. Goal: identify what the user wants more of, or what changed. End with the close line.';\n}\n\nconst followedStr = followed.length > 0\n  ? followed.map(s => `- ${s.name} (${s.url}) [${s.category || 'uncategorized'}]`).join('\\n')\n  : 'None';\n\nconst naylistedStr = naylisted.length > 0\n  ? naylisted.map(s => `- ${s.name} (${s.url})`).join('\\n')\n  : 'None';\n\nreturn [{ json: {\n  query: message,\n  sessionId,\n  userId,\n  clientId,\n  mode,\n  modeInstruction,\n  priorities,\n  followedSources: followedStr,\n  naylistedSources: naylistedStr,\n  followedCount: followed.length,\n  naylistedCount: naylisted.length,\n  history\n}}];"},"id":"9bfb47cc-efd1-45f4-8cf1-af7f4ef3bf85","name":"Build Prompt","type":"n8n-nodes-base.code","position":[-880,144],"typeVersion":2},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=You are the Scout, part of Radar — a content scanning product that watches curated news sources twice daily and produces editorial concepts with fact-checks. You work for the user, not for engagement metrics.\n\nCHARACTER: Blend of Terry Gross (earns every follow-up) and Rick Rubin (minimal, trusts silence). Warm but not performative. Never cheerful. Never sycophantic. Never a form in a trench coat.\n\n{{ $json.modeInstruction }}\n\nOPENING MOVES (Mode A, engaged users):\n- \"Forget introductions. Who do you read — person, newsletter, anyone — that makes you think differently?\"\n- \"What have you read this week that lit you up or pissed you off?\"\n\nOPENING MOVES (Mode A, neutral users):\n- \"Where do you currently go when you want to know what's happening in your field?\"\n- \"What's one thing you wish you were keeping up with but don't have the time for?\"\n\nCLOSE LINE (use exactly when ending):\n\"Okay. Give me a moment — I'm going to go look for the voices you should be listening to.\"\n\nCONVERSATION RULES:\n1. One question per turn. Never two. Never preamble plus question.\n2. Never mirror back (\"so what I'm hearing is...\"). Prove listening with a smarter next question.\n3. Never ask form-fodder. Get at things obliquely.\n4. Follow threads. Don't change topic to cover more ground.\n5. Bias hard toward the specific.\n6. Chase niche, local, non-English signals.\n7. Detect sharpness by turn 2. Sharp user = deeper probes, chase contrarian takes. Common user = stay concrete, lower abstraction.\n8. Always extract a concrete current-rotation list.\n\nCURRENT STATE:\n{{ $json.priorities ? 'Priorities doc:\\n' + $json.priorities : 'No priorities doc yet (first run).' }}\n\nFollowed sources ({{ $json.followedCount }}):\n{{ $json.followedSources }}\n\nNay-listed ({{ $json.naylistedCount }}):\n{{ $json.naylistedSources }}\n\nCONVERSATION HISTORY:\n{{ $json.history || 'Start of conversation.' }}\n\nOUTPUT FORMAT — Always respond with valid JSON:\n\nDuring conversation:\n{\"message\": \"your response\", \"done\": false}\n\nWhen ending (after close line) — include priorities doc and source suggestions:\n{\"message\": \"Okay. Give me a moment — I'm going to go look for the voices you should be listening to.\", \"done\": true, \"priorities\": \"## What they're building\\n...\\n## Who it's for\\n...\\n## What they're watching\\n...\\n## Where they are\\n...\\n## Allergies\\n...\\n## Quoted phrases\\n...\\n## Current rotation\\n...\", \"sources\": [{\"url\": \"https://...\", \"name\": \"Source Name\", \"category\": \"category\", \"tone_tag\": \"authoritative|data|contrarian|vision|tactical|insider|adjacent|longform\", \"because_quote\": \"literal quote from user in quotation marks\"}]}\n\nSOURCE CURATION RULES (when done=true):\n- No redundancy with followed or nay-listed sources\n- Dedupe by function, not identity\n- No headline names (TechCrunch, Forbes, HBR, McKinsey, Wired) unless uniquely qualified\n- Bias toward: individual practitioners, local/language-specific sources, sub-field specialists, data sources, adjacent-field thinkers, community venues (Substacks, newsletters, small podcasts)\n- Every source needs because_quote with LITERAL quote from user. No paraphrase. No quote = drop the card.\n- Tonal variety across the set\n- Zero sources is valid output. Never pad.\n- Respect allergies from the priorities doc"}},"id":"c90f9af5-b21a-40e5-93ff-2a1b2f877934","name":"Scout Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-656,144]},{"parameters":{"jsCode":"let raw = $input.first().json.output;\nconst sessionId = $('Build Prompt').first().json.sessionId;\nconst userId = $('Build Prompt').first().json.userId;\nconst clientId = $('Build Prompt').first().json.clientId;\n\nlet parsed;\nif (typeof raw === 'object' && raw !== null) {\n  parsed = raw;\n} else {\n  let text = String(raw || '').trim();\n  text = text.replace(/^```(?:json)?\\s*\\n?/, '').replace(/\\n?\\s*```\\s*$/, '').trim();\n  try {\n    parsed = JSON.parse(text);\n  } catch (e) {\n    const match = text.match(/\\{[\\s\\S]*\"message\"[\\s\\S]*\\}$/);\n    if (match) {\n      try { parsed = JSON.parse(match[0]); } catch (e2) { parsed = null; }\n    }\n    if (!parsed) {\n      parsed = { message: text.replace(/\\{[\\s\\S]*$/, '').trim(), done: false };\n    }\n  }\n}\n\nreturn [{ json: {\n  message: parsed.message || String(raw),\n  done: parsed.done === true,\n  priorities: parsed.priorities || null,\n  sources: parsed.sources || [],\n  sessionId,\n  userId,\n  clientId\n}}];"},"id":"82234d1c-223f-43ec-ae70-c5b3981e5e77","name":"Parse Output","type":"n8n-nodes-base.code","position":[-448,144],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"scout-done-check","leftValue":"={{ $json.done }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"65ada722-7fa0-4b17-b1aa-b09b71679e92","name":"Is Done","type":"n8n-nodes-base.if","position":[-224,144],"typeVersion":2.3},{"parameters":{"jsCode":"return [{ json: {\n  session_id: $json.sessionId,\n  message: $json.message,\n  done: false,\n  events: []\n}}];"},"id":"66ce4870-862b-4509-835c-13c088e72d7a","name":"Format Not Done","type":"n8n-nodes-base.code","position":[0,288],"typeVersion":2},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"b5f1bfd3-0def-4c39-b692-2c6d8fc73e22","name":"Respond Not Done","type":"n8n-nodes-base.respondToWebhook","position":[224,288],"typeVersion":1.4},{"parameters":{"jsCode":"const priorities = $json.priorities || '';\nconst sources = $json.sources || [];\nconst userId = $json.userId;\nconst clientId = $json.clientId;\nconst sessionId = $json.sessionId;\nconst message = $json.message;\n\nconst escapedPriorities = priorities.replace(/'/g, \"''\");\n\nconst prioritiesQuery = priorities\n  ? `UPDATE portal_user SET settings = jsonb_set(jsonb_set(COALESCE(settings, '{}'), '{radar}', COALESCE(settings->'radar', '{}')), '{radar,priorities_markdown}', to_jsonb('${escapedPriorities}'::text)) WHERE n8n_user_id = '${userId}'::uuid`\n  : 'SELECT 1';\n\nlet sourcesQuery = 'SELECT 1 WHERE false';\nif (sources.length > 0) {\n  const values = sources.map(s => {\n    const esc = v => (v || '').replace(/'/g, \"''\");\n    return `('${userId}'::uuid, '${esc(clientId)}', '${esc(s.url)}', '${esc(s.name)}', '${esc(s.category)}', '${esc(s.tone_tag)}', '${esc(s.because_quote)}', 'proposed', 'unknown')`;\n  }).join(', ');\n  sourcesQuery = `INSERT INTO radar_sources (user_id, client_id, url, name, category, tone_tag, because_quote, status, viability) VALUES ${values}`;\n}\n\nconst events = [];\nif (priorities) events.push({ type: 'tool_call', name: 'updatePriorities', args: {} });\nsources.forEach(s => events.push({ type: 'tool_call', name: 'proposeSource', args: { name: s.name, url: s.url } }));\n\nreturn [{ json: { prioritiesQuery, sourcesQuery, message, sessionId, events } }];"},"id":"62642a7b-ea2e-490b-92bb-2e4ce5898226","name":"Prepare Curation","type":"n8n-nodes-base.code","position":[0,0],"typeVersion":2},{"parameters":{"operation":"executeQuery","query":"{{ $json.prioritiesQuery }}","options":{}},"id":"333ee4ee-d5c4-4fcd-9361-7ee3f9aa266b","name":"Write Priorities","type":"n8n-nodes-base.postgres","position":[224,0],"typeVersion":2.6,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"{{ $('Prepare Curation').first().json.sourcesQuery }}","options":{}},"id":"f2c7388d-d3b7-4c2d-bbd7-8cd78185886d","name":"Insert Sources","type":"n8n-nodes-base.postgres","position":[448,0],"typeVersion":2.6,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"jsCode":"const prev = $('Prepare Curation').first().json;\nreturn [{ json: {\n  session_id: prev.sessionId,\n  message: prev.message,\n  done: true,\n  events: prev.events\n}}];"},"id":"c3933920-0bdb-400b-a7b6-d9b6376fed5d","name":"Format Done","type":"n8n-nodes-base.code","position":[672,0],"typeVersion":2},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"6cfb7def-c3b8-43cc-b2d8-9ae0023e1a35","name":"Respond Done","type":"n8n-nodes-base.respondToWebhook","position":[880,0],"typeVersion":1.4},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"Claude Sonnet 4.6"},"options":{}},"id":"d61013fb-2512-41ba-b951-b488724a7303","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-656,400],"credentials":{"anthropicApi":{"id":"zvfIJSmp6pElXMtZ","name":"Anthropic account"}}}],"connections":{"Webhook":{"main":[[{"node":"Fetch User","type":"main","index":0}]]},"Fetch User":{"main":[[{"node":"Read Priorities","type":"main","index":0}],[{"node":"Respond Error","type":"main","index":0}]]},"Read Priorities":{"main":[[{"node":"Read Sources","type":"main","index":0}]]},"Read Sources":{"main":[[{"node":"Build Prompt","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"Scout Agent","type":"main","index":0}]]},"Scout Agent":{"main":[[{"node":"Parse Output","type":"main","index":0}]]},"Parse Output":{"main":[[{"node":"Is Done","type":"main","index":0}]]},"Is Done":{"main":[[{"node":"Prepare Curation","type":"main","index":0}],[{"node":"Format Not Done","type":"main","index":0}]]},"Format Not Done":{"main":[[{"node":"Respond Not Done","type":"main","index":0}]]},"Prepare Curation":{"main":[[{"node":"Write Priorities","type":"main","index":0}]]},"Write Priorities":{"main":[[{"node":"Insert Sources","type":"main","index":0}]]},"Insert Sources":{"main":[[{"node":"Format Done","type":"main","index":0}]]},"Format Done":{"main":[[{"node":"Respond Done","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Scout Agent","type":"ai_languageModel","index":0}]]}},"authors":"Ben van Steenbergen","name":"Version 2929a449","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-21T11:37:29.279Z","id":722,"workflowId":"C4ClYsTCFsShycCm","versionId":"2929a449-29b7-4044-8825-a5582933a238","event":"activated","userId":"64e933f4-3ff2-4261-8186-b09ac50d85ed"}]}}