docs/n8n/backups/studio-conversations-20260624-164705.json
{"updatedAt":"2026-05-11T15:48:29.436Z","createdAt":"2026-05-11T13:44:36.933Z","id":"77dmirdd3mV1uE2I","name":"studio-conversations","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"path":"studio-conversations","httpMethod":"GET","responseMode":"responseNode","options":{}},"id":"sc-webhook","name":"Webhook","type":"n8n-nodes-base.webhook","position":[-400,100],"webhookId":"sc-webhook-001","typeVersion":2},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":"dbf8RGXgL1Up2KzF","cachedResultName":"jwt-validation"},"workflowInputs":{"value":{"cookie":"={{ $json.headers.cookie }}"},"schema":[{"id":"cookie","type":"string","display":true,"removed":false,"required":false,"displayName":"cookie","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["cookie"],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"sc-auth","name":"Fetch User","type":"n8n-nodes-base.executeWorkflow","position":[-200,100],"typeVersion":1.2,"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT id::text, summary as preview, created_at, last_message_at FROM live_conversations WHERE user_id = '{{ $json.user_id }}'::uuid AND status != 'archived' ORDER BY COALESCE(last_message_at, created_at) DESC LIMIT 20","options":{}},"id":"sc-query","name":"Get Conversations","type":"n8n-nodes-base.postgres","position":[0,0],"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst conversations = items\n  .filter(item => item.json.id)\n  .map(item => ({\n    id: item.json.id,\n    preview: item.json.preview || 'New conversation',\n    created_at: item.json.created_at,\n    last_message_at: item.json.last_message_at || item.json.created_at,\n    contentFormat: item.json.contentFormat\n  }));\nreturn [{ json: { conversations } }];"},"id":"sc-format","name":"Format Response","type":"n8n-nodes-base.code","position":[200,0],"typeVersion":2},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json.conversations) }}","options":{}},"id":"sc-respond-ok","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","position":[400,0],"typeVersion":1.4},{"parameters":{"respondWith":"json","responseBody":"{\"error\": \"unauthorized\"}","options":{"responseCode":401}},"id":"sc-respond-err","name":"Respond Error","type":"n8n-nodes-base.respondToWebhook","position":[400,200],"typeVersion":1.4}],"connections":{"Webhook":{"main":[[{"node":"Fetch User","type":"main","index":0}]]},"Fetch User":{"main":[[{"node":"Get Conversations","type":"main","index":0}],[{"node":"Respond Error","type":"main","index":0}]]},"Get Conversations":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"ec1f99b4-a2d3-4ee0-8865-b747eeb962b4","activeVersionId":"ec1f99b4-a2d3-4ee0-8865-b747eeb962b4","versionCounter":22,"triggerCount":1,"shared":[{"updatedAt":"2026-05-11T13:44:37.106Z","createdAt":"2026-05-11T13:44:37.106Z","role":"workflow:owner","workflowId":"77dmirdd3mV1uE2I","projectId":"5wB8K4Dwm33EnlQ1","project":{"updatedAt":"2025-07-21T19:35:37.093Z","createdAt":"2025-06-12T18:54:37.299Z","id":"5wB8K4Dwm33EnlQ1","name":"Wingsuite Root Folder","type":"team","icon":{"type":"icon","value":"layer-group"},"description":"Wingsuite Roots","creatorId":null}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-11T15:48:29.439Z","createdAt":"2026-05-11T15:48:29.439Z","versionId":"ec1f99b4-a2d3-4ee0-8865-b747eeb962b4","workflowId":"77dmirdd3mV1uE2I","nodes":[{"parameters":{"path":"studio-conversations","httpMethod":"GET","responseMode":"responseNode","options":{}},"id":"sc-webhook","name":"Webhook","type":"n8n-nodes-base.webhook","position":[-400,100],"webhookId":"sc-webhook-001","typeVersion":2},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":"dbf8RGXgL1Up2KzF","cachedResultName":"jwt-validation"},"workflowInputs":{"value":{"cookie":"={{ $json.headers.cookie }}"},"schema":[{"id":"cookie","type":"string","display":true,"removed":false,"required":false,"displayName":"cookie","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["cookie"],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"sc-auth","name":"Fetch User","type":"n8n-nodes-base.executeWorkflow","position":[-200,100],"typeVersion":1.2,"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT id::text, summary as preview, created_at, last_message_at FROM live_conversations WHERE user_id = '{{ $json.user_id }}'::uuid AND status != 'archived' ORDER BY COALESCE(last_message_at, created_at) DESC LIMIT 20","options":{}},"id":"sc-query","name":"Get Conversations","type":"n8n-nodes-base.postgres","position":[0,0],"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst conversations = items\n  .filter(item => item.json.id)\n  .map(item => ({\n    id: item.json.id,\n    preview: item.json.preview || 'New conversation',\n    created_at: item.json.created_at,\n    last_message_at: item.json.last_message_at || item.json.created_at,\n    contentFormat: item.json.contentFormat\n  }));\nreturn [{ json: { conversations } }];"},"id":"sc-format","name":"Format Response","type":"n8n-nodes-base.code","position":[200,0],"typeVersion":2},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json.conversations) }}","options":{}},"id":"sc-respond-ok","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","position":[400,0],"typeVersion":1.4},{"parameters":{"respondWith":"json","responseBody":"{\"error\": \"unauthorized\"}","options":{"responseCode":401}},"id":"sc-respond-err","name":"Respond Error","type":"n8n-nodes-base.respondToWebhook","position":[400,200],"typeVersion":1.4}],"connections":{"Webhook":{"main":[[{"node":"Fetch User","type":"main","index":0}]]},"Fetch User":{"main":[[{"node":"Get Conversations","type":"main","index":0}],[{"node":"Respond Error","type":"main","index":0}]]},"Get Conversations":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond Success","type":"main","index":0}]]}},"authors":"Ben van Steenbergen","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-11T15:48:29.876Z","id":846,"workflowId":"77dmirdd3mV1uE2I","versionId":"ec1f99b4-a2d3-4ee0-8865-b747eeb962b4","event":"deactivated","userId":"64e933f4-3ff2-4261-8186-b09ac50d85ed"},{"createdAt":"2026-05-11T15:48:30.108Z","id":847,"workflowId":"77dmirdd3mV1uE2I","versionId":"ec1f99b4-a2d3-4ee0-8865-b747eeb962b4","event":"activated","userId":"64e933f4-3ff2-4261-8186-b09ac50d85ed"},{"createdAt":"2026-05-11T15:48:29.577Z","id":844,"workflowId":"77dmirdd3mV1uE2I","versionId":"ec1f99b4-a2d3-4ee0-8865-b747eeb962b4","event":"deactivated","userId":"64e933f4-3ff2-4261-8186-b09ac50d85ed"},{"createdAt":"2026-05-11T15:48:29.676Z","id":845,"workflowId":"77dmirdd3mV1uE2I","versionId":"ec1f99b4-a2d3-4ee0-8865-b747eeb962b4","event":"activated","userId":"64e933f4-3ff2-4261-8186-b09ac50d85ed"}]}}