docs/n8n/backups/studio-save-20260624-155219.json
{"updatedAt":"2026-05-14T19:44:13.157Z","createdAt":"2026-05-11T13:47:36.706Z","id":"qhWScWiAyoKpgZKX","name":"studio-save","description":"","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"studio-save","responseMode":"responseNode","options":{}},"id":"ss-webhook","name":"Webhook","type":"n8n-nodes-base.webhook","position":[-400,112],"webhookId":"ss-webhook-001","typeVersion":2},{"parameters":{"workflowId":{"__rl":true,"value":"dbf8RGXgL1Up2KzF","mode":"list","cachedResultUrl":"/workflow/dbf8RGXgL1Up2KzF","cachedResultName":"Wingsuite Root Folder — jwt-validation"},"workflowInputs":{"value":{"cookie":"={{ $json.headers.cookie }}"},"schema":[{"id":"cookie","type":"string","display":true,"removed":false,"required":false,"displayName":"cookie","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["cookie"],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"ss-auth","name":"Fetch User","type":"n8n-nodes-base.executeWorkflow","position":[-208,112],"typeVersion":1.2,"onError":"continueErrorOutput"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"id":"ss-respond-ok","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","position":[2208,0],"typeVersion":1.4},{"parameters":{"respondWith":"json","responseBody":"{\"error\": \"unauthorized\"}","options":{"responseCode":401}},"id":"ss-respond-err","name":"Respond Error","type":"n8n-nodes-base.respondToWebhook","position":[0,304],"typeVersion":1.4},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.client }}","limit":1,"filter":{"driveId":{"__rl":true,"mode":"list","value":"My Drive","cachedResultName":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"1YgOEQZwexatBIbpnY0_S22UifbXUXDZ1","cachedResultName":"Wingsuite Projecten"},"whatToSearch":"folders"},"options":{"fields":["id"]}},"id":"ss-search-client","name":"Search Client Folder","type":"n8n-nodes-base.googleDrive","position":[0,0],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"rH9X3hwyo6ibVgIA","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","queryString":"Content","limit":1,"filter":{"driveId":{"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"whatToSearch":"folders"},"options":{}},"id":"ss-search-content","name":"Search Content Folder","type":"n8n-nodes-base.googleDrive","position":[208,0],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"rH9X3hwyo6ibVgIA","name":"Google Drive account"}}},{"parameters":{"jsCode":"const format = $('Webhook').first().json.body.format || '';\nconst contentFolderId = $('Search Content Folder').first().json.id;\n\nconst folderMap = {\n  'blog-post': 'Blogpost',\n  'case-study': 'Project Case',\n  'product-sheet': 'Product Sheet',\n  'social-media': 'Instagram',\n  'email-campaign': 'Newsletter',\n  'press-release': 'Press Release',\n  'linkedin-post': 'Linkedin'\n};\n\nconst folderName = folderMap[format] || 'Freeform';\n\nreturn [{ json: { contentFolderId, folderName } }];"},"id":"ss-resolve-name","name":"Resolve Folder Name","type":"n8n-nodes-base.code","position":[400,0],"typeVersion":2},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.folderName }}","limit":1,"filter":{"driveId":{"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $json.contentFolderId }}"},"whatToSearch":"folders"},"options":{}},"id":"ss-search-format","name":"Search Format Folder","type":"n8n-nodes-base.googleDrive","position":[608,0],"typeVersion":3,"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"rH9X3hwyo6ibVgIA","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"folder-exists-check","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.id }}"}]},"options":{}},"id":"ss-folder-exists","name":"Folder Exists?","type":"n8n-nodes-base.if","position":[800,0],"typeVersion":2},{"parameters":{"name":"={{ $('Resolve Folder Name').first().json.folderName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $('Resolve Folder Name').first().json.contentFolderId }}"},"options":{}},"id":"ss-create-folder","name":"Create Format Folder","type":"n8n-nodes-base.googleDrive","position":[1008,208],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"rH9X3hwyo6ibVgIA","name":"Google Drive account"}}},{"parameters":{"jsCode":"// Try found folder first, then created folder, then content folder\nconst searchResult = $('Search Format Folder').first().json;\nconst resolveResult = $('Resolve Folder Name').first().json;\n\nlet folderId;\n\n// Check if we came from the \"found\" path\nif (searchResult && searchResult.id) {\n  folderId = searchResult.id;\n} else {\n  // We came from the \"create\" path\n  try {\n    const created = $('Create Format Folder').first().json;\n    if (created && created.id) {\n      folderId = created.id;\n    }\n  } catch(e) {\n    // ignore\n  }\n}\n\n// Final fallback\nif (\\!folderId) {\n  folderId = resolveResult.contentFolderId;\n}\n\nreturn [{ json: { folderId } }];"},"id":"ss-pick-folder","name":"Pick Folder","type":"n8n-nodes-base.code","position":[1200,0],"typeVersion":2},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $('Webhook').item.json.body.content }}","options":{"emoji":false,"tables":false}},"id":"ss-markdown","name":"Markdown","type":"n8n-nodes-base.markdown","position":[1408,0],"typeVersion":1},{"parameters":{"jsCode":"const boundary = 'divider';\nconst docName = $('Webhook').first().json.body.title || 'Untitled Content';\nconst folderId = $('Pick Folder').first().json.folderId;\nconst htmlContent = $('Markdown').first().json.data;\nconst metadata = JSON.stringify({\n    name: docName,\n    mimeType: \"application/vnd.google-apps.document\",\n    parents: [folderId]\n});\n\nconst htmlWithStyles = `<\\!DOCTYPE html><html><head><meta charset=\"UTF-8\"><style>\n p,\n ul,\n ol,\n table,\n h1,\n h2,\n h3,\n h4,\n h5,\n    h6 {\n margin-bottom: 10pt;\n}\n h2 {\n margin-top: 20pt;\n }\n\n li {\n margin-bottom: 2pt;\n} </style></head><body>${htmlContent}</body></html>`;\n\nlet body = `--${boundary}\\r\\n`;\nbody += `Content-Type: application/json; charset=UTF-8\\r\\n`;\nbody += `\\r\\n`;\nbody += `${metadata}\\r\\n`;\nbody += `--${boundary}\\r\\n`;\nbody += `Content-Type: text/html; charset=UTF-8\\r\\n`;\nbody += `\\r\\n`;\nbody += `${htmlWithStyles}\\r\\n`;\nbody += `--${boundary}--\\r\\n`;\n\nreturn {\n  rawData: body\n}"},"id":"ss-build-upload","name":"Build Upload","type":"n8n-nodes-base.code","position":[1600,0],"typeVersion":2},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"uploadType","value":"multipart"},{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"contentType":"raw","rawContentType":"multipart/related; boundary=divider","body":"={{ $json.rawData }}","options":{}},"id":"ss-upload","name":"Upload to Drive","type":"n8n-nodes-base.httpRequest","position":[1808,0],"typeVersion":4.2,"credentials":{"googleDriveOAuth2Api":{"id":"rH9X3hwyo6ibVgIA","name":"Google Drive account"}}},{"parameters":{"jsCode":"const doc = $('Upload to Drive').item.json;\nconst docId = doc.id;\nconst webViewLink = 'https://docs.google.com/document/d/' + docId + '/edit';\nreturn [{ json: { webViewLink, documentId: docId } }];"},"id":"ss-build-resp","name":"Build Response","type":"n8n-nodes-base.code","position":[2000,0],"typeVersion":2},{"parameters":{"mode":"load","tableName":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[96,112],"id":"8d3c7bb0-cd1b-4a05-b9bf-81f3c2728143","name":"Supabase Vector Store"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[144,416],"id":"3ee58896-4a0a-42eb-8e55-483c6bdc895e","name":"Default Data Loader"}],"connections":{"Webhook":{"main":[[{"node":"Fetch User","type":"main","index":0}]]},"Fetch User":{"main":[[{"node":"Search Client Folder","type":"main","index":0},{"node":"Supabase Vector Store","type":"main","index":0}],[{"node":"Respond Error","type":"main","index":0}]]},"Search Client Folder":{"main":[[{"node":"Search Content Folder","type":"main","index":0}]]},"Search Content Folder":{"main":[[{"node":"Resolve Folder Name","type":"main","index":0}]]},"Resolve Folder Name":{"main":[[{"node":"Search Format Folder","type":"main","index":0}]]},"Search Format Folder":{"main":[[{"node":"Folder Exists?","type":"main","index":0}]]},"Folder Exists?":{"main":[[{"node":"Pick Folder","type":"main","index":0}],[{"node":"Create Format Folder","type":"main","index":0}]]},"Create Format Folder":{"main":[[{"node":"Pick Folder","type":"main","index":0}]]},"Pick Folder":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Build Upload","type":"main","index":0}]]},"Build Upload":{"main":[[{"node":"Upload to Drive","type":"main","index":0}]]},"Upload to Drive":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"174692c2-5d49-4880-80b3-d496195846a4","activeVersionId":"8638d33d-a93d-4b9c-88cf-ea6768017802","versionCounter":62,"triggerCount":1,"shared":[{"updatedAt":"2026-05-11T13:47:36.899Z","createdAt":"2026-05-11T13:47:36.899Z","role":"workflow:owner","workflowId":"qhWScWiAyoKpgZKX","projectId":"5wB8K4Dwm33EnlQ1","project":{"updatedAt":"2025-07-21T19:35:37.093Z","createdAt":"2025-06-12T18:54:37.299Z","id":"5wB8K4Dwm33EnlQ1","name":"Wingsuite Root Folder","type":"team","icon":{"type":"icon","value":"layer-group"},"description":"Wingsuite Roots","creatorId":null}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-14T18:49:32.985Z","createdAt":"2026-05-14T18:49:32.985Z","versionId":"8638d33d-a93d-4b9c-88cf-ea6768017802","workflowId":"qhWScWiAyoKpgZKX","nodes":[{"parameters":{"path":"studio-save","responseMode":"responseNode","options":{},"httpMethod":"POST"},"id":"ss-webhook","name":"Webhook","type":"n8n-nodes-base.webhook","position":[-400,100],"webhookId":"ss-webhook-001","typeVersion":2},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":"dbf8RGXgL1Up2KzF","cachedResultName":"jwt-validation"},"workflowInputs":{"value":{"cookie":"={{ $json.headers.cookie }}"},"schema":[{"id":"cookie","type":"string","display":true,"removed":false,"required":false,"displayName":"cookie","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["cookie"],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"ss-auth","name":"Fetch User","type":"n8n-nodes-base.executeWorkflow","position":[-200,100],"typeVersion":1.2,"onError":"continueErrorOutput"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"id":"ss-respond-ok","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","position":[2200,0],"typeVersion":1.4},{"parameters":{"respondWith":"json","responseBody":"{\"error\": \"unauthorized\"}","options":{"responseCode":401}},"id":"ss-respond-err","name":"Respond Error","type":"n8n-nodes-base.respondToWebhook","position":[0,300],"typeVersion":1.4},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.client }}","limit":1,"filter":{"driveId":{"__rl":true,"mode":"list","value":"My Drive","cachedResultName":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"1YgOEQZwexatBIbpnY0_S22UifbXUXDZ1","cachedResultName":"Wingsuite Projecten"},"whatToSearch":"folders"},"options":{"fields":["id"]}},"id":"ss-search-client","name":"Search Client Folder","type":"n8n-nodes-base.googleDrive","position":[0,0],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"rH9X3hwyo6ibVgIA","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","queryString":"Content","limit":1,"filter":{"driveId":{"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"whatToSearch":"folders"},"options":{}},"id":"ss-search-content","name":"Search Content Folder","type":"n8n-nodes-base.googleDrive","position":[200,0],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"rH9X3hwyo6ibVgIA","name":"Google Drive account"}}},{"parameters":{"jsCode":"const format = $('Webhook').first().json.body.format || '';\nconst contentFolderId = $('Search Content Folder').first().json.id;\n\nconst folderMap = {\n  'blog-post': 'Blogpost',\n  'case-study': 'Project Case',\n  'product-sheet': 'Product Sheet',\n  'social-media': 'Instagram',\n  'email-campaign': 'Newsletter',\n  'press-release': 'Press Release',\n  'linkedin-post': 'Linkedin'\n};\n\nconst folderName = folderMap[format] || 'Freeform';\n\nreturn [{ json: { contentFolderId, folderName } }];"},"id":"ss-resolve-name","name":"Resolve Folder Name","type":"n8n-nodes-base.code","position":[400,0],"typeVersion":2},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.folderName }}","limit":1,"filter":{"driveId":{"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $json.contentFolderId }}"},"whatToSearch":"folders"},"options":{}},"id":"ss-search-format","name":"Search Format Folder","type":"n8n-nodes-base.googleDrive","position":[600,0],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"rH9X3hwyo6ibVgIA","name":"Google Drive account"}},"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"folder-exists-check","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.id }}"}]}},"id":"ss-folder-exists","name":"Folder Exists?","type":"n8n-nodes-base.if","position":[800,0],"typeVersion":2},{"parameters":{"name":"={{ $('Resolve Folder Name').first().json.folderName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $('Resolve Folder Name').first().json.contentFolderId }}"},"options":{}},"id":"ss-create-folder","name":"Create Format Folder","type":"n8n-nodes-base.googleDrive","position":[1000,200],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"rH9X3hwyo6ibVgIA","name":"Google Drive account"}}},{"parameters":{"jsCode":"// Try found folder first, then created folder, then content folder\nconst searchResult = $('Search Format Folder').first().json;\nconst resolveResult = $('Resolve Folder Name').first().json;\n\nlet folderId;\n\n// Check if we came from the \"found\" path\nif (searchResult && searchResult.id) {\n  folderId = searchResult.id;\n} else {\n  // We came from the \"create\" path\n  try {\n    const created = $('Create Format Folder').first().json;\n    if (created && created.id) {\n      folderId = created.id;\n    }\n  } catch(e) {\n    // ignore\n  }\n}\n\n// Final fallback\nif (!folderId) {\n  folderId = resolveResult.contentFolderId;\n}\n\nreturn [{ json: { folderId } }];"},"id":"ss-pick-folder","name":"Pick Folder","type":"n8n-nodes-base.code","position":[1200,0],"typeVersion":2},{"parameters":{"mode":"markdownToHtml","options":{"emoji":false,"tables":false},"markdown":"={{ $('Webhook').item.json.body.content }}"},"id":"ss-markdown","name":"Markdown","type":"n8n-nodes-base.markdown","position":[1400,0],"typeVersion":1},{"parameters":{"jsCode":"const boundary = 'divider';\nconst docName = $('Webhook').first().json.body.title || 'Untitled Content';\nconst folderId = $('Pick Folder').first().json.folderId;\nconst htmlContent = $('Markdown').first().json.data;\nconst metadata = JSON.stringify({\n    name: docName,\n    mimeType: \"application/vnd.google-apps.document\",\n    parents: [folderId]\n});\n\nconst htmlWithStyles = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><style>\n p,\n ul,\n ol,\n table,\n h1,\n h2,\n h3,\n h4,\n h5,\n    h6 {\n margin-bottom: 10pt;\n}\n h2 {\n margin-top: 20pt;\n }\n\n li {\n margin-bottom: 2pt;\n} </style></head><body>${htmlContent}</body></html>`;\n\nlet body = `--${boundary}\\r\\n`;\nbody += `Content-Type: application/json; charset=UTF-8\\r\\n`;\nbody += `\\r\\n`;\nbody += `${metadata}\\r\\n`;\nbody += `--${boundary}\\r\\n`;\nbody += `Content-Type: text/html; charset=UTF-8\\r\\n`;\nbody += `\\r\\n`;\nbody += `${htmlWithStyles}\\r\\n`;\nbody += `--${boundary}--\\r\\n`;\n\nreturn {\n  rawData: body\n}"},"id":"ss-build-upload","name":"Build Upload","type":"n8n-nodes-base.code","position":[1600,0],"typeVersion":2},{"parameters":{"url":"https://www.googleapis.com/upload/drive/v3/files","body":"={{ $json.rawData }}","method":"POST","options":{},"sendBody":true,"sendQuery":true,"contentType":"raw","authentication":"predefinedCredentialType","rawContentType":"multipart/related; boundary=divider","queryParameters":{"parameters":[{"name":"uploadType","value":"multipart"},{"name":"supportsAllDrives","value":"true"}]},"nodeCredentialType":"googleDriveOAuth2Api"},"id":"ss-upload","name":"Upload to Drive","type":"n8n-nodes-base.httpRequest","position":[1800,0],"typeVersion":4.2,"credentials":{"googleDriveOAuth2Api":{"id":"rH9X3hwyo6ibVgIA","name":"Google Drive account"}}},{"parameters":{"jsCode":"const doc = $('Upload to Drive').item.json;\nconst docId = doc.id;\nconst webViewLink = 'https://docs.google.com/document/d/' + docId + '/edit';\nreturn [{ json: { webViewLink, documentId: docId } }];"},"id":"ss-build-resp","name":"Build Response","type":"n8n-nodes-base.code","position":[2000,0],"typeVersion":2}],"connections":{"Webhook":{"main":[[{"node":"Fetch User","type":"main","index":0}]]},"Fetch User":{"main":[[{"node":"Search Client Folder","type":"main","index":0}],[{"node":"Respond Error","type":"main","index":0}]]},"Search Client Folder":{"main":[[{"node":"Search Content Folder","type":"main","index":0}]]},"Search Content Folder":{"main":[[{"node":"Resolve Folder Name","type":"main","index":0}]]},"Resolve Folder Name":{"main":[[{"node":"Search Format Folder","type":"main","index":0}]]},"Search Format Folder":{"main":[[{"node":"Folder Exists?","type":"main","index":0}]]},"Folder Exists?":{"main":[[{"node":"Pick Folder","type":"main","index":0}],[{"node":"Create Format Folder","type":"main","index":0}]]},"Create Format Folder":{"main":[[{"node":"Pick Folder","type":"main","index":0}]]},"Pick Folder":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Build Upload","type":"main","index":0}]]},"Build Upload":{"main":[[{"node":"Upload to Drive","type":"main","index":0}]]},"Upload to Drive":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond Success","type":"main","index":0}]]}},"authors":"Ben van Steenbergen","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-14T18:49:33.423Z","id":895,"workflowId":"qhWScWiAyoKpgZKX","versionId":"8638d33d-a93d-4b9c-88cf-ea6768017802","event":"activated","userId":"64e933f4-3ff2-4261-8186-b09ac50d85ed"},{"createdAt":"2026-05-14T19:38:27.382Z","id":906,"workflowId":"qhWScWiAyoKpgZKX","versionId":"8638d33d-a93d-4b9c-88cf-ea6768017802","event":"deactivated","userId":"64e933f4-3ff2-4261-8186-b09ac50d85ed"},{"createdAt":"2026-05-14T19:38:27.464Z","id":907,"workflowId":"qhWScWiAyoKpgZKX","versionId":"8638d33d-a93d-4b9c-88cf-ea6768017802","event":"activated","userId":"64e933f4-3ff2-4261-8186-b09ac50d85ed"}]}}