docs/n8n/backups/studio-message-20260608-203633.json
{"updatedAt":"2026-05-15T08:05:43.547Z","createdAt":"2026-05-11T13:46:29.402Z","id":"axdg9OFz7eAMM5dU","name":"studio-message","description":"","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"studio-message","responseMode":"responseNode","options":{},"httpMethod":"POST"},"id":"sm-webhook","name":"Webhook","type":"n8n-nodes-base.webhook","position":[-600,100],"webhookId":"sm-webhook-001","typeVersion":2},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":"dbf8RGXgL1Up2KzF","cachedResultName":"jwt-validation"},"workflowInputs":{"value":{"cookie":"={{ $json.headers.cookie }}"},"schema":[{"id":"cookie","type":"string","display":true,"removed":false,"required":false,"displayName":"cookie","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["cookie"],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"sm-auth","name":"Fetch User","type":"n8n-nodes-base.executeWorkflow","position":[-400,100],"typeVersion":1.2,"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT profile_summary, persona_doc_id, templates_folder_id FROM company_profiles WHERE client_id = '{{ $json.client }}' AND user_id = '{{ $json.user_id }}' LIMIT 1","options":{}},"id":"sm-profile","name":"Load Profile","type":"n8n-nodes-base.postgres","position":[-200,0],"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT role, content FROM live_messages \nWHERE conversation_id = NULLIF(NULLIF(NULLIF('{{ $('Webhook').item.json.body.conversationId }}', ''), 'null'), 'undefined')::uuid \nORDER BY created_at ASC LIMIT 40","options":{}},"id":"sm-history","name":"Load History","type":"n8n-nodes-base.postgres","position":[-200,200],"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"jsCode":"const body = $('Webhook').item.json.body;\nconst profile = $('Load Profile').item.json;\nconst userMessage = body.message;\nconst contentFormat = body.contentFormat || null;\n\n// Flags from frontend (default true if not provided)\nconst useKnowledgeBase = body.useKnowledgeBase !== false;\nconst usePersonalVoice = body.usePersonalVoice !== false;\n\nconst genericStyle = 'Write in a professional, clear, and approachable tone. Use active voice. Be concise but thorough. Avoid jargon unless the audience expects it. Structure content with clear headings and short paragraphs.';\n\n// Get persona doc content (full brand voice document from Google Drive)\nlet personaDocText = '';\ntry {\n  const personaDoc = $('Load Persona Doc').first().json;\n  if (personaDoc && personaDoc.body && personaDoc.body.content) {\n    // Google Docs API returns structured content, extract text\n    const content = personaDoc.body.content;\n    for (const element of content) {\n      if (element.paragraph && element.paragraph.elements) {\n        for (const el of element.paragraph.elements) {\n          if (el.textRun && el.textRun.content) {\n            personaDocText += el.textRun.content;\n          }\n        }\n      }\n    }\n  } else if (personaDoc && personaDoc.content) {\n    // Simpler format - plain text content\n    personaDocText = personaDoc.content;\n  }\n} catch(e) {\n  personaDocText = '';\n}\n\n// Get persona summary as fallback\nlet profileSummary = {};\ntry {\n  if (profile && profile.profile_summary) {\n    profileSummary = typeof profile.profile_summary === 'string'\n      ? JSON.parse(profile.profile_summary)\n      : profile.profile_summary;\n  }\n} catch(e) {\n  profileSummary = {};\n}\n\nconst cleanProfile = { ...profileSummary };\ndelete cleanProfile._conversation;\ndelete cleanProfile.completeness;\n\n// Load conversation history\nconst historyItems = $('Load History').all();\nlet historyText = '';\nif (historyItems && historyItems.length > 0 && historyItems[0].json.role) {\n  historyText = '=== CONVERSATION SO FAR ===\\n';\n  for (const item of historyItems) {\n    if (!item.json.role) continue;\n    const label = item.json.role === 'user' ? 'User' : 'You (assistant)';\n    historyText += label + ': ' + item.json.content + '\\n\\n';\n  }\n  historyText += '=== END OF HISTORY ===\\n\\n';\n}\n\n// Format template info\nlet formatContext = '';\nif (contentFormat) {\n  const formatLabels = {\n    'blog-post': 'Blog Post',\n    'case-study': 'Case Study',\n    'product-sheet': 'Product Sheet',\n    'social-media': 'Social Media Post',\n    'email-campaign': 'Email Campaign',\n    'press-release': 'Press Release'\n  };\n  formatContext = '\\n## Content Format\\nThe user wants to create: ' + (formatLabels[contentFormat] || contentFormat) + '\\n';\n}\n\n// Build conversation ID\nfunction uuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst conversationId = body.conversationId || uuid();\nconst isNewConversation = !body.conversationId;\n\n// Fallback: build voice guidance from profile summary when persona doc is missing\nlet fallbackVoice = genericStyle;\nif (cleanProfile.tone_keywords && cleanProfile.tone_keywords.length > 0) {\n  fallbackVoice = 'Write in the following tone and voice: ' + cleanProfile.tone_keywords.join(', ') + '.';\n  if (cleanProfile.audience) {\n    fallbackVoice += ' Target audience: ' + cleanProfile.audience + '.';\n  }\n  if (cleanProfile.name) {\n    fallbackVoice += ' Company: ' + cleanProfile.name + '.';\n  }\n  if (cleanProfile.industry) {\n    fallbackVoice += ' Industry: ' + cleanProfile.industry + '.';\n  }\n  fallbackVoice += ' ' + genericStyle;\n}\n\nreturn [{\n  json: {\n    query: historyText + 'User says now: ' + userMessage,\n    conversationId,\n    isNewConversation,\n    userMessage,\n    contentFormat,\n    formatContext,\n    personaDocText: usePersonalVoice ? (personaDocText.trim() || fallbackVoice) : genericStyle,\n    brandProfile: JSON.stringify(cleanProfile),\n    clientKey: $('Fetch User').item.json.client,\n    userId: $('Fetch User').item.json.user_id,\n    useKnowledgeBase,\n    usePersonalVoice\n  }\n}];"},"id":"sm-prompt","name":"Build Prompt","type":"n8n-nodes-base.code","position":[0,100],"typeVersion":2},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"You are a professional content creation assistant for a company. You write in their brand voice.\n\n## Brand Voice Document\n{{ $json.personaDocText }}\n\n## Brand Profile Summary\n{{ $json.brandProfile }}\n{{ $json.formatContext }}\n\n## Knowledge Base\n{{ $json.useKnowledgeBase ? 'You have access to two knowledge base search tools (Company KB and Private KB).\\n- BEFORE making factual claims about the company, its products, services, or policies, search the knowledge base.\\n- Always search BOTH stores for complete coverage.\\n- If information is not found in the knowledge base, say so honestly. Do not fabricate facts.\\n- Cite sources at the end of your response using: Sources:\\n- [Document Title]' : 'Knowledge base search is DISABLED for this conversation. Do not use the search tools. If the user asks something that requires company-specific facts, tell them to enable the knowledge base toggle.' }}\n\n## Your Approach\n1. You know this company intimately from the brand voice document above. Never ask who they are.\n2. If the user asks to create content, ask ONE focused question at a time about THIS specific piece.\n3. When you have enough info, {{ $json.useKnowledgeBase ? 'search the knowledge base for relevant facts, then ' : '' }}produce COMPLETE content.\n4. Follow the brand voice document precisely — tone, word choice, structure, style.\n5. Wrap final drafts in ===DRAFT=== markers.\n6. After a draft: \"Anything you'd like me to adjust?\"\n\n## Quick Choices\nWhen your question has a natural set of options (closed question), offer clickable choices:\n\n===CHOICES===\nOption A | Option B | Option C\n===CHOICES===\n\nGood moments for choices:\n- Tone or style (\"Formeel | Casual | Speels\")\n- Content angle (\"Focus op features | Focus op klantvoordeel | Focus op ROI\")\n- Confirmations (\"Ja, schrijf het uit | Nee, pas eerst aan\")\n- A/B draft preferences\n\nDo NOT use choices when the question is open-ended and the user needs to provide their own input (e.g. \"What product is this about?\", \"Who is the target audience?\"). Just ask the question normally.\n\nKeep choices short (max ~8 words each). Use 2-4 options, separated by | on a single line. Write choices in the same language as the conversation.\n\n## Rules\n- Write in the language the user writes in\n- Follow brand voice precisely — if the doc says \"gebruik niet\", don't use those words\n- Follow format template structure when provided\n- ONLY 1 question per response — never stack multiple questions\n- Be conversational and helpful, not stiff\n- When producing a draft, make it complete and ready to publish\n- NEVER repeat questions already answered in conversation history\n- Pay attention to the conversation history between === markers\n- When citing knowledge base sources, list them at the very end after all other content"}},"id":"sm-agent","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[200,100],"typeVersion":3},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{"maxTokensToSample":4096}},"id":"sm-model","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","position":[200,300],"typeVersion":1.3,"credentials":{"anthropicApi":{"id":"zvfIJSmp6pElXMtZ","name":"Anthropic account"}}},{"parameters":{"jsCode":"const agentOutput = $('AI Agent').item.json.output;\nconst prevData = $('Build Prompt').item.json;\n\nconst content = agentOutput;\n\nlet hasDraft = false;\nlet draftContent = null;\nconst draftMatch = content.match(/===DRAFT===\\n?([\\s\\S]*?)\\n?===DRAFT===/);\nif (draftMatch) {\n  hasDraft = true;\n  draftContent = draftMatch[1].trim();\n}\n\n// Extract sources from AI output\nlet sources = [];\nconst sourcesMatch = content.match(/Sources:\\s*\\n((?:\\s*-\\s*\\[.+?\\]\\s*\\n?)+)/);\nif (sourcesMatch) {\n  const sourceLines = sourcesMatch[1].trim().split('\\n');\n  for (const line of sourceLines) {\n    const titleMatch = line.match(/\\[\\s*(.+?)\\s*\\]/);\n    if (titleMatch) {\n      sources.push({ title: titleMatch[1] });\n    }\n  }\n}\n\n// Escape single quotes for SQL safety\nfunction sqlEscape(str) {\n  if (str == null || str === '') return '';\n  return str.replace(/'/g, \"''\");\n}\n\nconst responseObj = {\n  content,\n  conversationId: prevData.conversationId,\n  hasDraft,\n  draftContent,\n  sources: sources.length > 0 ? sources : undefined\n};\n\nreturn [{\n  json: {\n    ...responseObj,\n    responseJson: JSON.stringify(responseObj),\n    userMessageSafe: sqlEscape(prevData.userMessage),\n    contentSafe: sqlEscape(content),\n    clientKey: prevData.clientKey,\n    userId: prevData.userId,\n    isNewConversation: prevData.isNewConversation,\n    contentFormat: prevData.contentFormat\n  }\n}];"},"id":"sm-parse","name":"Parse Response","type":"n8n-nodes-base.code","position":[400,100],"typeVersion":2},{"parameters":{"operation":"executeQuery","query":"INSERT INTO live_conversations (id, client_id, user_id, status, mode, summary, last_message_at) \nVALUES (\n  '{{ $json.conversationId }}'::uuid, \n  '{{ $json.clientKey }}', \n  '{{ $json.userId }}'::uuid, \n  'active', 'sandbox', LEFT('{{ $json.userMessageSafe }}', 100), NOW()\n) ON CONFLICT (id) DO UPDATE SET \n  last_message_at = NOW(), \n  summary = LEFT('{{ $json.userMessageSafe }}', 100)"},"id":"sm-save-convo","name":"Save Conversation","type":"n8n-nodes-base.postgres","position":[600,0],"typeVersion":2.6,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO live_messages (conversation_id, role, content) VALUES ('{{ $('Parse Response').item.json.conversationId }}'::uuid, 'user', '{{ $('Parse Response').item.json.userMessageSafe }}')"},"id":"sm-save-user","name":"Save User Message","type":"n8n-nodes-base.postgres","position":[800,-50],"typeVersion":2.6,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO live_messages (conversation_id, role, content) VALUES ('{{ $('Parse Response').item.json.conversationId }}'::uuid, 'assistant', '{{ $('Parse Response').item.json.contentSafe }}')"},"id":"sm-save-assistant","name":"Save Assistant Message","type":"n8n-nodes-base.postgres","position":[800,150],"typeVersion":2.6,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ $('Parse Response').item.json.responseJson }}","options":{}},"id":"sm-respond-ok","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","position":[1000,100],"typeVersion":1.4},{"parameters":{"respondWith":"json","responseBody":"{\"error\": \"unauthorized\"}","options":{"responseCode":401}},"id":"sm-respond-err","name":"Respond Error","type":"n8n-nodes-base.respondToWebhook","position":[-200,400],"typeVersion":1.4},{"parameters":{"operation":"get","documentURL":"={{ $('Load Profile').item.json.persona_doc_id }}"},"id":"sm-load-persona","name":"Load Persona Doc","type":"n8n-nodes-base.googleDocs","position":[-50,-200],"typeVersion":2,"credentials":{"googleDocsOAuth2Api":{"id":"DBvurnNrV4xJDryL","name":"Google Docs account"}},"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"WEAVIATE HYBRID SEARCH - Company KB\n\nPurpose\n- Use this tool to retrieve factual, company-specific information from the knowledge base.\n- Answers must be based on retrieved content only (no guessing).\n\nWhen to use\n- Use for any question that depends on internal documents, policies, pricing, contracts, specs, processes, or past decisions.\n- If you need to make a factual claim about the company, search first.\n\nCritical multi-store rule\n- This tool searches ONLY this one vector store.\n- For complete answers you MUST query BOTH vector stores (Company KB + Private KB) before responding, unless the user explicitly restricts the scope.\n\nHow to query\n- Provide a semantic query describing the user’s information need (not keywords only).\n- Use the user’s language (NL/EN). You may include 2–4 close synonyms if it helps recall.\n- Start broad, then refine with a second query if results are weak or incomplete.\n\nInputs\n- query (required): semantic search query\n- limit (default 10): increase if you need more coverage\n- alpha (default 0.75): semantic-heavy; keep unless you have a reason\n\nHow to use results\n- Prefer the most directly relevant chunks; cross-check across documents if there’s ambiguity.\n- If documents disagree, say so and cite both.\n- If nothing relevant is found, say: “I cannot find that information in the available documents.”\n\nCitation requirement (use doc titles from results)\n- Always cite the exact document title(s) you used.\n- If no documents were used, do not add sources.\n\nCite format (append at end)\nSources:\n- [Exact Document Title]\n- [Exact Document Title]","weaviateCollection":{"__rl":true,"value":"Documents","mode":"list","cachedResultName":"Documents"},"topK":25,"options":{"tenant":"=client_{{ $('Fetch User').item.json.client }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreWeaviate","typeVersion":1.3,"position":[200,500],"id":"sm-kb-company","name":"Weaviate Vector Company KB","credentials":{"weaviateApi":{"id":"lI7IxbqgzQDQr8Tv","name":"Weaviate Credentials (document-store)"}},"onError":"continueRegularOutput","alwaysOutputData":true},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"WEAVIATE HYBRID SEARCH - Private KB\n\nPurpose\n- Use this tool to retrieve factual, company-specific information from the knowledge base.\n- Answers must be based on retrieved content only (no guessing).\n\nWhen to use\n- Use for any question that depends on internal documents, policies, pricing, contracts, specs, processes, or past decisions.\n- If you need to make a factual claim about the company, search first.\n\nCritical multi-store rule\n- This tool searches ONLY this one vector store.\n- For complete answers you MUST query BOTH vector stores (Company KB + Private KB) before responding, unless the user explicitly restricts the scope.\n\nHow to query\n- Provide a semantic query describing the user’s information need (not keywords only).\n- Use the user’s language (NL/EN). You may include 2–4 close synonyms if it helps recall.\n- Start broad, then refine with a second query if results are weak or incomplete.\n\nInputs\n- query (required): semantic search query\n- limit (default 10): increase if you need more coverage\n- alpha (default 0.75): semantic-heavy; keep unless you have a reason\n\nHow to use results\n- Prefer the most directly relevant chunks; cross-check across documents if there’s ambiguity.\n- If documents disagree, say so and cite both.\n- If nothing relevant is found, say: “I cannot find that information in the available documents.”\n\nCitation requirement (use doc titles from results)\n- Always cite the exact document title(s) you used.\n- If no documents were used, do not add sources.\n\nCite format (append at end)\nSources:\n- [Exact Document Title]\n- [Exact Document Title]","weaviateCollection":{"__rl":true,"value":"Documents","mode":"list","cachedResultName":"Documents"},"topK":25,"options":{"tenant":"=user_{{ $('Fetch User').item.json.user_id }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreWeaviate","typeVersion":1.3,"position":[450,500],"id":"sm-kb-private","name":"Weaviate Vector Private KB","credentials":{"weaviateApi":{"id":"lI7IxbqgzQDQr8Tv","name":"Weaviate Credentials (document-store)"}},"onError":"continueRegularOutput","alwaysOutputData":true},{"parameters":{"modelName":"models/gemini-embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[200,700],"id":"sm-embed-company","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"eunCJWxYZJuIkFYL","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[450,700],"id":"sm-embed-private","name":"Embeddings Google Gemini1","credentials":{"googlePalmApi":{"id":"eunCJWxYZJuIkFYL","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Webhook":{"main":[[{"node":"Fetch User","type":"main","index":0}]]},"Fetch User":{"main":[[{"node":"Load Profile","type":"main","index":0}],[{"node":"Respond Error","type":"main","index":0}]]},"Load Profile":{"main":[[{"node":"Load Persona Doc","type":"main","index":0}]]},"Load History":{"main":[[{"node":"Build Prompt","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]],"main":[]},"AI Agent":{"main":[[{"node":"Parse Response","type":"main","index":0}]]},"Parse Response":{"main":[[{"node":"Save Conversation","type":"main","index":0}]]},"Save Conversation":{"main":[[{"node":"Save User Message","type":"main","index":0},{"node":"Save Assistant Message","type":"main","index":0}]]},"Save User Message":{"main":[[{"node":"Respond Success","type":"main","index":0}]]},"Save Assistant Message":{"main":[[{"node":"Respond Success","type":"main","index":0}]]},"Load Persona Doc":{"main":[[{"node":"Load History","type":"main","index":0}]]},"Weaviate Vector Company KB":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Weaviate Vector Private KB":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Weaviate Vector Company KB","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Weaviate Vector Private KB","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"79c036e3-387a-4771-89cf-bbaff0b27400","activeVersionId":"79c036e3-387a-4771-89cf-bbaff0b27400","versionCounter":134,"triggerCount":1,"shared":[{"updatedAt":"2026-05-11T13:46:29.619Z","createdAt":"2026-05-11T13:46:29.619Z","role":"workflow:owner","workflowId":"axdg9OFz7eAMM5dU","projectId":"5wB8K4Dwm33EnlQ1","project":{"updatedAt":"2025-07-21T19:35:37.093Z","createdAt":"2025-06-12T18:54:37.299Z","id":"5wB8K4Dwm33EnlQ1","name":"Wingsuite Root Folder","type":"team","icon":{"type":"icon","value":"layer-group"},"description":"Wingsuite Roots","creatorId":null}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-15T08:05:43.548Z","createdAt":"2026-05-15T08:05:43.548Z","versionId":"79c036e3-387a-4771-89cf-bbaff0b27400","workflowId":"axdg9OFz7eAMM5dU","nodes":[{"parameters":{"path":"studio-message","responseMode":"responseNode","options":{},"httpMethod":"POST"},"id":"sm-webhook","name":"Webhook","type":"n8n-nodes-base.webhook","position":[-600,100],"webhookId":"sm-webhook-001","typeVersion":2},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":"dbf8RGXgL1Up2KzF","cachedResultName":"jwt-validation"},"workflowInputs":{"value":{"cookie":"={{ $json.headers.cookie }}"},"schema":[{"id":"cookie","type":"string","display":true,"removed":false,"required":false,"displayName":"cookie","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["cookie"],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"sm-auth","name":"Fetch User","type":"n8n-nodes-base.executeWorkflow","position":[-400,100],"typeVersion":1.2,"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT profile_summary, persona_doc_id, templates_folder_id FROM company_profiles WHERE client_id = '{{ $json.client }}' AND user_id = '{{ $json.user_id }}' LIMIT 1","options":{}},"id":"sm-profile","name":"Load Profile","type":"n8n-nodes-base.postgres","position":[-200,0],"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT role, content FROM live_messages \nWHERE conversation_id = NULLIF(NULLIF(NULLIF('{{ $('Webhook').item.json.body.conversationId }}', ''), 'null'), 'undefined')::uuid \nORDER BY created_at ASC LIMIT 40","options":{}},"id":"sm-history","name":"Load History","type":"n8n-nodes-base.postgres","position":[-200,200],"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"jsCode":"const body = $('Webhook').item.json.body;\nconst profile = $('Load Profile').item.json;\nconst userMessage = body.message;\nconst contentFormat = body.contentFormat || null;\n\n// Flags from frontend (default true if not provided)\nconst useKnowledgeBase = body.useKnowledgeBase !== false;\nconst usePersonalVoice = body.usePersonalVoice !== false;\n\nconst genericStyle = 'Write in a professional, clear, and approachable tone. Use active voice. Be concise but thorough. Avoid jargon unless the audience expects it. Structure content with clear headings and short paragraphs.';\n\n// Get persona doc content (full brand voice document from Google Drive)\nlet personaDocText = '';\ntry {\n  const personaDoc = $('Load Persona Doc').first().json;\n  if (personaDoc && personaDoc.body && personaDoc.body.content) {\n    // Google Docs API returns structured content, extract text\n    const content = personaDoc.body.content;\n    for (const element of content) {\n      if (element.paragraph && element.paragraph.elements) {\n        for (const el of element.paragraph.elements) {\n          if (el.textRun && el.textRun.content) {\n            personaDocText += el.textRun.content;\n          }\n        }\n      }\n    }\n  } else if (personaDoc && personaDoc.content) {\n    // Simpler format - plain text content\n    personaDocText = personaDoc.content;\n  }\n} catch(e) {\n  personaDocText = '';\n}\n\n// Get persona summary as fallback\nlet profileSummary = {};\ntry {\n  if (profile && profile.profile_summary) {\n    profileSummary = typeof profile.profile_summary === 'string'\n      ? JSON.parse(profile.profile_summary)\n      : profile.profile_summary;\n  }\n} catch(e) {\n  profileSummary = {};\n}\n\nconst cleanProfile = { ...profileSummary };\ndelete cleanProfile._conversation;\ndelete cleanProfile.completeness;\n\n// Load conversation history\nconst historyItems = $('Load History').all();\nlet historyText = '';\nif (historyItems && historyItems.length > 0 && historyItems[0].json.role) {\n  historyText = '=== CONVERSATION SO FAR ===\\n';\n  for (const item of historyItems) {\n    if (!item.json.role) continue;\n    const label = item.json.role === 'user' ? 'User' : 'You (assistant)';\n    historyText += label + ': ' + item.json.content + '\\n\\n';\n  }\n  historyText += '=== END OF HISTORY ===\\n\\n';\n}\n\n// Format template info\nlet formatContext = '';\nif (contentFormat) {\n  const formatLabels = {\n    'blog-post': 'Blog Post',\n    'case-study': 'Case Study',\n    'product-sheet': 'Product Sheet',\n    'social-media': 'Social Media Post',\n    'email-campaign': 'Email Campaign',\n    'press-release': 'Press Release'\n  };\n  formatContext = '\\n## Content Format\\nThe user wants to create: ' + (formatLabels[contentFormat] || contentFormat) + '\\n';\n}\n\n// Build conversation ID\nfunction uuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst conversationId = body.conversationId || uuid();\nconst isNewConversation = !body.conversationId;\n\n// Fallback: build voice guidance from profile summary when persona doc is missing\nlet fallbackVoice = genericStyle;\nif (cleanProfile.tone_keywords && cleanProfile.tone_keywords.length > 0) {\n  fallbackVoice = 'Write in the following tone and voice: ' + cleanProfile.tone_keywords.join(', ') + '.';\n  if (cleanProfile.audience) {\n    fallbackVoice += ' Target audience: ' + cleanProfile.audience + '.';\n  }\n  if (cleanProfile.name) {\n    fallbackVoice += ' Company: ' + cleanProfile.name + '.';\n  }\n  if (cleanProfile.industry) {\n    fallbackVoice += ' Industry: ' + cleanProfile.industry + '.';\n  }\n  fallbackVoice += ' ' + genericStyle;\n}\n\nreturn [{\n  json: {\n    query: historyText + 'User says now: ' + userMessage,\n    conversationId,\n    isNewConversation,\n    userMessage,\n    contentFormat,\n    formatContext,\n    personaDocText: usePersonalVoice ? (personaDocText.trim() || fallbackVoice) : genericStyle,\n    brandProfile: JSON.stringify(cleanProfile),\n    clientKey: $('Fetch User').item.json.client,\n    userId: $('Fetch User').item.json.user_id,\n    useKnowledgeBase,\n    usePersonalVoice\n  }\n}];"},"id":"sm-prompt","name":"Build Prompt","type":"n8n-nodes-base.code","position":[0,100],"typeVersion":2},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"You are a professional content creation assistant for a company. You write in their brand voice.\n\n## Brand Voice Document\n{{ $json.personaDocText }}\n\n## Brand Profile Summary\n{{ $json.brandProfile }}\n{{ $json.formatContext }}\n\n## Knowledge Base\n{{ $json.useKnowledgeBase ? 'You have access to two knowledge base search tools (Company KB and Private KB).\\n- BEFORE making factual claims about the company, its products, services, or policies, search the knowledge base.\\n- Always search BOTH stores for complete coverage.\\n- If information is not found in the knowledge base, say so honestly. Do not fabricate facts.\\n- Cite sources at the end of your response using: Sources:\\n- [Document Title]' : 'Knowledge base search is DISABLED for this conversation. Do not use the search tools. If the user asks something that requires company-specific facts, tell them to enable the knowledge base toggle.' }}\n\n## Your Approach\n1. You know this company intimately from the brand voice document above. Never ask who they are.\n2. If the user asks to create content, ask ONE focused question at a time about THIS specific piece.\n3. When you have enough info, {{ $json.useKnowledgeBase ? 'search the knowledge base for relevant facts, then ' : '' }}produce COMPLETE content.\n4. Follow the brand voice document precisely — tone, word choice, structure, style.\n5. Wrap final drafts in ===DRAFT=== markers.\n6. After a draft: \"Anything you'd like me to adjust?\"\n\n## Quick Choices\nWhen your question has a natural set of options (closed question), offer clickable choices:\n\n===CHOICES===\nOption A | Option B | Option C\n===CHOICES===\n\nGood moments for choices:\n- Tone or style (\"Formeel | Casual | Speels\")\n- Content angle (\"Focus op features | Focus op klantvoordeel | Focus op ROI\")\n- Confirmations (\"Ja, schrijf het uit | Nee, pas eerst aan\")\n- A/B draft preferences\n\nDo NOT use choices when the question is open-ended and the user needs to provide their own input (e.g. \"What product is this about?\", \"Who is the target audience?\"). Just ask the question normally.\n\nKeep choices short (max ~8 words each). Use 2-4 options, separated by | on a single line. Write choices in the same language as the conversation.\n\n## Rules\n- Write in the language the user writes in\n- Follow brand voice precisely — if the doc says \"gebruik niet\", don't use those words\n- Follow format template structure when provided\n- ONLY 1 question per response — never stack multiple questions\n- Be conversational and helpful, not stiff\n- When producing a draft, make it complete and ready to publish\n- NEVER repeat questions already answered in conversation history\n- Pay attention to the conversation history between === markers\n- When citing knowledge base sources, list them at the very end after all other content"}},"id":"sm-agent","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[200,100],"typeVersion":3},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{"maxTokensToSample":4096}},"id":"sm-model","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","position":[200,300],"typeVersion":1.3,"credentials":{"anthropicApi":{"id":"zvfIJSmp6pElXMtZ","name":"Anthropic account"}}},{"parameters":{"jsCode":"const agentOutput = $('AI Agent').item.json.output;\nconst prevData = $('Build Prompt').item.json;\n\nconst content = agentOutput;\n\nlet hasDraft = false;\nlet draftContent = null;\nconst draftMatch = content.match(/===DRAFT===\\n?([\\s\\S]*?)\\n?===DRAFT===/);\nif (draftMatch) {\n  hasDraft = true;\n  draftContent = draftMatch[1].trim();\n}\n\n// Extract sources from AI output\nlet sources = [];\nconst sourcesMatch = content.match(/Sources:\\s*\\n((?:\\s*-\\s*\\[.+?\\]\\s*\\n?)+)/);\nif (sourcesMatch) {\n  const sourceLines = sourcesMatch[1].trim().split('\\n');\n  for (const line of sourceLines) {\n    const titleMatch = line.match(/\\[\\s*(.+?)\\s*\\]/);\n    if (titleMatch) {\n      sources.push({ title: titleMatch[1] });\n    }\n  }\n}\n\n// Escape single quotes for SQL safety\nfunction sqlEscape(str) {\n  if (str == null || str === '') return '';\n  return str.replace(/'/g, \"''\");\n}\n\nconst responseObj = {\n  content,\n  conversationId: prevData.conversationId,\n  hasDraft,\n  draftContent,\n  sources: sources.length > 0 ? sources : undefined\n};\n\nreturn [{\n  json: {\n    ...responseObj,\n    responseJson: JSON.stringify(responseObj),\n    userMessageSafe: sqlEscape(prevData.userMessage),\n    contentSafe: sqlEscape(content),\n    clientKey: prevData.clientKey,\n    userId: prevData.userId,\n    isNewConversation: prevData.isNewConversation,\n    contentFormat: prevData.contentFormat\n  }\n}];"},"id":"sm-parse","name":"Parse Response","type":"n8n-nodes-base.code","position":[400,100],"typeVersion":2},{"parameters":{"operation":"executeQuery","query":"INSERT INTO live_conversations (id, client_id, user_id, status, mode, summary, last_message_at) \nVALUES (\n  '{{ $json.conversationId }}'::uuid, \n  '{{ $json.clientKey }}', \n  '{{ $json.userId }}'::uuid, \n  'active', 'sandbox', LEFT('{{ $json.userMessageSafe }}', 100), NOW()\n) ON CONFLICT (id) DO UPDATE SET \n  last_message_at = NOW(), \n  summary = LEFT('{{ $json.userMessageSafe }}', 100)"},"id":"sm-save-convo","name":"Save Conversation","type":"n8n-nodes-base.postgres","position":[600,0],"typeVersion":2.6,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO live_messages (conversation_id, role, content) VALUES ('{{ $('Parse Response').item.json.conversationId }}'::uuid, 'user', '{{ $('Parse Response').item.json.userMessageSafe }}')"},"id":"sm-save-user","name":"Save User Message","type":"n8n-nodes-base.postgres","position":[800,-50],"typeVersion":2.6,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO live_messages (conversation_id, role, content) VALUES ('{{ $('Parse Response').item.json.conversationId }}'::uuid, 'assistant', '{{ $('Parse Response').item.json.contentSafe }}')"},"id":"sm-save-assistant","name":"Save Assistant Message","type":"n8n-nodes-base.postgres","position":[800,150],"typeVersion":2.6,"credentials":{"postgres":{"id":"HY5nJozYRhfP29Se","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ $('Parse Response').item.json.responseJson }}","options":{}},"id":"sm-respond-ok","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","position":[1000,100],"typeVersion":1.4},{"parameters":{"respondWith":"json","responseBody":"{\"error\": \"unauthorized\"}","options":{"responseCode":401}},"id":"sm-respond-err","name":"Respond Error","type":"n8n-nodes-base.respondToWebhook","position":[-200,400],"typeVersion":1.4},{"parameters":{"operation":"get","documentURL":"={{ $('Load Profile').item.json.persona_doc_id }}"},"id":"sm-load-persona","name":"Load Persona Doc","type":"n8n-nodes-base.googleDocs","position":[-50,-200],"typeVersion":2,"credentials":{"googleDocsOAuth2Api":{"id":"DBvurnNrV4xJDryL","name":"Google Docs account"}},"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"WEAVIATE HYBRID SEARCH - Company KB\n\nPurpose\n- Use this tool to retrieve factual, company-specific information from the knowledge base.\n- Answers must be based on retrieved content only (no guessing).\n\nWhen to use\n- Use for any question that depends on internal documents, policies, pricing, contracts, specs, processes, or past decisions.\n- If you need to make a factual claim about the company, search first.\n\nCritical multi-store rule\n- This tool searches ONLY this one vector store.\n- For complete answers you MUST query BOTH vector stores (Company KB + Private KB) before responding, unless the user explicitly restricts the scope.\n\nHow to query\n- Provide a semantic query describing the user’s information need (not keywords only).\n- Use the user’s language (NL/EN). You may include 2–4 close synonyms if it helps recall.\n- Start broad, then refine with a second query if results are weak or incomplete.\n\nInputs\n- query (required): semantic search query\n- limit (default 10): increase if you need more coverage\n- alpha (default 0.75): semantic-heavy; keep unless you have a reason\n\nHow to use results\n- Prefer the most directly relevant chunks; cross-check across documents if there’s ambiguity.\n- If documents disagree, say so and cite both.\n- If nothing relevant is found, say: “I cannot find that information in the available documents.”\n\nCitation requirement (use doc titles from results)\n- Always cite the exact document title(s) you used.\n- If no documents were used, do not add sources.\n\nCite format (append at end)\nSources:\n- [Exact Document Title]\n- [Exact Document Title]","weaviateCollection":{"__rl":true,"value":"Documents","mode":"list","cachedResultName":"Documents"},"topK":25,"options":{"tenant":"=client_{{ $('Fetch User').item.json.client }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreWeaviate","typeVersion":1.3,"position":[200,500],"id":"sm-kb-company","name":"Weaviate Vector Company KB","credentials":{"weaviateApi":{"id":"lI7IxbqgzQDQr8Tv","name":"Weaviate Credentials (document-store)"}},"onError":"continueRegularOutput","alwaysOutputData":true},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"WEAVIATE HYBRID SEARCH - Private KB\n\nPurpose\n- Use this tool to retrieve factual, company-specific information from the knowledge base.\n- Answers must be based on retrieved content only (no guessing).\n\nWhen to use\n- Use for any question that depends on internal documents, policies, pricing, contracts, specs, processes, or past decisions.\n- If you need to make a factual claim about the company, search first.\n\nCritical multi-store rule\n- This tool searches ONLY this one vector store.\n- For complete answers you MUST query BOTH vector stores (Company KB + Private KB) before responding, unless the user explicitly restricts the scope.\n\nHow to query\n- Provide a semantic query describing the user’s information need (not keywords only).\n- Use the user’s language (NL/EN). You may include 2–4 close synonyms if it helps recall.\n- Start broad, then refine with a second query if results are weak or incomplete.\n\nInputs\n- query (required): semantic search query\n- limit (default 10): increase if you need more coverage\n- alpha (default 0.75): semantic-heavy; keep unless you have a reason\n\nHow to use results\n- Prefer the most directly relevant chunks; cross-check across documents if there’s ambiguity.\n- If documents disagree, say so and cite both.\n- If nothing relevant is found, say: “I cannot find that information in the available documents.”\n\nCitation requirement (use doc titles from results)\n- Always cite the exact document title(s) you used.\n- If no documents were used, do not add sources.\n\nCite format (append at end)\nSources:\n- [Exact Document Title]\n- [Exact Document Title]","weaviateCollection":{"__rl":true,"value":"Documents","mode":"list","cachedResultName":"Documents"},"topK":25,"options":{"tenant":"=user_{{ $('Fetch User').item.json.user_id }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreWeaviate","typeVersion":1.3,"position":[450,500],"id":"sm-kb-private","name":"Weaviate Vector Private KB","credentials":{"weaviateApi":{"id":"lI7IxbqgzQDQr8Tv","name":"Weaviate Credentials (document-store)"}},"onError":"continueRegularOutput","alwaysOutputData":true},{"parameters":{"modelName":"models/gemini-embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[200,700],"id":"sm-embed-company","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"eunCJWxYZJuIkFYL","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[450,700],"id":"sm-embed-private","name":"Embeddings Google Gemini1","credentials":{"googlePalmApi":{"id":"eunCJWxYZJuIkFYL","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Webhook":{"main":[[{"node":"Fetch User","type":"main","index":0}]]},"Fetch User":{"main":[[{"node":"Load Profile","type":"main","index":0}],[{"node":"Respond Error","type":"main","index":0}]]},"Load Profile":{"main":[[{"node":"Load Persona Doc","type":"main","index":0}]]},"Load History":{"main":[[{"node":"Build Prompt","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]],"main":[]},"AI Agent":{"main":[[{"node":"Parse Response","type":"main","index":0}]]},"Parse Response":{"main":[[{"node":"Save Conversation","type":"main","index":0}]]},"Save Conversation":{"main":[[{"node":"Save User Message","type":"main","index":0},{"node":"Save Assistant Message","type":"main","index":0}]]},"Save User Message":{"main":[[{"node":"Respond Success","type":"main","index":0}]]},"Save Assistant Message":{"main":[[{"node":"Respond Success","type":"main","index":0}]]},"Load Persona Doc":{"main":[[{"node":"Load History","type":"main","index":0}]]},"Weaviate Vector Company KB":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Weaviate Vector Private KB":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Weaviate Vector Company KB","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Weaviate Vector Private KB","type":"ai_embedding","index":0}]]}},"authors":"Ben van Steenbergen","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-15T08:05:43.760Z","id":940,"workflowId":"axdg9OFz7eAMM5dU","versionId":"79c036e3-387a-4771-89cf-bbaff0b27400","event":"deactivated","userId":"64e933f4-3ff2-4261-8186-b09ac50d85ed"},{"createdAt":"2026-05-15T08:05:43.889Z","id":941,"workflowId":"axdg9OFz7eAMM5dU","versionId":"79c036e3-387a-4771-89cf-bbaff0b27400","event":"activated","userId":"64e933f4-3ff2-4261-8186-b09ac50d85ed"},{"createdAt":"2026-05-15T08:05:44.110Z","id":942,"workflowId":"axdg9OFz7eAMM5dU","versionId":"79c036e3-387a-4771-89cf-bbaff0b27400","event":"deactivated","userId":"64e933f4-3ff2-4261-8186-b09ac50d85ed"},{"createdAt":"2026-05-15T08:05:44.380Z","id":943,"workflowId":"axdg9OFz7eAMM5dU","versionId":"79c036e3-387a-4771-89cf-bbaff0b27400","event":"activated","userId":"64e933f4-3ff2-4261-8186-b09ac50d85ed"}]}}